Repository terraphim/terraphim-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, biome-check

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
# This configuration works with pre-commit, prek, and other compatible tools

repos:
  # General code quality hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        name: Trim trailing whitespace
      - id: end-of-file-fixer
        name: Fix end of files
      - id: check-yaml
        name: Check YAML syntax
      - id: check-toml
        name: Check TOML syntax
      - id: check-json
        name: Check JSON syntax
      - id: check-case-conflict
        name: Check for case conflicts
      - id: check-merge-conflict
        name: Check for merge conflicts
      - id: debug-statements
        name: Check for debug statements
      - id: detect-private-key
        name: Detect private keys
      - id: check-added-large-files
        name: Check for large files
        args: ['--maxkb=1000']

  # Rust-specific hooks
  - repo: local
    hooks:
      - id: cargo-fmt
        name: Cargo format check
        entry: cargo fmt --all -- --check
        language: system
        types: [rust]
        pass_filenames: false
        description: "Check Rust code formatting with cargo fmt"

      - id: cargo-clippy
        name: Cargo clippy
        entry: cargo clippy --workspace --all-targets --all-features -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false
        description: "Run Rust linter with cargo clippy"

      - id: cargo-test
        name: Cargo test
        entry: cargo test --workspace
        language: system
        types: [rust]
        pass_filenames: false
        stages: [manual]
        description: "Run Rust tests (manual stage)"

      - id: cargo-audit
        name: Cargo audit
        entry: cargo audit
        language: system
        pass_filenames: false
        stages: [manual]
        description: "Check for known security vulnerabilities (manual stage)"

  # JavaScript/TypeScript with Biome
  - repo: local
    hooks:
      - id: biome-check
        name: Biome lint and format check
        entry: bash -c 'cd desktop && npx @biomejs/biome check --write false --no-errors-on-unmatched'
        language: system
        files: 'desktop/.*\.(js|ts|tsx|jsx|json|jsonc)$'
        pass_filenames: false
        description: "Check JavaScript/TypeScript formatting and linting with Biome"

      - id: biome-format
        name: Biome format
        entry: bash -c 'cd desktop && npx @biomejs/biome format --write --no-errors-on-unmatched'
        language: system
        files: 'desktop/.*\.(js|ts|tsx|jsx|json|jsonc)$'
        pass_filenames: false
        stages: [manual]
        description: "Auto-format JavaScript/TypeScript with Biome (manual stage)"

  # Conventional commits validation
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v3.0.0
    hooks:
      - id: conventional-pre-commit
        name: Conventional commit format
        stages: [commit-msg]
        args: [
          "--strict",
          "--scopes=feat,fix,docs,style,refactor,perf,test,chore,build,ci,revert"
        ]
        description: "Enforce conventional commit message format"

  # Secret detection
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        name: Detect secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: .*/tests/.*|.*\.lock$|.*\.sum$|.*yarn\.lock$
        description: "Detect secrets in staged code"

# Global exclusions
exclude: |
  (?x)(
    ^target/.*|
    ^desktop/node_modules/.*|
    ^desktop/dist/.*|
    ^desktop/src-tauri/target/.*|
    ^vendor/.*|
    .*\.rs\.bk$|
    ^\.cargo/.*|
    ^artifact/.*
  )

docs: update CI status and chat session history specs
  docs/CI_STATUS_PR179.md
  docs/OPENROUTER_TESTING_PLAN.md
  docs/Untitled.md
  docs/knowledge_graph_1758618546122.md
  docs/specifications/chat-session-history-quickref.md
  docs/specifications/chat-session-history-spec.md
Due: none

test: add chat layout responsive and visual tests
  desktop/scripts/test-chat-layout.sh
  desktop/tests/CHAT_LAYOUT_TEST_PLAN.md
  desktop/tests/e2e/chat-layout-responsive.spec.ts
  desktop/tests/visual/chat-layout-visual.spec.ts
  docs/BUN_REPLACEMENT_IMPLEMENTATION.md
  docs/CONARE_IMPLEMENTATION_SUMMARY.md
  docs/conare-comparison.md
  docs/context-collections.md
  docs/context-engineering-quick-start.md
  docs/context-library/README.md
  docs/mcp-file-context-tools.md
  docs/src/kg/PACKAGE_MANAGER_REPLACEMENT.md
  docs/vibe-rules/README.md
  docs/vibe-rules/global/documentation-standards.md
  docs/vibe-rules/global/naming-conventions.md
  docs/vibe-rules/rust/async-patterns.md
  docs/vibe-rules/rust/error-handling.md
Due: biome-check

fix(ci): use Node 20.19.5 for Playwright compatibility
  desktop/scripts/yarn_and_build.sh
Due: none

fix(ci): copy desktop dist for Tauri clippy check
  Earthfile
Due: none

fix(ci): add libclang for RocksDB build
  Earthfile
Due: none

fix(ci): copy frontend dist to terraphim_server for build
  .github/workflows/ci-native.yml
Due: none

fix(tests): update rolegraph test expectations
  crates/terraphim_rolegraph/src/lib.rs
Due: cargo-fmt, cargo-clippy

Fix syntax errors and clippy warnings
  crates/terraphim_config/src/lib.rs
  crates/terraphim_mcp_server/tests/integration_test.rs
  crates/terraphim_middleware/src/haystack/query_rs.rs
  crates/terraphim_persistence/src/conversation.rs
  crates/terraphim_persistence/src/memory.rs
  crates/terraphim_persistence/src/settings.rs
  terraphim_server/tests/debug_rolegraph.rs
  terraphim_server/tests/rolegraph_visualization_test.rs
Due: cargo-fmt, cargo-clippy

Apply formatting fixes to working files
  crates/terraphim_middleware/src/haystack/query_rs.rs
Due: cargo-fmt, cargo-clippy

Update Cargo.toml files and source code
  crates/terraphim_config/Cargo.toml
  crates/terraphim_config/src/bin/main.rs
  crates/terraphim_middleware/src/haystack/perplexity.rs
  crates/terraphim_persistence/Cargo.toml
  crates/terraphim_persistence/src/lib.rs
  crates/terraphim_service/Cargo.toml
  crates/terraphim_service/src/lib.rs
  crates/terraphim_types/src/lib.rs
Due: cargo-fmt, cargo-clippy

Fix trailing whitespace and end-of-file issues
  crates/terraphim_middleware/src/tests/query_rs_haystack_test.rs
  desktop/src/types/svelte-routing.d.ts
Due: cargo-fmt, cargo-clippy, biome-check

feat: add diagnostic logging for LLM client initialization in TruthForge
  2025-10-07-this-session-is-being-continued-from-a-previous-co.txt
  Cargo.lock
  crates/terraphim_multi_agent/crates/terraphim_settings/default/settings.toml
  crates/terraphim_multi_agent/src/genai_llm_client.rs
  crates/terraphim_multi_agent/src/prompt_sanitizer.rs
  crates/terraphim_multi_agent/tests/dos_prevention_test.rs
  lessons-learned.md
  memories.md
  scratchpad.md
  terraphim_server/Cargo.toml
  terraphim_server/src/lib.rs
Due: cargo-fmt, cargo-clippy

fix: resolve syntax errors and missing fields in test files
  crates/terraphim_mcp_server/tests/integration_test.rs
  crates/terraphim_mcp_server/tests/mcp_autocomplete_e2e_test.rs
  crates/terraphim_mcp_server/tests/mcp_rolegraph_validation_test.rs
  crates/terraphim_middleware/src/lib.rs
  crates/terraphim_middleware/tests/atomic_roles_e2e_test.rs
  crates/terraphim_middleware/tests/haystack_refactor_test.rs
  crates/terraphim_middleware/tests/perplexity_haystack_test.rs
  crates/terraphim_middleware/tests/ripgrep.rs
  crates/terraphim_persistence/tests/redb_persistence_test.rs
  crates/terraphim_service/tests/complete_summarization_workflow_test.rs
  crates/terraphim_service/tests/force_real_llm_test.rs
  crates/terraphim_service/tests/kg_preprocessing_test.rs
  crates/terraphim_service/tests/ollama_llama_integration_test.rs
  crates/terraphim_service/tests/ollama_service_e2e_auto_summarize.rs
  crates/terraphim_service/tests/proof_summarization_works.rs
  crates/terraphim_service/tests/real_ollama_integration_test.rs
  crates/terraphim_service/tests/ui_polling_integration_test.rs
  crates/terraphim_service/tests/weighted_haystack_ranking_test.rs
Due: cargo-fmt, cargo-clippy
