Repository terraphim/terraphim-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, biome-check

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
# This configuration works with pre-commit, prek, and other compatible tools

repos:
  # General code quality hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        name: Trim trailing whitespace
      - id: end-of-file-fixer
        name: Fix end of files
      - id: check-yaml
        name: Check YAML syntax
      - id: check-toml
        name: Check TOML syntax
      - id: check-json
        name: Check JSON syntax
      - id: check-case-conflict
        name: Check for case conflicts
      - id: check-merge-conflict
        name: Check for merge conflicts
      - id: debug-statements
        name: Check for debug statements
      - id: detect-private-key
        name: Detect private keys
      - id: check-added-large-files
        name: Check for large files
        args: ['--maxkb=1000']

  # Rust-specific hooks
  - repo: local
    hooks:
      - id: cargo-fmt
        name: Cargo format check
        entry: cargo fmt --all -- --check
        language: system
        types: [rust]
        pass_filenames: false
        description: "Check Rust code formatting with cargo fmt"

      - id: cargo-clippy
        name: Cargo clippy
        entry: cargo clippy --workspace --all-targets --all-features -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false
        description: "Run Rust linter with cargo clippy"

      - id: cargo-test
        name: Cargo test
        entry: cargo test --workspace
        language: system
        types: [rust]
        pass_filenames: false
        stages: [manual]
        description: "Run Rust tests (manual stage)"

      - id: cargo-audit
        name: Cargo audit
        entry: cargo audit
        language: system
        pass_filenames: false
        stages: [manual]
        description: "Check for known security vulnerabilities (manual stage)"

  # JavaScript/TypeScript with Biome
  - repo: local
    hooks:
      - id: biome-check
        name: Biome lint and format check
        entry: bash -c 'cd desktop && npx @biomejs/biome check --write false --no-errors-on-unmatched'
        language: system
        files: 'desktop/.*\.(js|ts|tsx|jsx|json|jsonc)$'
        pass_filenames: false
        description: "Check JavaScript/TypeScript formatting and linting with Biome"

      - id: biome-format
        name: Biome format
        entry: bash -c 'cd desktop && npx @biomejs/biome format --write --no-errors-on-unmatched'
        language: system
        files: 'desktop/.*\.(js|ts|tsx|jsx|json|jsonc)$'
        pass_filenames: false
        stages: [manual]
        description: "Auto-format JavaScript/TypeScript with Biome (manual stage)"

  # Conventional commits validation
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v3.0.0
    hooks:
      - id: conventional-pre-commit
        name: Conventional commit format
        stages: [commit-msg]
        args: [
          "--strict",
          "--scopes=feat,fix,docs,style,refactor,perf,test,chore,build,ci,revert"
        ]
        description: "Enforce conventional commit message format"

  # Secret detection
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        name: Detect secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: .*/tests/.*|.*\.lock$|.*\.sum$|.*yarn\.lock$
        description: "Detect secrets in staged code"

# Global exclusions
exclude: |
  (?x)(
    ^target/.*|
    ^desktop/node_modules/.*|
    ^desktop/dist/.*|
    ^desktop/src-tauri/target/.*|
    ^vendor/.*|
    .*\.rs\.bk$|
    ^\.cargo/.*|
    ^artifact/.*
  )

test(update): add comprehensive signature verification test suite
  SIGNATURE_VERIFICATION_PROGRESS.md
  crates/terraphim_update/tests/signature_test.rs
Due: cargo-fmt, cargo-clippy

feat(update): add release signing script and integrate into release pipeline
  SIGNATURE_VERIFICATION_PROGRESS.md
  scripts/release.sh
  scripts/sign-release.sh
Due: none

feat(update): integrate signature verification into update flow
  Cargo.lock
  SIGNATURE_VERIFICATION_PROGRESS.md
  crates/terraphim_update/Cargo.toml
  crates/terraphim_update/src/lib.rs
  crates/terraphim_update/src/signature.rs
Due: cargo-fmt, cargo-clippy

feat(update): embed real Ed25519 public key for signature verification
  .github/workflows/release-sign.yml
  .gitignore
  SIGNATURE_VERIFICATION_PROGRESS.md
  crates/terraphim_update/src/signature.rs
  crates/terraphim_update/tests/signature_test.rs
  docs/updates/KEYS.md
  keys/README.md
Due: cargo-fmt, cargo-clippy

docs(progress): mark Step 9 complete - Ed25519 key pair generated and embedded
  SIGNATURE_VERIFICATION_PROGRESS.md
Due: none

feat(signing): integrate 1Password for secure key retrieval
  keys/README.md
  scripts/release.sh
  scripts/sign-release.sh
Due: none

docs(signing): mark Issue #421 complete with security audit passed
  SIGNATURE_VERIFICATION_PROGRESS.md
Due: none

fix(middleware): re-enable grepapp feature and remove dead atomic guards
  Cargo.lock
  crates/terraphim_middleware/Cargo.toml
  crates/terraphim_middleware/src/haystack/mod.rs
  crates/terraphim_middleware/src/indexer/mod.rs
  crates/terraphim_middleware/src/lib.rs
Due: cargo-fmt, cargo-clippy

docs(grepapp): add comprehensive validation and verification reports
  .docs/traceability-grepapp-feature.md
  .docs/validation-report-grepapp-feature.md
  .docs/verification-report-grepapp-feature.md
  docs/development/grepapp-feature.md
Due: none

docs: add RLM implementation session handover
  HANDOVER.md
Due: none

docs: add repl-sessions feature research and design
  .docs/design-repl-sessions-feature.md
  .docs/research-repl-sessions-feature.md
Due: none

chore: update Cargo.lock after merge
  Cargo.lock
Due: none

fix(signing): pass context parameter to verify_tar for signature verification
  .codebuff/agents/.agents/examples/01-basic-diff-reviewer.js
  .codebuff/agents/.agents/examples/02-intermediate-git-committer.js
  .codebuff/agents/.agents/examples/03-advanced-file-explorer.js
  .codebuff/agents/.agents/my-custom-agent.js
  .codebuff/agents/.agents/types/agent-definition.js
  .codebuff/agents/.agents/types/tools.js
  .codebuff/agents/.agents/types/util-types.js
  .codebuff/agents/17b30d4f934c9b4fd8ecb4c639e948d298e9c236.mjs
  .codebuff/agents/34e4928ed646d5539341827a742d06a0b798173f.mjs
  .codebuff/agents/41a52ed27935f3de18c6c59e311c084ce35b7869.mjs
  .codebuff/agents/4995d2ebd67f22ba3c527c89329fcd1677aab3d4.mjs
  .codebuff/agents/4a1b4c4d4506cedd74c61220b75f2951ce55899f.mjs
  .codebuff/agents/be310c55be637d82951cb8b54321376c0d954303.mjs
  .codebuff/agents/e1a954a7a732e82cd5c187cc5c071b7963809a70.mjs
  Cargo.lock
  Cargo.toml
  FINAL_INTEGRATION_FIX.txt
  INTEGRATION_TEST_SUMMARY.md
  REBASE_INTEGRATION_FIX_STATUS.md
  TEST_RESOLT.md
  commits-to-rebase.txt
  crates/terraphim-session-analyzer/Cargo.toml
  crates/terraphim_config/src/lib.rs
  crates/terraphim_service/src/lib.rs
  crates/terraphim_service/src/llm.rs
  crates/terraphim_service/src/llm/proxy_client.rs
  crates/terraphim_service/src/llm/routed_adapter.rs
  crates/terraphim_service/tests/ollama_llama_integration_test.rs
  crates/terraphim_update/Cargo.toml
  crates/terraphim_update/src/lib.rs
  crates/terraphim_update/src/signature.rs
  crates/terraphim_update/tests/signature_test.rs
  desktop/package.json
  desktop/yarn.lock
  investigation-tasks.txt
  terraphim_server/dist/index.html
  test-results.txt
  test-timeout-investigation.md
Due: cargo-fmt, cargo-clippy, biome-check

docs: add zipsign fix handover document
  docs/ZIPSIGN_FIX_HANDOVER.md
Due: none

ci(workflow): add workflow_dispatch trigger
  .github/workflows/vm-execution-tests.yml
Due: none

ci(workflow): trigger for adaptive concurrency testing
  .github/workflows/vm-execution-tests.yml
Due: none

fix(agent): resolve nested tokio runtime panic in ui_loop
  Cargo.lock
  Cargo.toml
  crates/terraphim_agent/src/main.rs
  crates/terraphim_service/src/lib.rs
  crates/terraphim_service/src/llm.rs
  crates/terraphim_service/src/llm/proxy_client.rs
  crates/terraphim_service/src/llm_proxy.rs
  crates/terraphim_service/src/openrouter.rs
  crates/terraphim_service/src/summarization_worker.rs
Due: cargo-fmt, cargo-clippy

docs: add design for enhanced terraphim_automata integration
  .docs/design-claude-analyzer-terraphim-integration.md
Due: none

ci(vm-tests): use existing Redis on self-hosted runner
  .github/workflows/vm-execution-tests.yml
Due: none

fix(scripts): resolve merge conflicts in test-vm-execution.sh
  scripts/test-vm-execution.sh
Due: none

fix(security): address all critical issues from code review PR #429
  .github/workflows/ci-main.yml
  .gitignore
  Cargo.lock
  FINAL_INTEGRATION_FIX.txt
  TEST_RESOLT.md
  commits-to-rebase.txt
  crates/terraphim_update/Cargo.toml
  crates/terraphim_update/src/lib.rs
  crates/terraphim_update/src/scheduler.rs
  crates/terraphim_update/src/signature.rs
  crates/terraphim_update/tests/integration_test.rs
  crates/terraphim_update/tests/signature_test.rs
Due: cargo-fmt, cargo-clippy

fix(clippy): resolve clippy warnings for CI
  crates/terraphim_service/src/llm/proxy_client.rs
  crates/terraphim_update/src/state.rs
  crates/terraphim_update/tests/integration_test.rs
  crates/terraphim_update/tests/signature_test.rs
Due: cargo-fmt, cargo-clippy
