Repository terraphim/terraphim-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, biome-check

cargo-fmt:
  name: Cargo format check
  entry: cargo fmt --all -- --check
  language: system
  pass_filenames: false
  description: Check Rust code formatting with cargo fmt

cargo-clippy:
  name: Cargo clippy
  entry: cargo clippy --workspace --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false
  description: Run Rust linter with cargo clippy

biome-check:
  name: Biome lint and format check
  entry: bash -c 'cd desktop && npx @biomejs/biome check --write false --no-errors-on-unmatched'
  language: system
  pass_filenames: false
  description: Check JavaScript/TypeScript formatting and linting with Biome

Fix Rust toolchain and User Journey script issues
  rust-toolchain.toml
  scripts/test-developer-journey.sh
  scripts/test-research-analyst-journey.sh
Due: none

docs: add Week 4 implementation summaries
  VISUAL_DEMO_SUMMARY.md
  WEEK_4_SUMMARY.md
Due: none

docs: add visual proof screenshots for Week 3 and Week 4 components
  .playwright-mcp/final-week4-demo.png
  .playwright-mcp/week3-complete-demo.png
  .playwright-mcp/week3-conversation-switched.png
  .playwright-mcp/week3-full-interface.png
  .playwright-mcp/week4-context-edit-modal.png
  .playwright-mcp/week4-kg-search-modal.png
  .playwright-mcp/week4-modals-landing.png
  .playwright-mcp/week4-modals-test.png
Due: none

fix: resolve Tauri import issues in KGSearchModal
  desktop/src/lib/Search/KGSearchModal.svelte
  docs/DEPLOYMENT_GUIDE.md
  scripts/test-agent-workflows.sh
Due: none

feat: add enhanced pre-commit and commit-msg hooks
  scripts/enhanced-commit-msg.sh
  scripts/enhanced-pre-commit.sh
  scripts/setup-enhanced-hooks.sh
Due: none

docs: add enhanced pre-commit hooks documentation
  docs/ENHANCED_PRECOMMIT_HOOKS.md
Due: none

docs: add enhanced pre-commit implementation summary
  docs/ENHANCED_PRECOMMIT_SUMMARY.md
Due: none

feat: complete frontend dependency fixes and release preparation
  RELEASE_SUMMARY_v0.2.5.md
  desktop/package-lock.json
  desktop/package.json
  desktop/patches/svelma+0.4.5.patch
  desktop/src-tauri/tauri.conf.json
  desktop/vite.config.ts
Due: biome-check

docs: add comprehensive v0.2.5 final release summary
  RELEASE_SUMMARY_v0.2.5_FINAL.md
Due: none

docs: add comprehensive cross-platform deployment guide
  CROSS_PLATFORM_DEPLOYMENT_GUIDE.md
Due: none

feat: add manual cross-platform build system and status tracking
  CROSS_PLATFORM_RELEASE_STATUS.md
  scripts/build-cross-platform.sh
Due: none

Remove TruthForge dependencies from server
  terraphim_server/Cargo.toml
  terraphim_server/src/lib.rs
Due: cargo-fmt, cargo-clippy

Update Cargo.lock after TruthForge removal
  Cargo.lock
Due: none

Add scratchpad/ to .gitignore for repository analysis
  .gitignore
Due: none

chore: remove TruthForge and proprietary materials from public repository
  TRUTHFORGE_CLEANUP_COMPLETE.md
  TRUTHFORGE_DEBUG_MODE_DEPLOYMENT.md
  desktop/current_secret.txt
  scratchpad.md
Due: none

fix: feature-guard atomic client and fix ed25519-dalek compatibility
  Cargo.lock
  crates/terraphim_atomic_client/Cargo.toml
  crates/terraphim_middleware/Cargo.toml
  crates/terraphim_middleware/src/haystack/mod.rs
  crates/terraphim_middleware/src/indexer/mod.rs
  crates/terraphim_middleware/src/lib.rs
  crates/terraphim_types/src/lib.rs
  desktop/src-tauri/Cargo.toml
  desktop/src-tauri/src/cmd.rs
  terraphim_server/src/lib.rs
Due: cargo-fmt, cargo-clippy

chore: formatting cleanup and remove rust-toolchain.toml
  .clippy.toml
  TRUTHFORGE_CLEANUP_COMPLETE.md
  desktop/tests/e2e/agent-workflows.spec.ts
  desktop/vite.config.ts
  rust-toolchain.toml
Due: biome-check

fix: resolve module import paths for terraphim_tui repl-full feature
  crates/terraphim_tui/src/main.rs
  crates/terraphim_tui/src/repl/handler.rs
Due: cargo-fmt, cargo-clippy

fix: apply clippy suggestions for modern Rust idioms
  crates/terraphim_agent_evolution/src/workflows/parallelization.rs
  crates/terraphim_settings/src/lib.rs
Due: cargo-fmt, cargo-clippy

Path conditions:
  cargo-fmt: any of: \.rs$, but not: (?x)(
  ^target/.*|
  ^desktop/node_modules/.*|
  ^desktop/dist/.*|
  ^desktop/src-tauri/target/.*|
  ^vendor/.*|
  .*\.rs\.bk$|
  ^\.cargo/.*|
  ^artifact/.*
)
  cargo-clippy: any of: \.rs$, but not: (?x)(
  ^target/.*|
  ^desktop/node_modules/.*|
  ^desktop/dist/.*|
  ^desktop/src-tauri/target/.*|
  ^vendor/.*|
  .*\.rs\.bk$|
  ^\.cargo/.*|
  ^artifact/.*
)
  biome-check: any of: desktop/.*\.(js|ts|tsx|jsx|json|jsonc)$, but not: (?x)(
  ^target/.*|
  ^desktop/node_modules/.*|
  ^desktop/dist/.*|
  ^desktop/src-tauri/target/.*|
  ^vendor/.*|
  .*\.rs\.bk$|
  ^\.cargo/.*|
  ^artifact/.*
)
