Repository terraphim/terraphim-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, biome-check

cargo-fmt:
  name: Cargo format check
  entry: cargo fmt --all -- --check
  language: system
  pass_filenames: false
  description: Check Rust code formatting with cargo fmt

cargo-clippy:
  name: Cargo clippy
  entry: cargo clippy --workspace --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false
  description: Run Rust linter with cargo clippy

biome-check:
  name: Biome lint and format check
  entry: bash -c 'cd desktop && npx @biomejs/biome check --write false --no-errors-on-unmatched'
  language: system
  pass_filenames: false
  description: Check JavaScript/TypeScript formatting and linting with Biome

ci: increase timeouts for CI reliability
  .github/workflows/ci-native.yml
  .github/workflows/frontend-build.yml
  .github/workflows/vm-execution-tests.yml
  scripts/ci-check-format.sh
  scripts/test-vm-execution.sh
Due: none

ci: configure workflows to use bigbox self-hosted runner
  .github/BIGBOX_RUNNER_SETUP.md
  .github/workflows/ci-native.yml
  .github/workflows/ci-optimized.yml
  .github/workflows/claude-code-review.yml
  .github/workflows/earthly-runner.yml
  .github/workflows/frontend-build.yml
  .github/workflows/tauri-build.yml
  .github/workflows/test-matrix.yml
  .github/workflows/vm-execution-tests.yml
Due: none

feat: commit test updates and assets
  crates/terraphim_mcp_server/tests/mcp_autocomplete_e2e_test.rs
  crates/terraphim_mcp_server/tests/mcp_rolegraph_validation_test.rs
  desktop/src/lib/ConfigJsonEditor.svelte
  desktop/src/lib/Fetchers/FetchTabs.svelte
  desktop/src/lib/RoleGraphVisualization.svelte
  desktop/src/lib/Search/Search.svelte
  desktop/src/lib/Search/searchUtils.ts
  desktop/test-config.json
  desktop/tests/e2e/agent-workflows.spec.ts
Due: cargo-fmt, cargo-clippy, biome-check

ci: add bigbox runner validation script
  scripts/test-bigbox-runner.sh
Due: none

fix: apply PR #208 review comments for lifecycle and configuration issues
  .clippy.toml
  crates/terraphim_agent_application/src/application.rs
  crates/terraphim_agent_application/src/config.rs
  crates/terraphim_agent_application/src/hot_reload.rs
  crates/terraphim_agent_application/src/lifecycle.rs
  crates/terraphim_kg_orchestration/src/supervision.rs
Due: cargo-fmt, cargo-clippy

chore: remove conflicting package manager locks
  desktop/.gitignore
Due: none

chore(desktop): update Tauri dependencies and regenerate yarn.lock
  desktop/package.json
  desktop/yarn.lock
Due: biome-check

chore: bump version to 0.3.0 for desktop release
  desktop/package.json
  desktop/src-tauri/tauri.conf.json
Due: biome-check

fix(desktop): remove extra closing brace in vite.config.ts
  desktop/vite.config.ts
Due: biome-check

fix(desktop): update tauri.conf.json.template version to 0.3.0
  desktop/src-tauri/tauri.conf.json.template
Due: none

fix(ci): configure 1Password references for TerraphimPlatform vault
  .github/workflows/publish-tauri.yml
  desktop/src-tauri/tauri.conf.json.template
Due: none

fix(ci): add --force flag to op inject for CI environment
  .github/workflows/publish-tauri.yml
Due: none

fix(frontend): add function aliases for Svelte components
  .clippy.toml
  desktop/package.json
  desktop/src/lib/Chat/Chat.svelte
  desktop/src/lib/ConfigWizard.svelte
  desktop/yarn.lock
Due: biome-check

fix(frontend): add missing imports and aliases to FetchTabs and Chat
  desktop/src/lib/Chat/Chat.svelte
  desktop/src/lib/Fetchers/FetchTabs.svelte
Due: none

fix(desktop): resolve Svelte build errors for v0.3.0 release
  desktop/bun.lockb
  desktop/package-lock.json
  desktop/package.json
  desktop/pnpm-lock.yaml
  desktop/src/lib/Chat/Chat.svelte
  desktop/src/lib/Chat/SessionList.svelte
  desktop/src/lib/Search/ArticleModal.svelte
  desktop/src/lib/Search/KGSearchModal.svelte
  desktop/src/lib/Search/ResultItem.svelte
  desktop/vite.config.ts
  desktop/yarn.lock
  terraphim_server/dist/assets/fa-brands-400-34ce05b1.woff2
  terraphim_server/dist/assets/fa-brands-400-bc844b5b.ttf
  terraphim_server/dist/assets/fa-brands-400-c411f119.woff2
  terraphim_server/dist/assets/fa-regular-400-64f9fb62.ttf
  terraphim_server/dist/assets/fa-regular-400-a4b951c0.woff2
  terraphim_server/dist/assets/fa-regular-400-c732f106.woff2
  terraphim_server/dist/assets/fa-solid-900-1f0189e0.woff2
  terraphim_server/dist/assets/fa-solid-900-31f099c1.ttf
  terraphim_server/dist/assets/fa-solid-900-ff6d96ef.woff2
  terraphim_server/dist/assets/fa-v4compatibility-2aca24b3.woff2
  terraphim_server/dist/assets/fa-v4compatibility-a6274a12.ttf
  terraphim_server/dist/assets/fs-60daa36d.js
  terraphim_server/dist/assets/index-0ec273a1.css
  terraphim_server/dist/assets/index-201310c6.css
  terraphim_server/dist/assets/index-e75b57db.js
  terraphim_server/dist/assets/index-edaf7e05.js
  terraphim_server/dist/assets/novel-editor-ff46bbca.js
  terraphim_server/dist/assets/vendor-atomic-1ea13e29.js
  terraphim_server/dist/assets/vendor-atomic-ec100559.js
  terraphim_server/dist/assets/vendor-editor-5741781d.js
  terraphim_server/dist/assets/vendor-editor-992829d3.js
  terraphim_server/dist/assets/vendor-ui-5061ae11.css
  terraphim_server/dist/assets/vendor-ui-5d806df5.css
  terraphim_server/dist/assets/vendor-ui-cd3d2b6a.js
  terraphim_server/dist/assets/vendor-ui-ec1c326c.js
  terraphim_server/dist/assets/vendor-utils-1b347ea1.js
  terraphim_server/dist/assets/vendor-utils-8620e3e4.js
  terraphim_server/dist/index.html
Due: biome-check

fix(ci): remove TAURI_KEY_PASSWORD for passwordless signing key
  .github/workflows/publish-tauri.yml
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$, but not: (?x)(
  ^target/.*|
  ^desktop/node_modules/.*|
  ^desktop/dist/.*|
  ^desktop/src-tauri/target/.*|
  ^vendor/.*|
  .*\.rs\.bk$|
  ^\.cargo/.*|
  ^artifact/.*
)
  cargo-clippy: any of: \.rs$, but not: (?x)(
  ^target/.*|
  ^desktop/node_modules/.*|
  ^desktop/dist/.*|
  ^desktop/src-tauri/target/.*|
  ^vendor/.*|
  .*\.rs\.bk$|
  ^\.cargo/.*|
  ^artifact/.*
)
  biome-check: any of: desktop/.*\.(js|ts|tsx|jsx|json|jsonc)$, but not: (?x)(
  ^target/.*|
  ^desktop/node_modules/.*|
  ^desktop/dist/.*|
  ^desktop/src-tauri/target/.*|
  ^vendor/.*|
  .*\.rs\.bk$|
  ^\.cargo/.*|
  ^artifact/.*
)
