Repository terraphim/terraphim-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, biome-check

cargo-fmt:
  name: Cargo format check
  entry: cargo fmt --all -- --check
  language: system
  pass_filenames: false
  description: Check Rust code formatting with cargo fmt

cargo-clippy:
  name: Cargo clippy
  entry: cargo clippy --workspace --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false
  description: Run Rust linter with cargo clippy

biome-check:
  name: Biome lint and format check
  entry: bash -c 'cd desktop && npx @biomejs/biome check --write false --no-errors-on-unmatched'
  language: system
  pass_filenames: false
  description: Check JavaScript/TypeScript formatting and linting with Biome

feat: history of chat
  @memories.md
  @scratchpad.md
  Cargo.lock
  crates/terraphim_persistence/Cargo.toml
  crates/terraphim_persistence/src/error.rs
  crates/terraphim_persistence/src/lib.rs
  crates/terraphim_service/src/lib.rs
  crates/terraphim_service/tests/kg_duplicate_processing_comprehensive_test.rs
  crates/terraphim_service/tests/kg_duplicate_processing_simple_test.rs
  desktop/src-tauri/src/cmd.rs
  desktop/src-tauri/src/main.rs
  desktop/src/lib/Chat/Chat.svelte
  desktop/src/lib/stores.ts
  terraphim_server/dist/index.html
  terraphim_server/src/lib.rs
Due: cargo-fmt, cargo-clippy, biome-check

feat: Enable OpenRouter by default and fix Axum 0.8 route syntax
  @memories.md
  @scratchpad.md
  crates/terraphim_persistence/src/conversation.rs
  crates/terraphim_service/src/conversation_service.rs
  crates/terraphim_service/tests/conversation_service_test.rs
  crates/terraphim_service/tests/openrouter_integration_test.rs
  desktop/src/lib/Chat/SessionList.svelte
  docs/OPENROUTER_TESTING_PLAN.md
  docs/Untitled.md
  docs/knowledge_graph_1758618546122.md
  docs/specifications/chat-session-history-quickref.md
  docs/specifications/chat-session-history-spec.md
  scripts/run_all_tests.sh
  scripts/test_env_setup_local.sh
  scripts/test_env_teardown.sh
  scripts/test_openrouter_e2e.sh
  scripts/test_summarization_e2e_simple.sh
  terraphim_server/Cargo.toml
  terraphim_server/src/api_conversations.rs
  terraphim_server/src/lib.rs
  terraphim_settings/default/settings_local_dev.toml/settings.toml
  tests/validate_local_setup.rs
Due: cargo-fmt, cargo-clippy

fix: remove non-existent haystack workspace members
  Cargo.toml
Due: none

refactor: remove cargo fix from deployment script
  scripts/deploy-to-bigbox.sh
Due: none

fix: add --delete flag to rsync for proper file synchronization
  scripts/deploy-to-bigbox.sh
Due: none

feat: update deployment paths to terraphim-private-cloud-new
  scripts/deploy-to-bigbox.sh
Due: none

fix: pin wiremock to 0.6.4 to avoid nightly Rust features
  Cargo.lock
Due: none

ci: add GTK dependencies to lint-and-format job
  .github/workflows/ci-native.yml
Due: none

fix: ensure dist folder exists for RustEmbed in CI
  docs/CI_STATUS_PR179.md
  terraphim_server/build.rs
  terraphim_server/src/lib.rs
Due: cargo-fmt, cargo-clippy

feat: add VM execution integration for agent system
  .github/workflows/vm-execution-tests.yml
  @memories.md
  @scratchpad.md
  BIGBOX_DEPLOYMENT_PLAN.md
  Cargo.lock
  VM_AGENT_INTEGRATION_PROOF.md
  VM_EXECUTION_GUIDE.md
  VM_EXECUTION_TEST_PLAN.md
  VM_INTEGRATION_SUMMARY.md
  agents_history.txt
  crates/terraphim_multi_agent/Cargo.toml
  crates/terraphim_multi_agent/src/agent.rs
  crates/terraphim_multi_agent/src/error.rs
  crates/terraphim_multi_agent/src/lib.rs
  crates/terraphim_multi_agent/src/vm_execution/client.rs
  crates/terraphim_multi_agent/src/vm_execution/code_extractor.rs
  crates/terraphim_multi_agent/src/vm_execution/config_helpers.rs
  crates/terraphim_multi_agent/src/vm_execution/fcctl_bridge.rs
  crates/terraphim_multi_agent/src/vm_execution/hooks.rs
  crates/terraphim_multi_agent/src/vm_execution/mod.rs
  crates/terraphim_multi_agent/src/vm_execution/models.rs
  crates/terraphim_multi_agent/src/vm_execution/session_adapter.rs
  crates/terraphim_multi_agent/tests/direct_session_integration_tests.rs
  crates/terraphim_multi_agent/tests/hook_integration_tests.rs
  crates/terraphim_multi_agent/tests/rust_execution_tests.rs
  crates/terraphim_multi_agent/tests/vm_execution_tests.rs
  crates/terraphim_multi_agent/tests/vm_history_tests.rs
  crates/terraphim_service/src/llm.rs
  docs/component-diagram.md
  examples/vm_execution_agent_config.json
  examples/vm_execution_usage_example.md
  scripts/test-vm-execution.sh
  scripts/test-vm-features.sh
  tests/agent_vm_integration_tests.rs
  tests/vm_execution_e2e_tests.rs
  workflows_vm_execution_client.js
Due: cargo-fmt, cargo-clippy

feat: implement Replace CLI command with knowledge graph integration
  @lessons-learned.md
  @memories.md
  @scratchpad.md
  crates/terraphim_middleware/tests/ai_summarization_uniqueness_test.rs
  crates/terraphim_middleware/tests/debug_summarization_test.rs
  crates/terraphim_middleware/tests/ollama_summarization_config_test.rs
  crates/terraphim_middleware/tests/query_rs_e2e_integration_test.rs
  crates/terraphim_middleware/tests/summarization_fix_validation_test.rs
  crates/terraphim_tui/src/main.rs
  crates/terraphim_tui/tests/replace_feature_tests.rs
  docs/src/kg/bun.md
  terraphim_server/build.rs
Due: cargo-fmt, cargo-clippy

fix(ci): add libsoup2.4-dev dependency for webkit2gtk builds
  .github/workflows/ci-native.yml
  .github/workflows/publish-tauri.yml
  .github/workflows/release-comprehensive.yml
  .github/workflows/test-on-pr-desktop.yml
Due: none

fix(ci): add libjavascriptcoregtk-4.1-dev dependency for webkit builds
  .github/workflows/ci-native.yml
  .github/workflows/publish-tauri.yml
  .github/workflows/release-comprehensive.yml
  .github/workflows/test-on-pr-desktop.yml
  terraphim_server/dist/assets/fs-fccecd10.js
  terraphim_server/dist/assets/index-c66f104a.js
  terraphim_server/dist/assets/index-ef9b31d9.css
  terraphim_server/dist/assets/novel-editor-ff46bbca.js
  terraphim_server/dist/assets/vendor-atomic-ec100559.js
  terraphim_server/dist/assets/vendor-editor-5741781d.js
  terraphim_server/dist/assets/vendor-ui-ec1c326c.js
  terraphim_server/dist/assets/vendor-utils-8620e3e4.js
Due: none

fix(ci): use webkit2gtk 4.0 instead of 4.1 for Rust compatibility
  .github/workflows/ci-native.yml
  .github/workflows/publish-tauri.yml
  .github/workflows/release-comprehensive.yml
  .github/workflows/test-on-pr-desktop.yml
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$, but not: (?x)(
  ^target/.*|
  ^desktop/node_modules/.*|
  ^desktop/dist/.*|
  ^desktop/src-tauri/target/.*|
  ^vendor/.*|
  .*\.rs\.bk$|
  ^\.cargo/.*|
  ^artifact/.*
)
  cargo-clippy: any of: \.rs$, but not: (?x)(
  ^target/.*|
  ^desktop/node_modules/.*|
  ^desktop/dist/.*|
  ^desktop/src-tauri/target/.*|
  ^vendor/.*|
  .*\.rs\.bk$|
  ^\.cargo/.*|
  ^artifact/.*
)
  biome-check: any of: desktop/.*\.(js|ts|tsx|jsx|json|jsonc)$, but not: (?x)(
  ^target/.*|
  ^desktop/node_modules/.*|
  ^desktop/dist/.*|
  ^desktop/src-tauri/target/.*|
  ^vendor/.*|
  .*\.rs\.bk$|
  ^\.cargo/.*|
  ^artifact/.*
)
