Repository terraphim/terraphim-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, biome-check

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
# This configuration works with pre-commit, prek, and other compatible tools

repos:
  # General code quality hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        name: Trim trailing whitespace
      - id: end-of-file-fixer
        name: Fix end of files
      - id: check-yaml
        name: Check YAML syntax
      - id: check-toml
        name: Check TOML syntax
      - id: check-json
        name: Check JSON syntax
      - id: check-case-conflict
        name: Check for case conflicts
      - id: check-merge-conflict
        name: Check for merge conflicts
      - id: debug-statements
        name: Check for debug statements
      - id: detect-private-key
        name: Detect private keys
      - id: check-added-large-files
        name: Check for large files
        args: ['--maxkb=1000']

  # Rust-specific hooks
  - repo: local
    hooks:
      - id: cargo-fmt
        name: Cargo format check
        entry: cargo fmt --all -- --check
        language: system
        types: [rust]
        pass_filenames: false
        description: "Check Rust code formatting with cargo fmt"

      - id: cargo-clippy
        name: Cargo clippy
        entry: cargo clippy --workspace --all-targets --all-features -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false
        description: "Run Rust linter with cargo clippy"

      - id: cargo-test
        name: Cargo test
        entry: cargo test --workspace
        language: system
        types: [rust]
        pass_filenames: false
        stages: [manual]
        description: "Run Rust tests (manual stage)"

      - id: cargo-audit
        name: Cargo audit
        entry: cargo audit
        language: system
        pass_filenames: false
        stages: [manual]
        description: "Check for known security vulnerabilities (manual stage)"

  # JavaScript/TypeScript with Biome
  - repo: local
    hooks:
      - id: biome-check
        name: Biome lint and format check
        entry: bash -c 'cd desktop && npx @biomejs/biome check --write false --no-errors-on-unmatched'
        language: system
        files: 'desktop/.*\.(js|ts|tsx|jsx|json|jsonc)$'
        pass_filenames: false
        description: "Check JavaScript/TypeScript formatting and linting with Biome"

      - id: biome-format
        name: Biome format
        entry: bash -c 'cd desktop && npx @biomejs/biome format --write --no-errors-on-unmatched'
        language: system
        files: 'desktop/.*\.(js|ts|tsx|jsx|json|jsonc)$'
        pass_filenames: false
        stages: [manual]
        description: "Auto-format JavaScript/TypeScript with Biome (manual stage)"

  # Conventional commits validation
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v3.0.0
    hooks:
      - id: conventional-pre-commit
        name: Conventional commit format
        stages: [commit-msg]
        args: [
          "--strict",
          "--scopes=feat,fix,docs,style,refactor,perf,test,chore,build,ci,revert"
        ]
        description: "Enforce conventional commit message format"

  # Secret detection
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        name: Detect secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: .*/tests/.*|.*\.lock$|.*\.sum$|.*yarn\.lock$
        description: "Detect secrets in staged code"

# Global exclusions
exclude: |
  (?x)(
    ^target/.*|
    ^desktop/node_modules/.*|
    ^desktop/dist/.*|
    ^desktop/src-tauri/target/.*|
    ^vendor/.*|
    .*\.rs\.bk$|
    ^\.cargo/.*|
    ^artifact/.*
  )

ci: exclude test files from secret detection and fix biome schema
  desktop/biome.json
Due: biome-check

fix(clippy): allow unused_mut in available_commands
  crates/terraphim_agent/src/repl/commands.rs
Due: cargo-fmt, cargo-clippy

docs: add OpenDAL warning documentation and fix formatting
  crates/terraphim_agent/src/repl/commands.rs
  crates/terraphim_agent/src/repl/handler.rs
  crates/terraphim_mcp_server/src/main.rs
  crates/terraphim_service/src/logging.rs
Due: cargo-fmt, cargo-clippy

ci: trigger fresh build without cache
  crates/terraphim_settings/test_settings/settings.toml
  terraphim_server/dist/index.html
Due: none

ci: support multi-line commit messages in commit-msg hook
  scripts/hooks/commit-msg
Due: none

refactor(rlm): use fcctl-core VmManager and SnapshotManager directly
  Cargo.lock
  crates/terraphim_rlm/Cargo.toml
  crates/terraphim_rlm/src/budget.rs
  crates/terraphim_rlm/src/error.rs
  crates/terraphim_rlm/src/executor/context.rs
  crates/terraphim_rlm/src/executor/firecracker.rs
  crates/terraphim_rlm/src/executor/ssh.rs
  crates/terraphim_rlm/src/lib.rs
  crates/terraphim_rlm/src/llm_bridge.rs
  crates/terraphim_rlm/src/session.rs
  crates/terraphim_rlm/src/types.rs
Due: cargo-fmt, cargo-clippy

docs: add CI/CD investigation artifacts and handover documentation
  .docs/plans/pr-381-github-runner-integration-design.md
  .opencode/swarm.db
  .playwright-mcp/docs-final-check.png
  .playwright-mcp/docs-live-after-fix.png
  .playwright-mcp/docs-local-test.png
  .playwright-mcp/docs-terraphim-broken.png
  .sessions/session-20260106-185531.md
  MIGRATION_PLAN_ZOLA_TO_MDBOOK.md
  OPENDAL_WARNINGS_DESIGN_PLAN.md
  OPENDAL_WARNINGS_RESEARCH.md
  ci_fixes.txt
  droid_configuration.md
Due: none

feat(rlm): implement Phase 4 - command parsing and query loop
  crates/terraphim_rlm/src/lib.rs
  crates/terraphim_rlm/src/parser.rs
  crates/terraphim_rlm/src/query_loop.rs
Due: cargo-fmt, cargo-clippy

chore: bump version to 1.4.8 for release
  Cargo.toml
Due: none

feat(rlm): implement TerraphimRlm public API (Phase 5)
  crates/terraphim_rlm/src/lib.rs
  crates/terraphim_rlm/src/query_loop.rs
  crates/terraphim_rlm/src/rlm.rs
Due: cargo-fmt, cargo-clippy

fix(ci): comment out unpublished dependencies for crates.io
  Cargo.lock
  Cargo.toml
  crates/terraphim_middleware/Cargo.toml
Due: none

feat(rlm): implement TrajectoryLogger for JSONL logging
  crates/terraphim_rlm/src/lib.rs
  crates/terraphim_rlm/src/logger.rs
Due: cargo-fmt, cargo-clippy

chore: bump version to 1.4.10 for fresh release
  Cargo.lock
  Cargo.toml
Due: none

feat(rlm): implement KnowledgeGraphValidator for command validation
  Cargo.lock
  crates/terraphim_rlm/Cargo.toml
  crates/terraphim_rlm/src/lib.rs
  crates/terraphim_rlm/src/validator.rs
Due: cargo-fmt, cargo-clippy

feat(rlm): implement 6 RLM MCP tools with rmcp 0.9.0
  crates/terraphim_rlm/src/lib.rs
  crates/terraphim_rlm/src/mcp_tools.rs
  crates/terraphim_rlm/src/rlm.rs
Due: cargo-fmt, cargo-clippy

feat(rlm): add mcp feature gate with rmcp dependency
  Cargo.lock
  crates/terraphim_rlm/Cargo.toml
  crates/terraphim_rlm/src/session.rs
Due: cargo-fmt, cargo-clippy

fix(agent): add repl-sessions placeholder feature to silence warnings
  crates/terraphim_agent/Cargo.toml
Due: none

chore: exclude terraphim_rlm from workspace for CI compatibility
  Cargo.toml
Due: none

fix: resolve CI compilation errors
  crates/claude-log-analyzer/tests/terraphim_integration_tests.rs
  crates/terraphim_middleware/src/haystack/mod.rs
Due: cargo-fmt, cargo-clippy

fix(tests): Remove duplicate llm_router fields from Role definitions
  crates/terraphim_config/examples/atomic_server_config.rs
  crates/terraphim_mcp_server/tests/mcp_autocomplete_e2e_test.rs
  crates/terraphim_mcp_server/tests/mcp_rolegraph_validation_test.rs
  crates/terraphim_middleware/tests/haystack_refactor_test.rs
  crates/terraphim_middleware/tests/mcp_haystack_test.rs
  crates/terraphim_middleware/tests/perplexity_haystack_test.rs
  crates/terraphim_service/src/llm/proxy_client.rs
  crates/terraphim_service/src/llm/routed_adapter.rs
  crates/terraphim_service/tests/chat_with_context_test.rs
  crates/terraphim_service/tests/kg_preprocessing_test.rs
  crates/terraphim_service/tests/kg_protocol_resolution_test.rs
  crates/terraphim_service/tests/llm_integration_test.rs
  crates/terraphim_service/tests/ollama_adapter_smoke.rs
  crates/terraphim_service/tests/ollama_chat_context_live_test.rs
  terraphim_server/tests/api_context_tests.rs
  terraphim_server/tests/debug_rolegraph.rs
Due: cargo-fmt, cargo-clippy
