Repository terraphim/terraphim-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, biome-check

cargo-fmt:
  name: Cargo format check
  entry: cargo fmt --all -- --check
  language: system
  pass_filenames: false
  description: Check Rust code formatting with cargo fmt

cargo-clippy:
  name: Cargo clippy
  entry: cargo clippy --workspace --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false
  description: Run Rust linter with cargo clippy

biome-check:
  name: Biome lint and format check
  entry: bash -c 'cd desktop && npx @biomejs/biome check --write false --no-errors-on-unmatched'
  language: system
  pass_filenames: false
  description: Check JavaScript/TypeScript formatting and linting with Biome

fix: Update TEST_REPORT to reflect actual tests performed
  TEST_REPORT_v1.1.0.md
Due: none

docs: Add CHANGELOG for v1.0.0-sync release
  CHANGELOG.md
Due: none

feat: migrate Tauri signing keys to 1Password
  .env.tauri-release
  .reports/tauri_keys.txt
  docs/TAURI_KEYS_1PASSWORD.md
Due: none

Fix GitHub Actions workflow issues
  .github/FUNDING.yml
  .github/workflows/package-release.yml
  .github/workflows/publish-tauri.yml
Due: none

Fix compilation errors: add missing mcp_namespaces field and feature gates
  crates/terraphim_config/examples/atomic_server_config.rs
  crates/terraphim_service/tests/openrouter_proxy_test.rs
Due: cargo-fmt, cargo-clippy

Fix GitHub Actions workflow issues
  .github/workflows/publish-tauri.yml
  crates/terraphim_middleware/src/tool_discovery.rs
  crates/terraphim_middleware/tests/atomic_document_import_test.rs
  crates/terraphim_middleware/tests/atomic_haystack.rs
  crates/terraphim_middleware/tests/atomic_haystack_config_integration.rs
  crates/terraphim_middleware/tests/atomic_roles_e2e_test.rs
  crates/terraphim_middleware/tests/dual_haystack_validation_test.rs
  crates/terraphim_multi_agent/benches/agent_operations.rs
  crates/terraphim_multi_agent/examples/multi_agent_coordination.rs
  crates/terraphim_multi_agent/examples/specialized_agents.rs
  crates/terraphim_multi_agent/examples/workflow_patterns_working.rs
  crates/terraphim_multi_agent/src/agents/chat_agent.rs
  crates/terraphim_multi_agent/src/agents/summarization_agent.rs
  crates/terraphim_multi_agent/src/lib.rs
  crates/terraphim_multi_agent/tests/agent_creation_tests.rs
  crates/terraphim_multi_agent/tests/architecture_proof.rs
  crates/terraphim_multi_agent/tests/command_processing_tests.rs
  crates/terraphim_multi_agent/tests/llm_integration_test.rs
  crates/terraphim_multi_agent/tests/simple_agent_test.rs
  crates/terraphim_multi_agent/tests/tracking_tests.rs
  crates/terraphim_persistence/examples/simple_struct.rs
  crates/terraphim_tui/src/service.rs
  crates/terraphim_tui/tests/enhanced_search_tests.rs
  crates/terraphim_tui/tests/file_operations_basic_tests.rs
  crates/terraphim_tui/tests/file_operations_command_parsing.rs
  crates/terraphim_tui/tests/vm_management_tests.rs
  scripts/ci-check-tests.sh
  terraphim_server/tests/llm_chat_matrix_test.rs
  terraphim_server/tests/mcp_persistence_integration.rs
Due: cargo-fmt, cargo-clippy

Remove obsolete hook_system_tests.rs file
  crates/terraphim_tui/tests/hook_system_tests.rs
Due: cargo-fmt, cargo-clippy

fix: apply automatic clippy fixes and clean up unused imports
  crates/terraphim_middleware/src/tool_discovery.rs
  crates/terraphim_middleware/tests/atomic_document_import_test.rs
  crates/terraphim_middleware/tests/atomic_haystack.rs
  crates/terraphim_middleware/tests/atomic_haystack_config_integration.rs
  crates/terraphim_middleware/tests/atomic_roles_e2e_test.rs
  crates/terraphim_middleware/tests/dual_haystack_validation_test.rs
  crates/terraphim_multi_agent/benches/agent_operations.rs
  crates/terraphim_multi_agent/examples/knowledge_graph_integration.rs
  crates/terraphim_multi_agent/examples/multi_agent_coordination.rs
  crates/terraphim_multi_agent/examples/simple_validation.rs
  crates/terraphim_multi_agent/examples/workflow_patterns_working.rs
  crates/terraphim_multi_agent/tests/agent_creation_tests.rs
  crates/terraphim_multi_agent/tests/architecture_proof.rs
  crates/terraphim_multi_agent/tests/context_tests.rs
  crates/terraphim_multi_agent/tests/tracking_tests.rs
  crates/terraphim_persistence/examples/simple_struct.rs
  crates/terraphim_tui/src/commands/mod.rs
  crates/terraphim_tui/src/commands/registry.rs
  crates/terraphim_tui/src/repl/chat.rs
  crates/terraphim_tui/src/service.rs
  crates/terraphim_tui/tests/command_system_integration_tests.rs
  crates/terraphim_tui/tests/enhanced_search_tests.rs
  crates/terraphim_tui/tests/execution_mode_tests.rs
  crates/terraphim_tui/tests/file_operations_basic_tests.rs
  crates/terraphim_tui/tests/file_operations_command_parsing.rs
  crates/terraphim_tui/tests/rolegraph_suggestions_tests.rs
  crates/terraphim_tui/tests/vm_api_tests.rs
  crates/terraphim_tui/tests/vm_functionality_tests.rs
  crates/terraphim_tui/tests/vm_management_tests.rs
  crates/terraphim_tui/tests/web_operations_basic_tests.rs
  crates/terraphim_tui/tests/web_operations_tests.rs
  terraphim_server/tests/llm_chat_matrix_test.rs
  terraphim_server/tests/mcp_sqlite_persistence.rs
Due: cargo-fmt, cargo-clippy

feat: implement comprehensive MCP authentication system
  crates/terraphim_mcp_proxy/src/auth.rs
  crates/terraphim_mcp_proxy/src/lib.rs
  crates/terraphim_mcp_proxy/src/proxy.rs
  crates/terraphim_mcp_server/src/auth.rs
  crates/terraphim_mcp_server/src/lib.rs
  crates/terraphim_mcp_server/tests/auth_tests.rs
  crates/terraphim_mcp_server/tests/mcp_autocomplete_e2e_test.rs
  crates/terraphim_mcp_server/tests/mcp_rolegraph_validation_test.rs
  terraphim_server/src/api_mcp_tools.rs
Due: cargo-fmt, cargo-clippy

fix: resolve clippy dead code warnings in tests
  crates/terraphim_mcp_proxy/src/auth.rs
  crates/terraphim_mcp_server/Cargo.toml
  crates/terraphim_mcp_server/src/auth.rs
  crates/terraphim_mcp_server/tests/mcp_autocomplete_e2e_test.rs
  crates/terraphim_mcp_server/tests/mcp_rolegraph_validation_test.rs
  crates/terraphim_middleware/tests/atomic_document_import_test.rs
  crates/terraphim_service/tests/openrouter_proxy_test.rs
  crates/terraphim_tui/src/service.rs
Due: cargo-fmt, cargo-clippy

feat: enhance MCP authentication and proxy integration
  crates/terraphim_mcp_proxy/src/lib.rs
  crates/terraphim_mcp_proxy/src/proxy.rs
  crates/terraphim_mcp_server/src/lib.rs
  crates/terraphim_mcp_server/tests/auth_tests.rs
  terraphim_server/src/api_mcp_tools.rs
Due: cargo-fmt, cargo-clippy

Novel editor working
  desktop/src/lib/Chat/Chat.svelte
  desktop/src/lib/ConfigJsonEditor.svelte
  desktop/src/lib/ConfigWizard.svelte
  desktop/src/lib/Editor/NovelWrapper.svelte
  desktop/src/lib/Editor/SlashCommand.ts
  desktop/src/lib/Fetchers/FetchTabs.svelte
  desktop/src/lib/Search/KGSearchModal.svelte
  desktop/src/lib/Search/ResultItem.svelte
  desktop/src/lib/Search/Search.svelte
  desktop/src/lib/ThemeSwitcher.svelte
  desktop/src/main.ts
  desktop/src/styles/novel.css
  desktop/test-config.json
  terraphim_server/dist/index.html
  terraphim_server/src/api.rs
Due: cargo-fmt, cargo-clippy, biome-check

feat: complete Phase 1 - Tauri 2.x upgrade and dependency modernization
  Cargo.lock
  desktop-specification.md
  desktop/package.json
  desktop/src-tauri/Cargo.toml
  desktop/src-tauri/capabilities/main.json
  desktop/src-tauri/src/main.rs
  desktop/src-tauri/tauri.conf.json
  migration-executive-summary.md
  migration-option-1-tauri-enhanced.md
  migration-option-2-pwa.md
  migration-option-3-hybrid.md
  package-lock.json
  tauri-2-migration-progress.md
  yarn.lock
Due: cargo-fmt, cargo-clippy, biome-check

feat(ui): complete SvelteKit migration for Tauri 2 compatibility
  Cargo.lock
  desktop-specification.md
  desktop/index.html
  desktop/package-lock.json
  desktop/package.json
  desktop/src-tauri/Cargo.toml
  desktop/src-tauri/capabilities/main.json
  desktop/src-tauri/src/main.rs
  desktop/src-tauri/tauri.conf.json
  desktop/src/app.html
  desktop/src/lib/components/MarkdownRenderer.svelte
  desktop/src/main.ts
  desktop/src/routes/+layout.svelte
  desktop/src/routes/+page.svelte
  desktop/src/routes/chat/+page.svelte
  desktop/src/routes/config/json/+page.svelte
  desktop/src/routes/config/wizard/+page.svelte
  desktop/src/routes/graph/+page.svelte
  desktop/svelte.config.js
  desktop/tsconfig.json
  desktop/vite.config.ts
  desktop/yarn.lock
  migration-executive-summary.md
  migration-option-1-tauri-enhanced.md
  migration-option-2-pwa.md
  migration-option-3-hybrid.md
  package-lock.json
  tauri-2-migration-progress.md
  yarn.lock
Due: cargo-fmt, cargo-clippy, biome-check

feat: complete SvelteKit migration and Tauri 2.x API compatibility
  desktop/biome.json
  desktop/package-lock.json
  desktop/package.json
  desktop/src-tauri/Cargo.toml
  desktop/src-tauri/tauri.conf.json
  desktop/src/lib/BackButton.integration.test.ts
  desktop/src/lib/Chat/Chat.svelte
  desktop/src/lib/Chat/ContextEditModal.svelte
  desktop/src/lib/Chat/SessionList.svelte
  desktop/src/lib/Communication.svelte
  desktop/src/lib/ConfigJsonEditor.svelte
  desktop/src/lib/ConfigWizard.svelte
  desktop/src/lib/Fetchers/FetchTabs.svelte
  desktop/src/lib/RoleGraphVisualization.svelte
  desktop/src/lib/Search/ArticleModal.svelte
  desktop/src/lib/Search/AtomicSaveModal.svelte
  desktop/src/lib/Search/AutocompleteOperators.test.ts
  desktop/src/lib/Search/KGSearchModal.svelte
  desktop/src/lib/Search/ResultItem.svelte
  desktop/src/lib/Search/Search.svelte
  desktop/src/lib/Search/searchUtils.ts
  desktop/src/lib/StartupScreen.svelte
  desktop/src/lib/StartupScreen.test.ts
  desktop/src/lib/ThemeSwitcher.svelte
  desktop/src/lib/components/MarkdownRenderer.svelte
  desktop/src/lib/services/__tests__/novelAutocompleteService.test.ts
  desktop/src/lib/services/novelAutocompleteService.ts
  desktop/src/routes/+layout.svelte
  desktop/svelte.config.js
  desktop/tsconfig.json
  tauri-2-migration-progress.md
Due: biome-check

feat: design LLM markdown linter for Terraphim KG schemas
  LLM_MARKDOWN_LINTER_SUMMARY.md
  docs/LLM_MARKDOWN_LINTER_DESIGN.md
  docs/LLM_MARKDOWN_LINTER_IMPLEMENTATION_PLAN.md
  examples/kg-linter-schemas/README.md
  examples/kg-linter-schemas/invalid-command.md
  examples/kg-linter-schemas/valid-command.md
  examples/kg-linter-schemas/valid-kg-schema.md
  examples/kg-linter-schemas/valid-thesaurus-schema.md
Due: none

docs: Add comprehensive Dioxus migration specification and design plan
  DIOXUS_DESIGN_AND_PLAN.md
  DIOXUS_MIGRATION_SPECIFICATION.md
Due: none

feat(Phase 1): Improve state management with proper Dioxus signals
  desktop-dioxus/src/components/navigation/role_selector.rs
  desktop-dioxus/src/state/config.rs
  desktop-dioxus/src/state/conversation.rs
  desktop-dioxus/src/state/search.rs
Due: cargo-fmt, cargo-clippy

docs: Add comprehensive progress tracking document
  desktop-dioxus/PROGRESS.md
Due: none

ci(kg-lint): run Earthly +kg-lint in CI and include target in pipeline
  .github/workflows/earthly-runner.yml
  Earthfile
Due: none

feat(desktop-dioxus): Complete Phase 1 - System tray and global shortcuts integration
  Cargo.lock
  desktop-dioxus/Cargo.toml
  desktop-dioxus/src/app.rs
  desktop-dioxus/src/global_shortcuts.rs
  desktop-dioxus/src/main.rs
  desktop-dioxus/src/state/config.rs
  desktop-dioxus/src/system_tray.rs
Due: cargo-fmt, cargo-clippy

feat(desktop-dioxus): Implement Phase 2 - Search feature with backend integration
  desktop-dioxus/PROGRESS.md
  desktop-dioxus/src/components/search/search.rs
  desktop-dioxus/src/services/mod.rs
  desktop-dioxus/src/services/search_service.rs
Due: cargo-fmt, cargo-clippy

feat(desktop-dioxus): Implement Phase 3 - Complete chat feature with AI integration
  desktop-dioxus/src/components/chat/chat.rs
  desktop-dioxus/src/services/chat_service.rs
  desktop-dioxus/src/services/mod.rs
Due: cargo-fmt, cargo-clippy

docs(desktop-dioxus): Add comprehensive implementation summary
  desktop-dioxus/IMPLEMENTATION_SUMMARY.md
Due: none

feat(desktop-dioxus): Add autocomplete dropdown and markdown rendering
  desktop-dioxus/assets/styles/custom.css
  desktop-dioxus/src/components/chat/chat.rs
  desktop-dioxus/src/components/search/search.rs
Due: cargo-fmt, cargo-clippy

docs(desktop-dioxus): Add final status - Production ready\!
  desktop-dioxus/FINAL_STATUS.md
Due: none

Complete Tauri 2.x migration with security enhancements
  .github/FUNDING.yml
  Cargo.lock
  TAURI_2_MIGRATION_FINAL_STATUS.md
  TAURI_2_MIGRATION_GUIDE.md
  TAURI_2_MIGRATION_PLAN_FINAL.md
  crates/terraphim_onepassword_cli/Cargo.toml
  crates/terraphim_onepassword_cli/src/centralized_monitoring.rs
  crates/terraphim_onepassword_cli/src/integration_tests.rs
  crates/terraphim_onepassword_cli/src/lib.rs
  crates/terraphim_onepassword_cli/src/security_monitoring.rs
  crates/terraphim_onepassword_cli/terraphim_security.log
  desktop-specification.md
  desktop/src-tauri/Cargo.toml
  desktop/src-tauri/capabilities/main.json
  desktop/src-tauri/src/main.rs
  desktop/src/app.html
  desktop/src/lib/components/MarkdownRenderer.svelte
  desktop/src/routes/+layout.svelte
  desktop/src/routes/+page.svelte
  desktop/src/routes/chat/+page.svelte
  desktop/src/routes/config/json/+page.svelte
  desktop/src/routes/config/wizard/+page.svelte
  desktop/src/routes/graph/+page.svelte
  desktop/yarn.lock
  integration_test_report.json
  migration-executive-summary.md
  migration-option-1-tauri-enhanced.md
  migration-option-2-pwa.md
  migration-option-3-hybrid.md
  performance_test_report.json
  run_integration_tests.py
  run_performance_tests.py
  tauri-2-migration-progress.md
  terraphim_server/dist/index.html
Due: cargo-fmt, cargo-clippy, biome-check

test(desktop-dioxus): Add comprehensive end-to-end test suite - ALL PASSING
  desktop-dioxus/TEST_RESULTS.md
  test_standalone/Cargo.lock
  test_standalone/Cargo.toml
  test_standalone/crates/terraphim_settings/default/settings.toml
  test_standalone/tests/services.rs
Due: cargo-fmt, cargo-clippy

test: Add additional test files for desktop-dioxus verification
  desktop-dioxus/tests/services_integration_test.rs
  test_desktop_services.rs
  test_desktop_services_Cargo.toml
Due: cargo-fmt, cargo-clippy

doc: summary added
  COMPACT_SUMMARY_TAURI_2_MIGRATION.md
  SESSION_EXPORT_TAURI_2_MIGRATION_COMPLETE.md
Due: none

docs: add agent guidance for KG linter and example agent
  .agents/examples/04-kg-lint-check.ts
  agents_instructions.json
  docs/src/kg/schema-linter.md
Due: none

docs: add Claude Skills for KG linting and template; reference in CLAUDE.md
  CLAUDE.md
  docs/src/skills/README.md
  docs/src/skills/kg-schema-lint.skill.yaml
  docs/src/skills/template.skill.yaml
Due: none

docs(readme): add getting-started section for KG schema linter and Claude Skills
  README.md
Due: none

docs(readme): add how to run KG linter Claude Skill locally
  README.md
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$, but not: (?x)(
  ^target/.*|
  ^desktop/node_modules/.*|
  ^desktop/dist/.*|
  ^desktop/src-tauri/target/.*|
  ^vendor/.*|
  .*\.rs\.bk$|
  ^\.cargo/.*|
  ^artifact/.*
)
  cargo-clippy: any of: \.rs$, but not: (?x)(
  ^target/.*|
  ^desktop/node_modules/.*|
  ^desktop/dist/.*|
  ^desktop/src-tauri/target/.*|
  ^vendor/.*|
  .*\.rs\.bk$|
  ^\.cargo/.*|
  ^artifact/.*
)
  biome-check: any of: desktop/.*\.(js|ts|tsx|jsx|json|jsonc)$, but not: (?x)(
  ^target/.*|
  ^desktop/node_modules/.*|
  ^desktop/dist/.*|
  ^desktop/src-tauri/target/.*|
  ^vendor/.*|
  .*\.rs\.bk$|
  ^\.cargo/.*|
  ^artifact/.*
)
