Repository terraphim/terraphim-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, biome-check

cargo-fmt:
  name: Cargo format check
  entry: cargo fmt --all -- --check
  language: system
  pass_filenames: false
  description: Check Rust code formatting with cargo fmt

cargo-clippy:
  name: Cargo clippy
  entry: cargo clippy --workspace --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false
  description: Run Rust linter with cargo clippy

biome-check:
  name: Biome lint and format check
  entry: bash -c 'cd desktop && npx @biomejs/biome check --write false --no-errors-on-unmatched'
  language: system
  pass_filenames: false
  description: Check JavaScript/TypeScript formatting and linting with Biome

docs: add CI migration plan from Earthly to Dagger
  .pre-commit-config.yaml
  CI_MIGRATION_PLAN.md
Due: none

feat: add chat with document button and improve context UI
  desktop/src/App.svelte
  desktop/src/lib/Chat/Chat.svelte
  desktop/src/lib/Search/ResultItem.svelte
Due: none

fix: resolve navigation router errors and reduce health check noise
  desktop/src/App.svelte
  desktop/src/lib/services/novelAutocompleteService.ts
Due: biome-check

fix: resolve tinro navigation errors and optimize health checks
  desktop/src/App.svelte
  desktop/src/lib/services/novelAutocompleteService.ts
Due: biome-check

fix: resolve HTTP 422 error when adding search results to context
  desktop/src/lib/Search/ResultItem.svelte
Due: none

chore: CI fixes
  Earthfile
Due: none

fix: resolve context management API case sensitivity issues
  desktop/src/lib/Chat/Chat.svelte
  desktop/src/lib/Search/ResultItem.svelte
  desktop/src/lib/ThemeSwitcher.svelte
  desktop/src/lib/services/novelAutocompleteService.ts
  terraphim_server/dist/assets/index-0aa2314c.css
  terraphim_server/dist/assets/index-ab1b4983.js
  terraphim_server/dist/assets/index-d6be09f9.css
  terraphim_server/dist/assets/index-ec939c26.js
  terraphim_server/dist/assets/vendor-utils-1b347ea1.js
  terraphim_server/dist/assets/vendor-utils-740e9743.js
  terraphim_server/dist/index.html
Due: biome-check

build: fix Earthly cross-compilation and dependency issues
  .pre-commit-config.yaml
  Cargo.lock
  Cargo.toml
  Earthfile
  crates/terraphim_atomic_client/Cargo.toml
  crates/terraphim_mcp_server/Cargo.toml
  crates/terraphim_mcp_server/src/lib.rs
  crates/terraphim_middleware/Cargo.toml
  crates/terraphim_tui/Cargo.toml
  desktop/src-tauri/Cargo.toml
  terraphim_server/Cargo.toml
  terraphim_server/src/error.rs
Due: cargo-fmt, cargo-clippy

build: fix Earthly cross-compilation and dependency issues with tests
  CI_MIGRATION_PLAN.md
  TESTING_SCRIPTS_README.md
  crates/terraphim_service/terraphim_server/fixtures/haystack/test-kg-demo.md
  desktop/NOVEL_AUTOCOMPLETE_FIXES.md
  desktop/src/lib/Editor/TerraphimSuggestion.ts
  desktop/src/lib/config/autocomplete.ts
  desktop/test-novel-autocomplete-integration.js
  desktop/tests/README.md
  desktop/tests/e2e/helpers/autocomplete-helpers.ts
  desktop/tests/e2e/kg-links-visibility.spec.ts
  desktop/tests/e2e/novel-autocomplete.spec.ts
  desktop/tests/fixtures/autocomplete-fixtures.ts
  desktop/tests/global-setup-autocomplete.ts
  desktop/tests/global-teardown-autocomplete.ts
  desktop/tests/playwright-autocomplete.config.ts
  quick-start-autocomplete.sh
  start-autocomplete-test.sh
  stop-autocomplete-test.sh
  terraphim_server/dist/assets/index-edaf7e05.js
Due: biome-check

fix(security): remove hardcoded API credentials and add security pre-commit hook
  browser_extensions/TerraphimAIParseExtension/options.html
  browser_extensions/TerraphimAIParseExtension/options.js
  browser_extensions/TerraphimAIParseExtension/sidepanel.js
  scripts/check-api-keys.sh
  scripts/install-pre-commit-hook.sh
Due: none

fix(security): integrate API key detection with existing pre-commit hook
  scripts/install-pre-commit-hook.sh
Due: none

fix(security): remove hardcoded API credentials and add security pre-commit hook
  PRECOMMIT_INTEGRATION.md
  browser_extensions/TerraphimAIParseExtension/SECURITY.md
Due: none

feat(browser-extensions): comprehensive build system and installation guides
  .env.template
  browser_extensions/BUILD.md
  browser_extensions/INSTALL.md
  browser_extensions/RELEASE.md
  browser_extensions/TerraphimAIParseExtension/wasm/Cargo.toml
  browser_extensions/config.template.json
  scripts/build-browser-extensions.sh
  scripts/package-browser-extensions.sh
Due: none

test: comprehensive test infrastructure for TUI and Tauri CLI with KG data
  Earthfile
  crates/terraphim_tui/tests/comprehensive_cli_tests.rs
  crates/terraphim_tui/tests/error_handling_test.rs
  crates/terraphim_tui/tests/extract_feature_tests.rs
  crates/terraphim_tui/tests/extract_functionality_validation.rs
  desktop/src-tauri/tests/comprehensive_cmd_tests.rs
  desktop/src-tauri/tests/extract_feature_tests.rs
  desktop/src/lib/services/novelAutocompleteService.ts
  desktop/tests/e2e/kg-links-visibility.spec.ts
  docs/src/kg/api.md
  docs/src/kg/configuration.md
  docs/src/kg/database.md
  docs/src/kg/graph.md
  docs/src/kg/haystack.md
  docs/src/kg/middleware.md
  docs/src/kg/search.md
  docs/src/kg/service.md
  docs/src/kg/system.md
  docs/src/kg/thesaurus.md
  terraphim_server/dist/assets/index-edaf7e05.js
  terraphim_server/dist/assets/vendor-editor-992829d3.js
  terraphim_server/dist/assets/vendor-ui-cd3d2b6a.js
  terraphim_server/dist/index.html
  terraphim_server/dist/splashscreen.html
  terraphim_server/dist/splashscreen.js
Due: cargo-fmt, cargo-clippy, biome-check

feat(hooks): enhance pre-commit hook with comprehensive Rust checks
  scripts/hooks/pre-commit
Due: none

fix(hooks): adjust clippy severity in pre-commit hook
  scripts/hooks/pre-commit
Due: none

chore(browser-extensions): clean up obsolete git artifacts
  browser_extensions/TerraphimAIContext/.gitignore
  browser_extensions/TerraphimAIParseExtension/.gitmodules
  browser_extensions/TerraphimAIParseExtension/wasm/.gitignore
  browser_extensions/TerraphimAIParseExtension/wasm/Cargo.lock
  browser_extensions/TerraphimAIParseExtension/wasm/package-lock.json
Due: none

feat: complete CI/CD migration from Earthly to GitHub Actions
  .github/dependabot.yml
  .github/workflows/ci-native.yml
  .github/workflows/docker-multiarch.yml
  .github/workflows/frontend-build.yml
  .github/workflows/rust-build.yml
  @lessons-learned.md
  @memories.md
  @scratchpad.md
  CI_MIGRATION_COMPLETE.md
  build-env.sh
  docker/Dockerfile.multiarch
  scripts/ci_build.sh
  scripts/docker_buildx.sh
  scripts/setup_cross_compile.sh
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$, but not: (?x)(
  ^target/.*|
  ^desktop/node_modules/.*|
  ^desktop/dist/.*|
  ^desktop/src-tauri/target/.*|
  ^vendor/.*|
  .*\.rs\.bk$|
  ^\.cargo/.*|
  ^artifact/.*
)
  cargo-clippy: any of: \.rs$, but not: (?x)(
  ^target/.*|
  ^desktop/node_modules/.*|
  ^desktop/dist/.*|
  ^desktop/src-tauri/target/.*|
  ^vendor/.*|
  .*\.rs\.bk$|
  ^\.cargo/.*|
  ^artifact/.*
)
  biome-check: any of: desktop/.*\.(js|ts|tsx|jsx|json|jsonc)$, but not: (?x)(
  ^target/.*|
  ^desktop/node_modules/.*|
  ^desktop/dist/.*|
  ^desktop/src-tauri/target/.*|
  ^vendor/.*|
  .*\.rs\.bk$|
  ^\.cargo/.*|
  ^artifact/.*
)
