Repository terraphim/terraphim-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, biome-check

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
# This configuration works with pre-commit, prek, and other compatible tools

repos:
  # General code quality hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        name: Trim trailing whitespace
      - id: end-of-file-fixer
        name: Fix end of files
      - id: check-yaml
        name: Check YAML syntax
      - id: check-toml
        name: Check TOML syntax
      - id: check-json
        name: Check JSON syntax
      - id: check-case-conflict
        name: Check for case conflicts
      - id: check-merge-conflict
        name: Check for merge conflicts
      - id: debug-statements
        name: Check for debug statements
      - id: detect-private-key
        name: Detect private keys
      - id: check-added-large-files
        name: Check for large files
        args: ['--maxkb=1000']

  # Rust-specific hooks
  - repo: local
    hooks:
      - id: cargo-fmt
        name: Cargo format check
        entry: cargo fmt --all -- --check
        language: system
        types: [rust]
        pass_filenames: false
        description: "Check Rust code formatting with cargo fmt"

      - id: cargo-clippy
        name: Cargo clippy
        entry: cargo clippy --workspace --all-targets --all-features -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false
        description: "Run Rust linter with cargo clippy"

      - id: cargo-test
        name: Cargo test
        entry: cargo test --workspace
        language: system
        types: [rust]
        pass_filenames: false
        stages: [manual]
        description: "Run Rust tests (manual stage)"

      - id: cargo-audit
        name: Cargo audit
        entry: cargo audit
        language: system
        pass_filenames: false
        stages: [manual]
        description: "Check for known security vulnerabilities (manual stage)"

  # JavaScript/TypeScript with Biome
  - repo: local
    hooks:
      - id: biome-check
        name: Biome lint and format check
        entry: bash -c 'cd desktop && npx @biomejs/biome check --write false --no-errors-on-unmatched'
        language: system
        files: 'desktop/.*\.(js|ts|tsx|jsx|json|jsonc)$'
        pass_filenames: false
        description: "Check JavaScript/TypeScript formatting and linting with Biome"

      - id: biome-format
        name: Biome format
        entry: bash -c 'cd desktop && npx @biomejs/biome format --write --no-errors-on-unmatched'
        language: system
        files: 'desktop/.*\.(js|ts|tsx|jsx|json|jsonc)$'
        pass_filenames: false
        stages: [manual]
        description: "Auto-format JavaScript/TypeScript with Biome (manual stage)"

  # Conventional commits validation
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v3.0.0
    hooks:
      - id: conventional-pre-commit
        name: Conventional commit format
        stages: [commit-msg]
        args: [
          "--strict",
          "--scopes=feat,fix,docs,style,refactor,perf,test,chore,build,ci,revert"
        ]
        description: "Enforce conventional commit message format"

  # Secret detection
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        name: Detect secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: .*/tests/.*|.*\.lock$|.*\.sum$|.*yarn\.lock$
        description: "Detect secrets in staged code"

# Global exclusions
exclude: |
  (?x)(
    ^target/.*|
    ^desktop/node_modules/.*|
    ^desktop/dist/.*|
    ^desktop/src-tauri/target/.*|
    ^vendor/.*|
    .*\.rs\.bk$|
    ^\.cargo/.*|
    ^artifact/.*
  )

feat: Add Claude Skills integration alongside hooks
  examples/TERRAPHIM_CLAUDE_INTEGRATION.md
  examples/claude-code-hooks/README.md
  examples/claude-skills/.gitignore
  examples/claude-skills/terraphim-package-manager/README.md
  examples/claude-skills/terraphim-package-manager/SKILL.md
  examples/claude-skills/terraphim-package-manager/examples/package.json
  examples/claude-skills/terraphim-package-manager/examples/script.sh
  examples/claude-skills/terraphim-package-manager/replace.sh
Due: none

Phase 2D Complete: CI Test Matrix Integration and TUI Remediation
  crates/terraphim_tui/Cargo.toml
  crates/terraphim_tui/src/commands/executor.rs
  crates/terraphim_tui/src/commands/hooks.rs
  crates/terraphim_tui/src/commands/markdown_parser.rs
  crates/terraphim_tui/src/commands/mod.rs
  crates/terraphim_tui/src/commands/modes/firecracker.rs
  crates/terraphim_tui/src/commands/modes/hybrid.rs
  crates/terraphim_tui/src/commands/modes/local.rs
  crates/terraphim_tui/src/commands/registry.rs
  crates/terraphim_tui/src/commands/validator.rs
  crates/terraphim_tui/src/lib.rs
  crates/terraphim_tui/src/repl/chat.rs
  crates/terraphim_tui/src/repl/commands.rs
  crates/terraphim_tui/src/repl/handler.rs
  crates/terraphim_tui/src/repl/mcp_tools.rs
  desktop/biome.json
  scripts/test-matrix.sh
Due: cargo-fmt, cargo-clippy, biome-check

feat: Add attribution replacement example alongside bun replacement
  docs/src/kg/generated_with_terraphim.md
  docs/src/kg/https___terraphim_ai.md
  docs/src/kg/knowledge-graph-system.md
  docs/src/kg/noreply_terraphim.md
  docs/src/kg/terraphim_ai.md
  docs/src/kg/terraphim_ai_link.md.old
  docs/src/kg/terraphim_ai_url.md.old
  examples/TERRAPHIM_CLAUDE_INTEGRATION.md
Due: none

feat(tui): complete comprehensive VM handler integration and fix compilation errors
  Cargo.lock
  crates/terraphim_tui/src/lib.rs
  crates/terraphim_tui/src/repl/commands.rs
  crates/terraphim_tui/src/repl/handler.rs
  crates/terraphim_tui/src/repl/web_operations.rs
  crates/terraphim_tui/tests/file_operations_basic_tests.rs
  desktop/tests/webdriver/setup.ts
Due: cargo-fmt, cargo-clippy, biome-check

feat: Add comprehensive codebase evaluation framework
  examples/CODEBASE_EVALUATION_DESIGN.md
  examples/TERRAPHIM_CLAUDE_INTEGRATION.md
  examples/codebase-evaluation/README.md
  examples/codebase-evaluation/kg-templates/bug-patterns.md
  examples/codebase-evaluation/kg-templates/code-quality.md
  examples/codebase-evaluation/kg-templates/performance.md
  examples/codebase-evaluation/kg-templates/security.md
  examples/codebase-evaluation/scripts/baseline-evaluation.sh
  examples/codebase-evaluation/scripts/compare-evaluations.sh
  examples/codebase-evaluation/scripts/evaluate-ai-agent.sh
  examples/codebase-evaluation/scripts/post-evaluation.sh
Due: none

fix(deps): update rust-genai and Rust toolchain to resolve compilation errors
  Cargo.toml
  crates/terraphim_multi_agent/Cargo.toml
  rust-toolchain.toml
Due: none

docs: Add comprehensive documentation and blog post for Claude integration
  README.md
  examples/ANNOUNCEMENT.md
  examples/BLOG_POST_CLAUDE_INTEGRATION.md
Due: none

fix(tui): resolve compilation errors and clean up unused imports
  crates/terraphim_multi_agent/Cargo.toml
  crates/terraphim_tui/src/commands/modes/firecracker.rs
  crates/terraphim_tui/src/commands/modes/hybrid.rs
  crates/terraphim_tui/src/commands/tests.rs
  crates/terraphim_tui/tests/command_system_integration_tests.rs
  crates/terraphim_tui/tests/comprehensive_cli_tests.rs
  crates/terraphim_tui/tests/execution_mode_tests.rs
  crates/terraphim_tui/tests/extract_feature_tests.rs
  crates/terraphim_tui/tests/hook_system_tests.rs
  crates/terraphim_tui/tests/integration_test.rs
  crates/terraphim_tui/tests/integration_tests.rs
  crates/terraphim_tui/tests/offline_mode_tests.rs
  crates/terraphim_tui/tests/persistence_tests.rs
  crates/terraphim_tui/tests/replace_feature_tests.rs
  crates/terraphim_tui/tests/selected_role_tests.rs
  crates/terraphim_tui/tests/server_mode_tests.rs
  crates/terraphim_tui/tests/vm_management_tests.rs
  crates/terraphim_tui/tests/web_operations_basic_tests.rs
  crates/terraphim_tui/tests/web_operations_tests.rs
  crates/terraphim_types/src/lib.rs
Due: cargo-fmt, cargo-clippy

feat: Add grep.app haystack integration for GitHub code search
  Cargo.lock
  crates/haystack_grepapp/Cargo.toml
  crates/haystack_grepapp/README.md
  crates/haystack_grepapp/src/client.rs
  crates/haystack_grepapp/src/lib.rs
  crates/haystack_grepapp/src/models.rs
  crates/haystack_grepapp/tests/integration_test.rs
  crates/terraphim_config/src/lib.rs
  crates/terraphim_middleware/Cargo.toml
  crates/terraphim_middleware/src/haystack/grep_app.rs
  crates/terraphim_middleware/src/haystack/mod.rs
  crates/terraphim_middleware/src/indexer/mod.rs
Due: cargo-fmt, cargo-clippy

feat: Add comprehensive Python bindings for terraphim_automata
  .github/workflows/python-bindings.yml
  Cargo.lock
  crates/terraphim_automata_py/.gitignore
  crates/terraphim_automata_py/Cargo.toml
  crates/terraphim_automata_py/README.md
  crates/terraphim_automata_py/examples/basic_autocomplete.py
  crates/terraphim_automata_py/examples/fuzzy_search.py
  crates/terraphim_automata_py/examples/text_processing.py
  crates/terraphim_automata_py/pyproject.toml
  crates/terraphim_automata_py/python/benchmarks/benchmark_autocomplete.py
  crates/terraphim_automata_py/python/benchmarks/benchmark_matcher.py
  crates/terraphim_automata_py/python/terraphim_automata/__init__.py
  crates/terraphim_automata_py/python/terraphim_automata/__init__.pyi
  crates/terraphim_automata_py/python/tests/conftest.py
  crates/terraphim_automata_py/python/tests/test_autocomplete.py
  crates/terraphim_automata_py/python/tests/test_matcher.py
  crates/terraphim_automata_py/python/tests/test_thesaurus.py
  crates/terraphim_automata_py/scripts/build_and_test.sh
  crates/terraphim_automata_py/src/lib.rs
Due: cargo-fmt, cargo-clippy

fix(tests): resolve test failures across multiple crates
  crates/terraphim_automata/src/lib.rs
  crates/terraphim_goal_alignment/src/alignment.rs
  crates/terraphim_goal_alignment/src/knowledge_graph.rs
  crates/terraphim_multi_agent/src/agent.rs
  crates/terraphim_multi_agent/src/pool.rs
  crates/terraphim_multi_agent/src/vm_execution/code_extractor.rs
  crates/terraphim_multi_agent/src/vm_execution/config_helpers.rs
  crates/terraphim_types/src/lib.rs
  scripts/build-release.sh
  scripts/cross-test.sh
  scripts/feature-matrix.sh
Due: cargo-fmt, cargo-clippy

fix(tests): complete resolution of failing tests - 8/8 tests resolved
  crates/terraphim_kg_orchestration/src/supervision.rs
Due: cargo-fmt, cargo-clippy

feat: Add engineer roles with grep.app haystack integration
  terraphim_server/default/combined_roles_config.json
  terraphim_server/default/frontend_engineer_config.json
  terraphim_server/default/python_engineer_config.json
Due: none

fix(tui): improve markdown content preservation with pulldown-cmark AST parsing
  crates/terraphim_tui/src/commands/markdown_parser.rs
  crates/terraphim_tui/src/commands/modes/local.rs
  crates/terraphim_tui/src/commands/tests.rs
Due: cargo-fmt, cargo-clippy
