Repository terraphim/terraphim-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, biome-check

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
# This configuration works with pre-commit, prek, and other compatible tools

repos:
  # General code quality hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        name: Trim trailing whitespace
      - id: end-of-file-fixer
        name: Fix end of files
      - id: check-yaml
        name: Check YAML syntax
      - id: check-toml
        name: Check TOML syntax
      - id: check-json
        name: Check JSON syntax
      - id: check-case-conflict
        name: Check for case conflicts
      - id: check-merge-conflict
        name: Check for merge conflicts
      - id: debug-statements
        name: Check for debug statements
      - id: detect-private-key
        name: Detect private keys
      - id: check-added-large-files
        name: Check for large files
        args: ['--maxkb=1000']

  # Rust-specific hooks
  - repo: local
    hooks:
      - id: cargo-fmt
        name: Cargo format check
        entry: cargo fmt --all -- --check
        language: system
        types: [rust]
        pass_filenames: false
        description: "Check Rust code formatting with cargo fmt"

      - id: cargo-clippy
        name: Cargo clippy
        entry: cargo clippy --workspace --all-targets --all-features -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false
        description: "Run Rust linter with cargo clippy"

      - id: cargo-test
        name: Cargo test
        entry: cargo test --workspace
        language: system
        types: [rust]
        pass_filenames: false
        stages: [manual]
        description: "Run Rust tests (manual stage)"

      - id: cargo-audit
        name: Cargo audit
        entry: cargo audit
        language: system
        pass_filenames: false
        stages: [manual]
        description: "Check for known security vulnerabilities (manual stage)"

  # JavaScript/TypeScript with Biome
  - repo: local
    hooks:
      - id: biome-check
        name: Biome lint and format check
        entry: bash -c 'cd desktop && npx @biomejs/biome check --write false --no-errors-on-unmatched'
        language: system
        files: 'desktop/.*\.(js|ts|tsx|jsx|json|jsonc)$'
        pass_filenames: false
        description: "Check JavaScript/TypeScript formatting and linting with Biome"

      - id: biome-format
        name: Biome format
        entry: bash -c 'cd desktop && npx @biomejs/biome format --write --no-errors-on-unmatched'
        language: system
        files: 'desktop/.*\.(js|ts|tsx|jsx|json|jsonc)$'
        pass_filenames: false
        stages: [manual]
        description: "Auto-format JavaScript/TypeScript with Biome (manual stage)"

  # Conventional commits validation
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v3.0.0
    hooks:
      - id: conventional-pre-commit
        name: Conventional commit format
        stages: [commit-msg]
        args: [
          "--strict",
          "--scopes=feat,fix,docs,style,refactor,perf,test,chore,build,ci,revert"
        ]
        description: "Enforce conventional commit message format"

  # Secret detection
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        name: Detect secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: .*/tests/.*|.*\.lock$|.*\.sum$|.*yarn\.lock$
        description: "Detect secrets in staged code"

# Global exclusions
exclude: |
  (?x)(
    ^target/.*|
    ^desktop/node_modules/.*|
    ^desktop/dist/.*|
    ^desktop/src-tauri/target/.*|
    ^vendor/.*|
    .*\.rs\.bk$|
    ^\.cargo/.*|
    ^artifact/.*
  )

chore(deps): upgrade major version dependencies and fix dependabot issues
  @memories.md
  Cargo.lock
  crates/terraphim_config/Cargo.toml
  crates/terraphim_middleware/Cargo.toml
  crates/terraphim_rolegraph/Cargo.toml
  crates/terraphim_tui/Cargo.toml
Due: none

fix(ci): resolve workflow syntax error for reusable Docker workflow
  .github/workflows/ci-native.yml
  .github/workflows/docker-multiarch.yml
Due: none

fix(browser-extensions): resolve API instance management and configuration issues
  browser_extensions/TerraphimAIParseExtension/api.js
  browser_extensions/TerraphimAIParseExtension/background.js
Due: none

docs: update lessons learned with API instance management patterns
  @lessons-learned.md
Due: none

chore(ci): disable deprecated Earthly workflows
  .github/workflows/ci.yml
  .github/workflows/test-on-pr.yml
Due: none

feat: complete Tauri multi-Ubuntu support and Earthly migration
  .github/workflows/ci-native.yml
  .github/workflows/publish-tauri.yml
  .github/workflows/release-comprehensive.yml
  .github/workflows/test-on-pr-desktop.yml
Due: none

fix(browser-extensions): implement WASM-based replacement to prevent recursive replacement issues
  browser_extensions/TerraphimAIParseExtension/background.js
  browser_extensions/TerraphimAIParseExtension/clientside_html.js
Due: none

chore: update working version with replacement map fallback
  browser_extensions/TerraphimAIParseExtension/clientside_html_working.js
Due: none

docs: add comprehensive browser extensions validation report
  browser_extensions/VALIDATION_REPORT.md
Due: none

Complete CI/CD infrastructure overhaul with hybrid approach
  .github/docker/builder.Dockerfile
  .github/workflows/ci-native.yml
  .github/workflows/ci-optimized.yml
  .github/workflows/earthly-runner.yml
  .github/workflows/frontend-build.yml
  .github/workflows/rust-build.yml
  .github/workflows/test-matrix.yml
  CI_MIGRATION_GUIDE.md
  CI_SUCCESS_SUMMARY.md
  MATRIX_FIXES_SUMMARY.md
  scripts/test-ci-local.sh
  scripts/test-matrix-fixes.sh
  scripts/validate-all-ci.sh
  scripts/validate-builds.sh
Due: none

docs: update project documentation with CI/CD migration completion
  @lessons-learned.md
  @memories.md
  @scratchpad.md
  CLAUDE.md
Due: none

feat: implement comprehensive Ollama support for LLM summarization and chat
  @lessons-learned.md
  @memories.md
  @scratchpad.md
  CLAUDE.md
  Cargo.lock
  crates/terraphim_service/Cargo.toml
  crates/terraphim_service/src/lib.rs
  crates/terraphim_service/src/llm.rs
  terraphim_server/Cargo.toml
  terraphim_server/src/api.rs
Due: cargo-fmt, cargo-clippy

docs: add comprehensive Ollama integration documentation and demo
  CLAUDE.md
  demo_ollama_features.py
  terraphim_server/Cargo.toml
  test_ollama_integration.rs
  tests/ollama_integration_test.rs
  tests/test_ollama_integration_live.rs
Due: cargo-fmt, cargo-clippy

fix: resolve compilation errors and add missing service methods
  crates/terraphim_mcp_server/src/lib.rs
  crates/terraphim_service/src/lib.rs
  test_ollama_integration.rs
  tests/ollama_integration_test.rs
  tests/test_ollama_integration_live.rs
Due: cargo-fmt, cargo-clippy

feat: implement persistence-first caching for QueryRs haystack
  CONTEXT_FIXES_SUMMARY.md
  crates/terraphim_middleware/src/haystack/query_rs.rs
  desktop/src/__test-utils__/testConfig.ts
  desktop/src/__test-utils__/testServer.ts
  desktop/src/__tests__/contextIntegration.test.ts
  desktop/src/lib/Chat/__tests__/contextManagement.test.ts
Due: cargo-fmt, cargo-clippy, biome-check

fix: comprehensive test fixes and documentation updates for release readiness
  CHANGELOG.md
  README.md
  crates/terraphim_config/crates/terraphim_settings/default/settings.toml
  crates/terraphim_rolegraph/src/lib.rs
  crates/terraphim_service/src/lib.rs
  crates/terraphim_service/tests/ollama_adapter_smoke.rs
  crates/terraphim_service/tests/openrouter_integration_test.rs
  crates/terraphim_settings/test_settings/settings.toml
  crates/terraphim_tui/tests/comprehensive_cli_tests.rs
  crates/terraphim_tui/tests/extract_feature_tests.rs
  crates/terraphim_types/src/lib.rs
  desktop/src-tauri/tests/comprehensive_cmd_tests.rs
  desktop/src-tauri/tests/extract_feature_tests.rs
Due: cargo-fmt, cargo-clippy

feat: implement context editing with delete and update functionality
  crates/terraphim_mcp_server/crates/terraphim_settings/default/settings.toml
  crates/terraphim_mcp_server/tests/mcp_rolegraph_validation_test.rs
  crates/terraphim_middleware/crates/terraphim_settings/default/settings.toml
  crates/terraphim_persistence/src/settings.rs
  crates/terraphim_service/src/context.rs
  crates/terraphim_service/src/context_tests.rs
  crates/terraphim_service/tests/context_api_integration.rs
  crates/terraphim_service/tests/ollama_context_management_test.rs
  crates/terraphim_service/tests/test_utilities/mod.rs
  crates/terraphim_tui/tests/cli_context_management_test.rs
  crates/terraphim_types/src/lib.rs
  desktop/src-tauri/src/cmd.rs
  desktop/src-tauri/src/main.rs
  desktop/src/__test-utils__/testServer.ts
  desktop/src/__tests__/contextEditWorkflow.e2e.test.ts
  desktop/src/lib/Chat/Chat.svelte
  desktop/src/lib/Chat/ContextEditModal.svelte
  desktop/src/lib/Chat/__tests__/ContextEditModal.test.ts
  terraphim_server/dist/assets/index-205bc195.js
  terraphim_server/dist/assets/index-30430093.css
  terraphim_server/dist/assets/index-ab1b4983.js
  terraphim_server/dist/assets/vendor-editor-992829d3.js
  terraphim_server/dist/assets/vendor-ui-cd3d2b6a.js
  terraphim_server/dist/index.html
  terraphim_server/dist/splashscreen.html
  terraphim_server/dist/splashscreen.js
  terraphim_server/src/api.rs
  terraphim_server/src/lib.rs
Due: cargo-fmt, cargo-clippy, biome-check

feat: add context editing functionality
  crates/terraphim_mcp_server/tests/mcp_rolegraph_validation_test.rs
  crates/terraphim_service/tests/context_api_integration.rs
  crates/terraphim_service/tests/ollama_context_management_test.rs
  crates/terraphim_service/tests/test_utilities/mod.rs
  crates/terraphim_tui/src/main.rs
  crates/terraphim_tui/tests/cli_context_management_test.rs
  desktop/src-tauri/src/cmd.rs
  desktop/src-tauri/tests/tauri_context_tests.rs
  desktop/src/__tests__/contextEditWorkflow.e2e.test.ts
  desktop/src/lib/Chat/ContextEditModal.svelte
  desktop/src/lib/Chat/__tests__/ContextEditModal.test.ts
  terraphim_server/crates/terraphim_settings/default/settings.toml
  terraphim_server/dist/assets/index-205bc195.js
  terraphim_server/dist/assets/index-6038ce24.css
  terraphim_server/dist/assets/index-ee53ec6e.js
  terraphim_server/dist/index.html
  terraphim_server/tests/api_context_tests.rs
Due: cargo-fmt, cargo-clippy, biome-check

feat: enhance search with multi-word term matching and dual highlighting
  crates/terraphim_rolegraph/src/lib.rs
  crates/terraphim_service/src/lib.rs
  desktop/src/app.css
  desktop/src/lib/Search/Search.svelte
  desktop/src/lib/Search/TermChip.svelte
  terraphim_server/dist/assets/index-0d64e40a.css
  terraphim_server/dist/assets/index-ee53ec6e.js
  terraphim_server/dist/assets/index-fe2a8889.js
  terraphim_server/dist/index.html
Due: cargo-fmt, cargo-clippy

feat: implement LLM chat completion with context support
  crates/terraphim_service/src/llm.rs
  crates/terraphim_service/tests/chat_with_context_test.rs
  crates/terraphim_service/tests/ollama_chat_context_live_test.rs
  terraphim_server/Cargo.toml
  terraphim_server/src/api.rs
Due: cargo-fmt, cargo-clippy

fix: file TermChip.svelte missed
  desktop/src/lib/Search/TermChip.svelte
  terraphim_server/dist/assets/index-fe2a8889.js
Due: none
