Repository terraphim/terraphim-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, biome-check

cargo-fmt:
  name: Cargo format check
  entry: cargo fmt --all -- --check
  language: system
  pass_filenames: false
  description: Check Rust code formatting with cargo fmt

cargo-clippy:
  name: Cargo clippy
  entry: cargo clippy --workspace --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false
  description: Run Rust linter with cargo clippy

biome-check:
  name: Biome lint and format check
  entry: bash -c 'cd desktop && npx @biomejs/biome check --write false --no-errors-on-unmatched'
  language: system
  pass_filenames: false
  description: Check JavaScript/TypeScript formatting and linting with Biome

fix: sync TUI implementation from private repo and fix panic strategy for release builds
  .reports/FINAL_VALIDATION_STATUS.md
  Cargo.toml
  crates/terraphim_tui/src/lib.rs
  crates/terraphim_tui/src/repl/commands.rs
  crates/terraphim_tui/src/repl/handler.rs
  crates/terraphim_tui/src/repl/mod.rs
  server.log
Due: cargo-fmt, cargo-clippy

release: v1.0.0 release build successful
  .cargo/config.toml
  RELEASE_SUMMARY.md
  crates/terraphim_middleware/tests/atomic_document_import_test.rs.disabled
  crates/terraphim_middleware/tests/atomic_haystack.rs.disabled
  crates/terraphim_middleware/tests/atomic_haystack_config_integration.rs.disabled
  crates/terraphim_middleware/tests/atomic_roles_e2e_test.rs.disabled
  crates/terraphim_middleware/tests/dual_haystack_validation_test.rs.disabled
  crates/terraphim_service/tests/openrouter_proxy_test.rs.disabled
Due: none

Fix Desktop app: Add missing role selector UI to ThemeSwitcher component and correct Tauri binary configuration
  RELEASE_COMPLETED.md
  crates/terraphim_persistence/examples/simple_struct.rs
  desktop/src-tauri/Cargo.toml
  desktop/src/lib/ThemeSwitcher.svelte
  releases/v1.0.0/macos/TerraphimDesktop.app.tar.gz
  releases/v1.0.0/macos/TerraphimDesktop_v1.0.0_aarch64.dmg
  terraphim_server/dist/index.html
Due: cargo-fmt, cargo-clippy

Fix clippy errors and pre-commit issues
  crates/terraphim_config/examples/multi_agent_atomic_server_config.rs
  crates/terraphim_config/src/lib.rs
  crates/terraphim_mcp_server/tests/test_file_editing.rs
  crates/terraphim_middleware/src/mcp_namespace.rs
  crates/terraphim_middleware/src/tool_discovery.rs
  crates/terraphim_multi_agent/examples/enhanced_atomic_server_example.rs
  crates/terraphim_multi_agent/examples/workflow_patterns_working.rs
  crates/terraphim_multi_agent/tests/llm_integration_test.rs
  crates/terraphim_multi_agent/tests/test_llm_code_generation.rs
  crates/terraphim_persistence/examples/simple_struct.rs
  crates/terraphim_persistence/src/mcp.rs
  crates/terraphim_service/src/lib.rs
  crates/terraphim_service/tests/chat_with_context_test.rs
  crates/terraphim_service/tests/kg_preprocessing_test.rs
  crates/terraphim_service/tests/kg_protocol_resolution_test.rs
  crates/terraphim_service/tests/llm_integration_test.rs
  crates/terraphim_service/tests/llm_proxy_integration_test.rs
  crates/terraphim_service/tests/ollama_adapter_smoke.rs
  crates/terraphim_service/tests/ollama_chat_context_live_test.rs
  crates/terraphim_service/tests/openrouter_live_test.rs
  crates/terraphim_tui/src/repl/commands.rs
  crates/terraphim_tui/src/repl/handler.rs
  crates/terraphim_tui/src/service.rs
  terraphim_server/Cargo.toml
  terraphim_server/src/api.rs
  terraphim_server/src/api_mcp_tools.rs
Due: cargo-fmt, cargo-clippy

Fix pre-commit compilation and linting errors
  crates/terraphim_config/examples/atomic_server_config.rs
  crates/terraphim_multi_agent/examples/multi_agent_coordination.rs
  crates/terraphim_persistence/examples/simple_struct.rs
  crates/terraphim_tui/src/commands/markdown_parser.rs
  crates/terraphim_tui/src/commands/mod.rs
  crates/terraphim_tui/src/repl/chat.rs
  crates/terraphim_tui/src/repl/handler.rs
  crates/terraphim_tui/src/repl/mcp_tools.rs
  desktop/src-tauri/src/cmd.rs
  terraphim_server/src/api.rs
  terraphim_server/src/lib.rs
  terraphim_server/tests/api_context_tests.rs
  terraphim_server/tests/debug_rolegraph.rs
Due: cargo-fmt, cargo-clippy

docs: add comprehensive audit reports for functions and components
  COMPREHENSIVE_AUDIT_REPORT.md
  TERRAPHIM_CORE_CRATES_REVIEW.md
Due: none

Fix GitHub Actions release workflows for all platforms
  .github/workflows/package-release.yml
  .github/workflows/publish-tauri.yml
  .github/workflows/release-comprehensive.yml
  .github/workflows/tauri-build.yml
  Cross.toml
  desktop/vite.config.ts
  docker/Dockerfile.multiarch
  docs/github-actions-release-fix-plan.md
  scripts/test-workflows.sh
Due: biome-check

core(release-sync): agent pool tracking, evolution persistable fix, LLM gpt-* routing to Ollama, tests, clippy config updates
  .clippy.toml
  Cargo.lock
  Cargo.toml
  crates/terraphim_agent_evolution/src/lessons.rs
  crates/terraphim_agent_evolution/src/memory.rs
  crates/terraphim_agent_evolution/src/tasks.rs
  crates/terraphim_multi_agent/src/genai_llm_client.rs
  crates/terraphim_multi_agent/src/pool.rs
  crates/terraphim_multi_agent/tests/architecture_proof.rs
  crates/terraphim_multi_agent/tests/integration_proof.rs
  crates/terraphim_service/tests/conversation_service_test.rs
  crates/terraphim_tui/tests/unit_test.rs
Due: cargo-fmt, cargo-clippy

fix(tui): Replace add_command with register_command in tests
  crates/terraphim_tui/src/commands/tests.rs
Due: cargo-fmt, cargo-clippy

chore(server): Update version to 1.0.0
  terraphim_server/Cargo.toml
Due: none

fix(desktop): Attempt to fix svelte-jsoneditor build issue
  desktop/package.json
  desktop/vite.config.ts
  desktop/yarn.lock
Due: biome-check

docs: Add comprehensive test results for v1.1.0
  TEST_RESULTS_v1.1.0.md
Due: none

fix: Update TEST_REPORT to reflect actual tests performed
  TEST_REPORT_v1.1.0.md
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$, but not: (?x)(
  ^target/.*|
  ^desktop/node_modules/.*|
  ^desktop/dist/.*|
  ^desktop/src-tauri/target/.*|
  ^vendor/.*|
  .*\.rs\.bk$|
  ^\.cargo/.*|
  ^artifact/.*
)
  cargo-clippy: any of: \.rs$, but not: (?x)(
  ^target/.*|
  ^desktop/node_modules/.*|
  ^desktop/dist/.*|
  ^desktop/src-tauri/target/.*|
  ^vendor/.*|
  .*\.rs\.bk$|
  ^\.cargo/.*|
  ^artifact/.*
)
  biome-check: any of: desktop/.*\.(js|ts|tsx|jsx|json|jsonc)$, but not: (?x)(
  ^target/.*|
  ^desktop/node_modules/.*|
  ^desktop/dist/.*|
  ^desktop/src-tauri/target/.*|
  ^vendor/.*|
  .*\.rs\.bk$|
  ^\.cargo/.*|
  ^artifact/.*
)
