Repository terraphim/terraphim-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, biome-check

cargo-fmt:
  name: Cargo format check
  entry: cargo fmt --all -- --check
  language: system
  pass_filenames: false
  description: Check Rust code formatting with cargo fmt

cargo-clippy:
  name: Cargo clippy
  entry: cargo clippy --workspace --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false
  description: Run Rust linter with cargo clippy

biome-check:
  name: Biome lint and format check
  entry: bash -c 'cd desktop && npx @biomejs/biome check --write false --no-errors-on-unmatched'
  language: system
  pass_filenames: false
  description: Check JavaScript/TypeScript formatting and linting with Biome

docs: update PLAN.md with autoupdate system completion status
  PLAN.md
Due: none

fix: add terraphim_truthforge to workspace exclusions
  Cargo.toml
  crates/terraphim_automata_py/src/lib.rs
Due: cargo-fmt, cargo-clippy

fix: update terraphim_server dependency to use terraphim_agent
  crates/terraphim_agent/Cargo.toml
  terraphim_server/Cargo.toml
Due: none

feat: add 1Password publishing workflow for Rust crates
  .github/workflows/publish-crates.yml
Due: none

fix: resolve all pre-commit issues without --no-verify
  .secrets.baseline
Due: none

feat: add terraphim_github_runner crate for intelligent CI/CD execution
  Cargo.lock
  crates/terraphim_github_runner/Cargo.toml
  crates/terraphim_github_runner/src/agent.rs
  crates/terraphim_github_runner/src/error.rs
  crates/terraphim_github_runner/src/event_handler.rs
  crates/terraphim_github_runner/src/executor/artifact_manager.rs
  crates/terraphim_github_runner/src/executor/mod.rs
  crates/terraphim_github_runner/src/executor/vm_execution.rs
  crates/terraphim_github_runner/src/history/mod.rs
  crates/terraphim_github_runner/src/history/pattern_matcher.rs
  crates/terraphim_github_runner/src/history/store.rs
  crates/terraphim_github_runner/src/interpreter/command_translator.rs
  crates/terraphim_github_runner/src/interpreter/mod.rs
  crates/terraphim_github_runner/src/interpreter/semantic_analyzer.rs
  crates/terraphim_github_runner/src/knowledge_graph/action_graph.rs
  crates/terraphim_github_runner/src/knowledge_graph/mod.rs
  crates/terraphim_github_runner/src/knowledge_graph/thesaurus_builder.rs
  crates/terraphim_github_runner/src/lib.rs
  crates/terraphim_github_runner/src/parsers/action.rs
  crates/terraphim_github_runner/src/parsers/dockerfile.rs
  crates/terraphim_github_runner/src/parsers/earthfile.rs
  crates/terraphim_github_runner/src/parsers/mod.rs
  crates/terraphim_github_runner/src/parsers/workflow.rs
  crates/terraphim_github_runner/src/registration.rs
  crates/terraphim_github_runner/src/types.rs
Due: cargo-fmt, cargo-clippy

feat: enhance pre-commit fixes and complete branch leverage analysis
  .env.tauri-release
  .pre-commit-config.yaml
  .reports/RELEASE_v1.0.0_NOTES.md
  .reports/tauri_keys.txt
  BRANCH_LEVERAGE_PLAN.md
  crates/terraphim_rolegraph/src/lib.rs
  crates/terraphim_settings/test_settings/settings.toml
Due: cargo-fmt, cargo-clippy

fix: resolve task_decomposition test failures
  crates/terraphim_task_decomposition/src/system.rs
Due: cargo-fmt, cargo-clippy

style: apply biome formatting fixes to desktop code
  desktop/src/lib/BackButton.svelte
  desktop/src/lib/Communication.svelte
  desktop/src/lib/ConfigWizard.svelte
  desktop/src/lib/RoleGraphVisualization.svelte
  desktop/src/lib/Search/ArticleModal.svelte
  desktop/src/lib/Search/KGContextItem.svelte
  desktop/src/lib/Search/TermChip.svelte
  desktop/tests/e2e/duplicate-handling.spec.ts
  desktop/tests/e2e/performance-validation-all-roles.spec.ts
Due: biome-check

docs: complete BRANCH_LEVERAGE_PLAN.md execution and create v1.1.0 release notes
  BRANCH_LEVERAGE_PLAN.md
  RELEASE_NOTES_v1.1.0.md
Due: none

feat: enhance secret management with 1Password infrastructure
  .secrets.baseline
  docs/TAURI_KEYS_1PASSWORD.md
Due: none

build: rename terraphim_tui package to terraphim_agent in server
  Cargo.lock
  terraphim_server/Cargo.toml
Due: none

test: reorder test settings profiles for consistency
  crates/terraphim_settings/test_settings/settings.toml
Due: none

docs: remove trailing whitespace from codebase-eval-check.md
  docs/specifications/terraphim-codebase-eval-check.md
Due: none

style: format Python files
  crates/terraphim_automata_py/python/terraphim_automata/__init__.pyi
  crates/terraphim_automata_py/python/tests/test_thesaurus.py
Due: none

ci: disable failing Test Tauri workflow
  .github/workflows/test-on-pr-desktop.yml.disabled
Due: none

ci: fix Python Bindings workflow virtualenv and Rust target
  .github/workflows/python-bindings.yml
Due: none

ci: switch docs deployment to GitHub-hosted runners
  .github/workflows/deploy-docs.yml
Due: none

fix: resolve macOS build and CI runner issues
  .github/workflows/python-bindings.yml
  .github/workflows/rust-build.yml
  .github/workflows/tauri-build.yml
  .github/workflows/test-on-pr-desktop.yml
  crates/terraphim_automata_py/python/terraphim_automata/__init__.pyi
  crates/terraphim_automata_py/python/tests/test_thesaurus.py
Due: none

fix: resolve GitHub Actions CI failures across platforms
  .github/workflows/python-bindings.yml
  crates/terraphim_automata_py/python/benchmarks/benchmark_autocomplete.py
  crates/terraphim_automata_py/python/benchmarks/benchmark_matcher.py
  crates/terraphim_automata_py/python/tests/test_autocomplete.py
  crates/terraphim_automata_py/python/tests/test_matcher.py
  crates/terraphim_automata_py/python/tests/test_thesaurus.py
Due: none

fix: optimize GitHub Actions runner usage
  .github/workflows/ci-native.yml
  .github/workflows/ci-optimized.yml
  .github/workflows/claude-code-review.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/docker-multiarch.yml
  .github/workflows/earthly-runner.yml
  .github/workflows/frontend-build.yml
  .github/workflows/package-release.yml
  .github/workflows/publish-tauri.yml
  .github/workflows/python-bindings.yml
  .github/workflows/release-comprehensive.yml
  .github/workflows/tauri-build.yml
  .github/workflows/test-matrix.yml
  .github/workflows/test-on-pr-desktop.yml
  .github/workflows/vm-execution-tests.yml
  crates/terraphim_mcp_server/test_mcp_protocol.py
  demo_query_rs.py
  mcp_e2e_test.py
  test_complete_mcp.py
  test_echo_json.py
  test_methods.py
  test_rust_engineer_e2e.py
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$, but not: (?x)(
  ^target/.*|
  ^desktop/node_modules/.*|
  ^desktop/dist/.*|
  ^desktop/src-tauri/target/.*|
  ^vendor/.*|
  .*\.rs\.bk$|
  ^\.cargo/.*|
  ^artifact/.*
)
  cargo-clippy: any of: \.rs$, but not: (?x)(
  ^target/.*|
  ^desktop/node_modules/.*|
  ^desktop/dist/.*|
  ^desktop/src-tauri/target/.*|
  ^vendor/.*|
  .*\.rs\.bk$|
  ^\.cargo/.*|
  ^artifact/.*
)
  biome-check: any of: desktop/.*\.(js|ts|tsx|jsx|json|jsonc)$, but not: (?x)(
  ^target/.*|
  ^desktop/node_modules/.*|
  ^desktop/dist/.*|
  ^desktop/src-tauri/target/.*|
  ^vendor/.*|
  .*\.rs\.bk$|
  ^\.cargo/.*|
  ^artifact/.*
)
