Repository terraphim/terraphim-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, biome-check

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
# This configuration works with pre-commit, prek, and other compatible tools

repos:
  # General code quality hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        name: Trim trailing whitespace
      - id: end-of-file-fixer
        name: Fix end of files
      - id: check-yaml
        name: Check YAML syntax
      - id: check-toml
        name: Check TOML syntax
      - id: check-json
        name: Check JSON syntax
      - id: check-case-conflict
        name: Check for case conflicts
      - id: check-merge-conflict
        name: Check for merge conflicts
      - id: debug-statements
        name: Check for debug statements
      - id: detect-private-key
        name: Detect private keys
      - id: check-added-large-files
        name: Check for large files
        args: ['--maxkb=1000']

  # Rust-specific hooks
  - repo: local
    hooks:
      - id: cargo-fmt
        name: Cargo format check
        entry: cargo fmt --all -- --check
        language: system
        types: [rust]
        pass_filenames: false
        description: "Check Rust code formatting with cargo fmt"

      - id: cargo-clippy
        name: Cargo clippy
        entry: cargo clippy --workspace --all-targets --all-features -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false
        description: "Run Rust linter with cargo clippy"

      - id: cargo-test
        name: Cargo test
        entry: cargo test --workspace
        language: system
        types: [rust]
        pass_filenames: false
        stages: [manual]
        description: "Run Rust tests (manual stage)"

      - id: cargo-audit
        name: Cargo audit
        entry: cargo audit
        language: system
        pass_filenames: false
        stages: [manual]
        description: "Check for known security vulnerabilities (manual stage)"

  # JavaScript/TypeScript with Biome
  - repo: local
    hooks:
      - id: biome-check
        name: Biome lint and format check
        entry: bash -c 'cd desktop && npx @biomejs/biome check --write false --no-errors-on-unmatched'
        language: system
        files: 'desktop/.*\.(js|ts|tsx|jsx|json|jsonc)$'
        pass_filenames: false
        description: "Check JavaScript/TypeScript formatting and linting with Biome"

      - id: biome-format
        name: Biome format
        entry: bash -c 'cd desktop && npx @biomejs/biome format --write --no-errors-on-unmatched'
        language: system
        files: 'desktop/.*\.(js|ts|tsx|jsx|json|jsonc)$'
        pass_filenames: false
        stages: [manual]
        description: "Auto-format JavaScript/TypeScript with Biome (manual stage)"

  # Conventional commits validation
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v3.0.0
    hooks:
      - id: conventional-pre-commit
        name: Conventional commit format
        stages: [commit-msg]
        args: [
          "--strict",
          "--scopes=feat,fix,docs,style,refactor,perf,test,chore,build,ci,revert"
        ]
        description: "Enforce conventional commit message format"

  # Secret detection
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        name: Detect secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: .*/tests/.*|.*\.lock$|.*\.sum$|.*yarn\.lock$
        description: "Detect secrets in staged code"

# Global exclusions
exclude: |
  (?x)(
    ^target/.*|
    ^desktop/node_modules/.*|
    ^desktop/dist/.*|
    ^desktop/src-tauri/target/.*|
    ^vendor/.*|
    .*\.rs\.bk$|
    ^\.cargo/.*|
    ^artifact/.*
  )

fix(cargo): add repl-sessions feature stub to resolve unexpected_cfgs error
  crates/terraphim_agent/Cargo.toml
Due: none

fix(rlm): resolve clippy warnings in terraphim_rlm crate
  crates/terraphim_rlm/src/executor/firecracker.rs
  crates/terraphim_rlm/src/session.rs
  crates/terraphim_rlm/src/types.rs
Due: cargo-fmt, cargo-clippy

style(rlm): apply cargo fmt to session.rs
  crates/terraphim_rlm/src/session.rs
Due: cargo-fmt, cargo-clippy

fix(agent): use local imports for terraphim_sessions types
  crates/terraphim_agent/src/repl/handler.rs
Due: cargo-fmt, cargo-clippy

fix(lint): allow repl-sessions cfg check for commented feature
  crates/terraphim_agent/Cargo.toml
Due: none

fix(security): address critical issues from PR #429 code review (#440)
  .github/workflows/ci-main.yml
  .gitignore
  Cargo.lock
  FINAL_INTEGRATION_FIX.txt
  TEST_RESOLT.md
  commits-to-rebase.txt
  crates/terraphim_agent/Cargo.toml
  crates/terraphim_agent/src/repl/handler.rs
  crates/terraphim_rlm/src/executor/firecracker.rs
  crates/terraphim_rlm/src/session.rs
  crates/terraphim_rlm/src/types.rs
  crates/terraphim_service/src/llm/proxy_client.rs
  crates/terraphim_update/Cargo.toml
  crates/terraphim_update/src/lib.rs
  crates/terraphim_update/src/scheduler.rs
  crates/terraphim_update/src/signature.rs
  crates/terraphim_update/src/state.rs
  crates/terraphim_update/tests/integration_test.rs
  crates/terraphim_update/tests/signature_test.rs
Due: cargo-fmt, cargo-clippy

Add Tauri signing setup and improved build scripts
  TAURI_SETUP_INSTRUCTIONS.md
  packaging/scripts/build-all-formats.sh
  scripts/generate-tauri-keys.sh
  scripts/setup-tauri-signing.sh
Due: none

Update Cargo.lock and build artifacts after merge
  crates/terraphim_automata/Cargo.toml
  desktop/test-config.json
Due: biome-check

Clean up merge artifacts and broken tests
  Cargo.lock
  crates/terraphim_validation/tests/desktop_ui_integration_tests.rs.bak
  crates/terraphim_validation/tests/integration_tests.rs.bak
  crates/terraphim_validation/tests/server_api_basic_test.rs.bak
  crates/terraphim_validation/tests/server_api_integration_tests.rs.bak
Due: none

Remove backup test files
  crates/terraphim_validation/tests/desktop_ui_integration_tests.rs.bak
  crates/terraphim_validation/tests/integration_tests.rs.bak
  crates/terraphim_validation/tests/server_api_basic_test.rs.bak
  crates/terraphim_validation/tests/server_api_integration_tests.rs.bak
Due: none

fix(packaging): complete build-all-formats.sh with all format scripts
  Cargo.lock
  crates/terraphim_automata/Cargo.toml
  packaging/scripts/build-all-formats.sh
  packaging/scripts/build-appimage.sh
  packaging/scripts/build-arch.sh
  packaging/scripts/build-deb.sh
  packaging/scripts/build-flatpak.sh
  packaging/scripts/build-rpm.sh
  packaging/scripts/build-snap.sh
  terraphim_server/dist/index.html
Due: none

chore(deps-dev): bump svelte-check from 4.3.4 to 4.3.5 in /desktop
  desktop/bun.lock
  desktop/package.json
Due: biome-check

chore(deps): remove unused jsonwebtoken dependency
  crates/terraphim_github_runner_server/Cargo.toml
Due: none

ci: remove Earthly workflows in favor of native GitHub Actions
  .github/workflows/ci.yml
  .github/workflows/earthly-runner.yml
  .github/workflows/test-on-pr.yml
Due: none

feat(update): add auto-update system with verification and validation reports
  Cargo.lock
  HANDOVER.md
  crates/terraphim_settings/test_settings/settings.toml
Due: none

feat(update): integrate signature verification into update flow
  .github/workflows/vm-execution-tests.yml.backup
  .sessions/session-20260117-150000.md
  SIGNATURE_VERIFICATION_PROGRESS.md
Due: none

feat(update): add release signing script and integrate into release pipeline
  SIGNATURE_VERIFICATION_PROGRESS.md
  scripts/sign-release.sh
  terraphim_server/dist/index.html
Due: none

test(update): add comprehensive signature verification test suite
  SIGNATURE_VERIFICATION_PROGRESS.md
  crates/terraphim_update/tests/signature_test.rs
Due: cargo-fmt, cargo-clippy

feat(update): embed real Ed25519 public key for signature verification
  SIGNATURE_VERIFICATION_PROGRESS.md
  crates/terraphim_update/tests/signature_test.rs
  keys/README.md
Due: cargo-fmt, cargo-clippy

docs(signing): mark Issue #421 complete with security audit passed
  SIGNATURE_VERIFICATION_PROGRESS.md
Due: none

feat(signing): integrate 1Password for secure key retrieval
  keys/README.md
  scripts/sign-release.sh
Due: none

docs(progress): mark Step 9 complete - Ed25519 key pair generated and embedded
  SIGNATURE_VERIFICATION_PROGRESS.md
Due: none
