Repository terraphim/terraphim-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, biome-check

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
# This configuration works with pre-commit, prek, and other compatible tools

repos:
  # General code quality hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        name: Trim trailing whitespace
      - id: end-of-file-fixer
        name: Fix end of files
      - id: check-yaml
        name: Check YAML syntax
      - id: check-toml
        name: Check TOML syntax
      - id: check-json
        name: Check JSON syntax
      - id: check-case-conflict
        name: Check for case conflicts
      - id: check-merge-conflict
        name: Check for merge conflicts
      - id: debug-statements
        name: Check for debug statements
      - id: detect-private-key
        name: Detect private keys
      - id: check-added-large-files
        name: Check for large files
        args: ['--maxkb=1000']

  # Rust-specific hooks
  - repo: local
    hooks:
      - id: cargo-fmt
        name: Cargo format check
        entry: cargo fmt --all -- --check
        language: system
        types: [rust]
        pass_filenames: false
        description: "Check Rust code formatting with cargo fmt"

      - id: cargo-clippy
        name: Cargo clippy
        entry: cargo clippy --workspace --all-targets --all-features -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false
        description: "Run Rust linter with cargo clippy"

      - id: cargo-test
        name: Cargo test
        entry: cargo test --workspace
        language: system
        types: [rust]
        pass_filenames: false
        stages: [manual]
        description: "Run Rust tests (manual stage)"

      - id: cargo-audit
        name: Cargo audit
        entry: cargo audit
        language: system
        pass_filenames: false
        stages: [manual]
        description: "Check for known security vulnerabilities (manual stage)"

  # JavaScript/TypeScript with Biome
  - repo: local
    hooks:
      - id: biome-check
        name: Biome lint and format check
        entry: bash -c 'cd desktop && npx @biomejs/biome check --write false --no-errors-on-unmatched'
        language: system
        files: 'desktop/.*\.(js|ts|tsx|jsx|json|jsonc)$'
        pass_filenames: false
        description: "Check JavaScript/TypeScript formatting and linting with Biome"

      - id: biome-format
        name: Biome format
        entry: bash -c 'cd desktop && npx @biomejs/biome format --write --no-errors-on-unmatched'
        language: system
        files: 'desktop/.*\.(js|ts|tsx|jsx|json|jsonc)$'
        pass_filenames: false
        stages: [manual]
        description: "Auto-format JavaScript/TypeScript with Biome (manual stage)"

  # Conventional commits validation
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v3.0.0
    hooks:
      - id: conventional-pre-commit
        name: Conventional commit format
        stages: [commit-msg]
        args: [
          "--strict",
          "--scopes=feat,fix,docs,style,refactor,perf,test,chore,build,ci,revert"
        ]
        description: "Enforce conventional commit message format"

  # Secret detection
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        name: Detect secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: .*/tests/.*|.*\.lock$|.*\.sum$|.*yarn\.lock$
        description: "Detect secrets in staged code"

# Global exclusions
exclude: |
  (?x)(
    ^target/.*|
    ^desktop/node_modules/.*|
    ^desktop/dist/.*|
    ^desktop/src-tauri/target/.*|
    ^vendor/.*|
    .*\.rs\.bk$|
    ^\.cargo/.*|
    ^artifact/.*
  )

fix(ci): rustfmt, clippy lazy_eval and too_many_args in rlm crate
  crates/terraphim_rlm/src/logger.rs
  crates/terraphim_rlm/src/session.rs
Due: cargo-fmt, cargo-clippy

fix(adf): remediate agent spawning (opencode args, model flags, resource limits, compound review) Refs terraphim/terraphim-ai#117
  crates/terraphim_orchestrator/src/compound.rs
  crates/terraphim_orchestrator/src/lib.rs
  crates/terraphim_spawner/src/config.rs
  crates/terraphim_spawner/src/lib.rs
Due: cargo-fmt, cargo-clippy

style: cargo fmt on orchestrator and spawner
  crates/terraphim_orchestrator/src/lib.rs
  crates/terraphim_spawner/src/lib.rs
Due: cargo-fmt, cargo-clippy

feat(adf): inject skill_chain content into agent prompts
  crates/terraphim_orchestrator/src/config.rs
  crates/terraphim_orchestrator/src/lib.rs
  crates/terraphim_orchestrator/tests/orchestrator_tests.rs
Due: cargo-fmt, cargo-clippy

fix(orchestrator): resolve rebase conflict - fix format string and missing brace
  crates/terraphim_orchestrator/src/lib.rs
Due: cargo-fmt, cargo-clippy

fix: resolve merge conflicts from upstream pull
  crates/terraphim_agent/docs/src/kg/test_ranking_kg.md
  crates/terraphim_agent/src/learnings/capture.rs
  crates/terraphim_agent/src/learnings/mod.rs
Due: cargo-fmt, cargo-clippy

fix(terraphim-agent): resolve role shortnames, fix remote thesaurus, add LLM proxy fallback
  .docs/summary-Cargo.toml.md
  .docs/summary-crates-terraphim_agent-src-client.rs.md
  .docs/summary-crates-terraphim_agent-src-service.rs.md
  .docs/summary.md
  crates/terraphim_agent/Cargo.toml
  crates/terraphim_agent/docs/src/kg/test_ranking_kg.md
  crates/terraphim_agent/src/client.rs
  crates/terraphim_agent/src/main.rs
  crates/terraphim_agent/src/repl/handler.rs
  crates/terraphim_agent/src/service.rs
  crates/terraphim_agent/tests/selected_role_tests.rs
  crates/terraphim_automata/src/lib.rs
  crates/terraphim_config/src/lib.rs
  crates/terraphim_service/Cargo.toml
  crates/terraphim_service/src/llm.rs
  crates/terraphim_service/src/llm/proxy_client.rs
Due: cargo-fmt, cargo-clippy

fix(ci): resolve clippy dead-code and failing llm router test Refs #126
  crates/terraphim_agent/src/learnings/capture.rs
  crates/terraphim_service/src/llm.rs
  crates/terraphim_service/src/llm/bridge.rs
Due: cargo-fmt, cargo-clippy

style: cargo fmt on learnings capture Refs #126
  crates/terraphim_agent/src/learnings/capture.rs
Due: cargo-fmt, cargo-clippy

feat(flow): Flow DAG engine with config, execution, checkpoint, and orchestrator integration (#164)
  Cargo.lock
  crates/terraphim_orchestrator/Cargo.toml
  crates/terraphim_orchestrator/orchestrator.example.toml
  crates/terraphim_orchestrator/src/config.rs
  crates/terraphim_orchestrator/src/dual_mode.rs
  crates/terraphim_orchestrator/src/error.rs
  crates/terraphim_orchestrator/src/flow/config.rs
  crates/terraphim_orchestrator/src/flow/envelope.rs
  crates/terraphim_orchestrator/src/flow/executor.rs
  crates/terraphim_orchestrator/src/flow/mod.rs
  crates/terraphim_orchestrator/src/flow/state.rs
  crates/terraphim_orchestrator/src/lib.rs
  crates/terraphim_orchestrator/src/mode/time.rs
  crates/terraphim_orchestrator/src/scheduler.rs
  crates/terraphim_orchestrator/tests/orchestrator_tests.rs
Due: cargo-fmt, cargo-clippy

fix(deps): replace memoize with cached, resolve ahash conflict, improve stability
  Cargo.lock
  crates/terraphim_config/src/lib.rs
  crates/terraphim_rolegraph/Cargo.toml
  crates/terraphim_rolegraph/src/lib.rs
  crates/terraphim_service/src/lib.rs
  crates/terraphim_service/src/llm.rs
  crates/terraphim_service/src/llm/proxy_types.rs
  crates/terraphim_service/src/llm/routed_adapter.rs
  crates/terraphim_update/src/downloader.rs
  lab/README.md
  lab/parking-lot/config-settings/Cargo.toml
  lab/parking-lot/config-settings/README.md
  lab/parking-lot/config-settings/default/settings.toml
  lab/parking-lot/config-settings/src/lib.rs
  lab/parking-lot/server-poem/.env
  lab/parking-lot/server-poem/Cargo.toml
  lab/parking-lot/server-poem/README.md
  lab/parking-lot/server-poem/config/default.toml
  lab/parking-lot/server-poem/data/term_to_id.json
  lab/parking-lot/server-poem/src/api.rs
  lab/parking-lot/server-poem/src/main.rs
  lab/parking-lot/server-poem/src/settings.rs
  lab/parking-lot/server-poem/src/types.rs
Due: cargo-fmt, cargo-clippy

fix(terraphim_service): restore unicode-aware word boundary matching
  crates/terraphim_service/src/lib.rs
Due: cargo-fmt, cargo-clippy

perf(terraphim_service): optimize logical operators with pre-computed lowercase terms
  crates/terraphim_service/src/lib.rs
Due: cargo-fmt, cargo-clippy

docs: update documentation for PR #426 RLM merge
  .docs/blog-post-rlm-announcement.md
  .docs/summary-crates-terraphim_rlm.md
  .docs/summary.md
  AGENTS.md
  crates/terraphim_rlm/tests/code_execution_test.rs
  crates/terraphim_rlm/tests/integration_test.rs
Due: cargo-fmt, cargo-clippy

fix(flow): wait for agent process exit instead of immediate SIGTERM
  crates/terraphim_orchestrator/src/flow/executor.rs
  crates/terraphim_spawner/src/lib.rs
Due: cargo-fmt, cargo-clippy

docs: add RLM integration plan for AI Dark Factory
  .docs/plan-rlm-dark-factory-integration.md
Due: none

fix: update Cargo.lock after merge
  Cargo.lock
Due: none

fix: resolve clippy warnings for CI
  .agents/types/agent-definition.ts
  crates/terraphim_agent/src/learnings/capture.rs
  crates/terraphim_router/Cargo.toml
  crates/terraphim_service/src/llm/bridge.rs
  crates/terraphim_spawner/Cargo.toml
  crates/terraphim_update/src/downloader.rs
  desktop/package-lock.json
  desktop/package.json
  desktop/src/__tests__/contextIntegration.test.ts
  desktop/src/config.ts
  desktop/src/lib/ThemeSwitcher.test.ts
  desktop/yarn.lock
Due: cargo-fmt, cargo-clippy, biome-check

fix(deps): replace memoize with cached, improve stability (#748)
  .agents/pi-agent.ts
  .agents/types/agent-definition.ts
  Cargo.lock
  crates/terraphim_agent/src/learnings/capture.rs
  crates/terraphim_agent/src/learnings/mod.rs
  crates/terraphim_agent/src/main.rs
  crates/terraphim_config/src/lib.rs
  crates/terraphim_rolegraph/Cargo.toml
  crates/terraphim_rolegraph/src/lib.rs
  crates/terraphim_router/Cargo.toml
  crates/terraphim_service/src/lib.rs
  crates/terraphim_service/src/llm.rs
  crates/terraphim_service/src/llm/bridge.rs
  crates/terraphim_service/src/llm/proxy_types.rs
  crates/terraphim_service/src/llm/routed_adapter.rs
  crates/terraphim_spawner/Cargo.toml
  crates/terraphim_update/src/downloader.rs
  desktop/package-lock.json
  desktop/package.json
  desktop/src/__tests__/contextIntegration.test.ts
  desktop/src/config.ts
  desktop/src/lib/ThemeSwitcher.test.ts
  desktop/yarn.lock
  lab/README.md
  lab/parking-lot/config-settings/Cargo.toml
  lab/parking-lot/config-settings/README.md
  lab/parking-lot/config-settings/default/settings.toml
  lab/parking-lot/config-settings/src/lib.rs
  lab/parking-lot/server-poem/.env
  lab/parking-lot/server-poem/Cargo.toml
  lab/parking-lot/server-poem/README.md
  lab/parking-lot/server-poem/config/default.toml
  lab/parking-lot/server-poem/data/term_to_id.json
  lab/parking-lot/server-poem/src/api.rs
  lab/parking-lot/server-poem/src/main.rs
  lab/parking-lot/server-poem/src/settings.rs
  lab/parking-lot/server-poem/src/types.rs
Due: cargo-fmt, cargo-clippy, biome-check

fix(terraphim_types): Change Concept and NormalizedTerm IDs from u64 to String
  crates/terraphim_automata/src/autocomplete.rs
  crates/terraphim_automata/src/builder.rs
  crates/terraphim_rolegraph/src/lib.rs
  crates/terraphim_types/src/lib.rs
  terraphim_server/src/api.rs
Due: cargo-fmt, cargo-clippy

chore(deps): consolidate dependency versions
  Cargo.lock
  crates/terraphim-session-analyzer/Cargo.toml
  crates/terraphim_build_args/Cargo.toml
  crates/terraphim_config/Cargo.toml
  crates/terraphim_orchestrator/Cargo.toml
  crates/terraphim_tinyclaw/Cargo.toml
  crates/terraphim_update/Cargo.toml
  terraphim_firecracker/Cargo.toml
Due: none
