Repository terraphim/terraphim-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, biome-check

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
# This configuration works with pre-commit, prek, and other compatible tools

repos:
  # General code quality hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        name: Trim trailing whitespace
      - id: end-of-file-fixer
        name: Fix end of files
      - id: check-yaml
        name: Check YAML syntax
      - id: check-toml
        name: Check TOML syntax
      - id: check-json
        name: Check JSON syntax
      - id: check-case-conflict
        name: Check for case conflicts
      - id: check-merge-conflict
        name: Check for merge conflicts
      - id: debug-statements
        name: Check for debug statements
      - id: detect-private-key
        name: Detect private keys
      - id: check-added-large-files
        name: Check for large files
        args: ['--maxkb=1000']

  # Rust-specific hooks
  - repo: local
    hooks:
      - id: cargo-fmt
        name: Cargo format check
        entry: cargo fmt --all -- --check
        language: system
        types: [rust]
        pass_filenames: false
        description: "Check Rust code formatting with cargo fmt"

      - id: cargo-clippy
        name: Cargo clippy
        entry: cargo clippy --workspace --all-targets --all-features -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false
        description: "Run Rust linter with cargo clippy"

      - id: cargo-test
        name: Cargo test
        entry: cargo test --workspace
        language: system
        types: [rust]
        pass_filenames: false
        stages: [manual]
        description: "Run Rust tests (manual stage)"

      - id: cargo-audit
        name: Cargo audit
        entry: cargo audit
        language: system
        pass_filenames: false
        stages: [manual]
        description: "Check for known security vulnerabilities (manual stage)"

  # JavaScript/TypeScript with Biome
  - repo: local
    hooks:
      - id: biome-check
        name: Biome lint and format check
        entry: bash -c 'cd desktop && npx @biomejs/biome check --write false --no-errors-on-unmatched'
        language: system
        files: 'desktop/.*\.(js|ts|tsx|jsx|json|jsonc)$'
        pass_filenames: false
        description: "Check JavaScript/TypeScript formatting and linting with Biome"

      - id: biome-format
        name: Biome format
        entry: bash -c 'cd desktop && npx @biomejs/biome format --write --no-errors-on-unmatched'
        language: system
        files: 'desktop/.*\.(js|ts|tsx|jsx|json|jsonc)$'
        pass_filenames: false
        stages: [manual]
        description: "Auto-format JavaScript/TypeScript with Biome (manual stage)"

  # Conventional commits validation
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v3.0.0
    hooks:
      - id: conventional-pre-commit
        name: Conventional commit format
        stages: [commit-msg]
        args: [
          "--strict",
          "--scopes=feat,fix,docs,style,refactor,perf,test,chore,build,ci,revert"
        ]
        description: "Enforce conventional commit message format"

  # Secret detection
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        name: Detect secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: .*/tests/.*|.*\.lock$|.*\.sum$|.*yarn\.lock$
        description: "Detect secrets in staged code"

# Global exclusions
exclude: |
  (?x)(
    ^target/.*|
    ^desktop/node_modules/.*|
    ^desktop/dist/.*|
    ^desktop/src-tauri/target/.*|
    ^vendor/.*|
    .*\.rs\.bk$|
    ^\.cargo/.*|
    ^artifact/.*
  )

fix: resolve all clippy warnings across workspace
  crates/terraphim_agent_registry/src/capabilities.rs
  crates/terraphim_agent_registry/src/discovery.rs
  crates/terraphim_agent_registry/src/knowledge_graph.rs
  crates/terraphim_agent_registry/src/lib.rs
  crates/terraphim_agent_registry/src/matching.rs
  crates/terraphim_agent_registry/src/metadata.rs
  crates/terraphim_agent_registry/src/registry.rs
  crates/terraphim_kg_orchestration/src/supervision.rs
  crates/terraphim_mcp_server/src/lib.rs
  crates/terraphim_multi_agent/src/vm_execution/client.rs
  crates/terraphim_multi_agent/src/vm_execution/code_extractor.rs
  crates/terraphim_multi_agent/src/vm_execution/fcctl_bridge.rs
  crates/terraphim_multi_agent/src/vm_execution/session_adapter.rs
Due: cargo-fmt, cargo-clippy

fix(deb): correct LICENSE file paths in all .deb package metadata
  crates/terraphim_tui/Cargo.toml
  terraphim_server/Cargo.toml
Due: none

security: fix LLM prompt injection and eliminate unsafe memory operations
  Cargo.lock
  crates/terraphim_multi_agent/Cargo.toml
  crates/terraphim_multi_agent/src/agent.rs
  crates/terraphim_multi_agent/src/lib.rs
  crates/terraphim_multi_agent/src/pool.rs
  crates/terraphim_multi_agent/src/pool_manager.rs
  crates/terraphim_multi_agent/src/prompt_sanitizer.rs
  crates/terraphim_multi_agent/src/vm_execution/fcctl_bridge.rs
  crates/terraphim_multi_agent/src/vm_execution/session_adapter.rs
Due: cargo-fmt, cargo-clippy

fix(ci): add webkit symlinks to test-suite job
  .github/workflows/ci-native.yml
Due: none

test: add Phase 1 critical security test coverage
  crates/terraphim_multi_agent/tests/memory_safety_test.rs
  crates/terraphim_multi_agent/tests/prompt_injection_e2e_test.rs
Due: cargo-fmt, cargo-clippy

fix(ci): add webkit library symlinks for linker compatibility
  .github/workflows/ci-native.yml
Due: none

test: add Phase 2 comprehensive security test coverage
  crates/terraphim_multi_agent/src/prompt_sanitizer.rs
  crates/terraphim_multi_agent/tests/concurrent_security_test.rs
  crates/terraphim_multi_agent/tests/dos_prevention_test.rs
  crates/terraphim_multi_agent/tests/error_boundary_test.rs
  crates/terraphim_multi_agent/tests/security_bypass_test.rs
  lessons-learned-security-testing.md
  memories.md
  scratchpad.md
  scripts/check-api-keys.sh
Due: cargo-fmt, cargo-clippy

fix: add openrouter feature flag to resolve clippy warnings
  crates/terraphim_middleware/Cargo.toml
Due: none

fix: make DeviceSettings::new() resilient to missing config file
  crates/terraphim_settings/src/lib.rs
Due: cargo-fmt, cargo-clippy

fix: resolve clippy warnings and test compilation errors
  crates/terraphim_agent_messaging/src/delivery.rs
  crates/terraphim_agent_messaging/src/mailbox.rs
  crates/terraphim_agent_supervisor/tests/integration_tests.rs
  crates/terraphim_middleware/tests/atomic_haystack_config_integration.rs
  crates/terraphim_middleware/tests/dual_haystack_validation_test.rs
  crates/terraphim_middleware/tests/haystack_refactor_test.rs
  crates/terraphim_middleware/tests/mcp_haystack_test.rs
Due: cargo-fmt, cargo-clippy

test: mark network test as ignored for CI
  crates/terraphim_automata/src/lib.rs
Due: cargo-fmt, cargo-clippy

fix: make test fixture path resolution robust for different cwd
  crates/terraphim_automata/src/lib.rs
Due: cargo-fmt, cargo-clippy

style: apply cargo fmt to test fixture path code
  crates/terraphim_automata/src/lib.rs
Due: cargo-fmt, cargo-clippy

fix(content): improve error handling and UI updates
  crates/terraphim_middleware/src/haystack/query_rs.rs
  crates/terraphim_service/src/summarization_worker.rs
  crates/terraphim_tui/src/repl/handler.rs
  desktop/package.json
  desktop/src/lib/Chat/Chat.svelte
  desktop/src/lib/Chat/SessionList.svelte
  scripts/run_all_tests.sh
  scripts/test_env_setup_local.sh
  scripts/test_env_teardown.sh
  scripts/test_openrouter_e2e.sh
  scripts/test_summarization_e2e_simple.sh
  terraphim_server/default/combined_roles_config.json
  terraphim_server/default/context_engineer_config.json
  terraphim_server/default/rust_engineer_config.json
  terraphim_server/default/terraphim_engineer_config.json
  terraphim_server/dist/assets/fs-bc43235a.js
  terraphim_server/dist/assets/fs-fccecd10.js
  terraphim_server/dist/assets/index-6e519c59.js
  terraphim_server/dist/assets/index-c66f104a.js
  terraphim_server/dist/assets/index-ebfb0874.css
  terraphim_server/dist/assets/vendor-editor-5741781d.js
  terraphim_server/dist/assets/vendor-ui-ec1c326c.js
  terraphim_server/dist/index.html
  tests/validate_local_setup.rs
Due: cargo-fmt, cargo-clippy, biome-check
