Repository terraphim/terraphim-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, biome-check

cargo-fmt:
  name: Cargo format check
  entry: cargo fmt --all -- --check
  language: system
  pass_filenames: false
  description: Check Rust code formatting with cargo fmt

cargo-clippy:
  name: Cargo clippy
  entry: cargo clippy --workspace --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false
  description: Run Rust linter with cargo clippy

biome-check:
  name: Biome lint and format check
  entry: bash -c 'cd desktop && npx @biomejs/biome check --write false --no-errors-on-unmatched'
  language: system
  pass_filenames: false
  description: Check JavaScript/TypeScript formatting and linting with Biome

fix(ci): specify package names for binary builds
  .github/workflows/release-comprehensive.yml
Due: none

fix(ci): resolve query parser proptest and Earthfile build failures
  .docs/design-ci-workflow-fixes.md
  .github/workflows/ci-optimized-main.yml
  Earthfile
  crates/claude-log-analyzer/src/kg/query.rs
Due: cargo-fmt, cargo-clippy

feat(middleware): add AI assistant session haystack for multi-connector support
  .docs/design-ai-assistant-haystack.md
  .docs/research-claude-analyzer-haystack.md
  Cargo.lock
  crates/terraphim-markdown-parser/src/lib.rs
  crates/terraphim_agent/src/main.rs
  crates/terraphim_config/src/lib.rs
  crates/terraphim_middleware/Cargo.toml
  crates/terraphim_middleware/src/haystack/ai_assistant.rs
  crates/terraphim_middleware/src/haystack/mod.rs
  crates/terraphim_middleware/src/indexer/mod.rs
  crates/terraphim_middleware/src/indexer/ripgrep.rs
  terraphim_server/src/lib.rs
Due: cargo-fmt, cargo-clippy

fix(middleware): address code review feedback for AI assistant haystack
  crates/terraphim_middleware/src/haystack/ai_assistant.rs
  crates/terraphim_persistence/src/conversation.rs
Due: cargo-fmt, cargo-clippy

feat(middleware): add AI assistant session haystack for multi-connector support (#386)
  .docs/design-ai-assistant-haystack.md
  .docs/research-claude-analyzer-haystack.md
  Cargo.lock
  crates/terraphim-markdown-parser/src/lib.rs
  crates/terraphim_agent/src/main.rs
  crates/terraphim_config/src/lib.rs
  crates/terraphim_middleware/Cargo.toml
  crates/terraphim_middleware/src/haystack/ai_assistant.rs
  crates/terraphim_middleware/src/haystack/mod.rs
  crates/terraphim_middleware/src/indexer/mod.rs
  crates/terraphim_middleware/src/indexer/ripgrep.rs
  crates/terraphim_persistence/src/conversation.rs
  terraphim_server/src/lib.rs
Due: cargo-fmt, cargo-clippy

fix(ci): use yarn instead of npm and update tabled to 0.20
  .cargo/audit.toml
  .github/workflows/ci-main.yml
  .github/workflows/ci-pr.yml
  .gitignore
  Cargo.lock
  crates/claude-log-analyzer/Cargo.toml
  crates/claude-log-analyzer/src/reporter.rs
Due: cargo-fmt, cargo-clippy

fix(build): gracefully handle JS build failures in cargo check
  terraphim_server/build.rs
Due: cargo-fmt, cargo-clippy

fix(build): create dist placeholder for cargo check without frontend
  desktop/src-tauri/build.rs
  terraphim_server/build.rs
Due: cargo-fmt, cargo-clippy

fix(ci): fix flaky RocksDB tests and Earthfile vendoring
  .github/workflows/ci-pr.yml
  Earthfile
Due: none

fix(ci): skip RocksDB tests in PR validation for speed
  .github/workflows/ci-pr.yml
Due: none

fix(ci): use precise sed to remove firecracker from Earthfile
  Earthfile
Due: none

fix(ci): include terraphim_firecracker in Earthfile copy
  Earthfile
Due: none

fix(ci): include terraphim_ai_nodejs in Earthfile copy
  Earthfile
Due: none

fix(ci): include all workspace members in Earthfile
  Earthfile
Due: none

fix(ci): multiple release workflow fixes
  .github/workflows/release-comprehensive.yml
  desktop/package.json
Due: biome-check

Path conditions:
  cargo-fmt: any of: \.rs$, but not: (?x)(
  ^target/.*|
  ^desktop/node_modules/.*|
  ^desktop/dist/.*|
  ^desktop/src-tauri/target/.*|
  ^vendor/.*|
  .*\.rs\.bk$|
  ^\.cargo/.*|
  ^artifact/.*
)
  cargo-clippy: any of: \.rs$, but not: (?x)(
  ^target/.*|
  ^desktop/node_modules/.*|
  ^desktop/dist/.*|
  ^desktop/src-tauri/target/.*|
  ^vendor/.*|
  .*\.rs\.bk$|
  ^\.cargo/.*|
  ^artifact/.*
)
  biome-check: any of: desktop/.*\.(js|ts|tsx|jsx|json|jsonc)$, but not: (?x)(
  ^target/.*|
  ^desktop/node_modules/.*|
  ^desktop/dist/.*|
  ^desktop/src-tauri/target/.*|
  ^vendor/.*|
  .*\.rs\.bk$|
  ^\.cargo/.*|
  ^artifact/.*
)
