Repository terraphim/terraphim-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, biome-check

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
# This configuration works with pre-commit, prek, and other compatible tools

repos:
  # General code quality hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        name: Trim trailing whitespace
      - id: end-of-file-fixer
        name: Fix end of files
      - id: check-yaml
        name: Check YAML syntax
      - id: check-toml
        name: Check TOML syntax
      - id: check-json
        name: Check JSON syntax
      - id: check-case-conflict
        name: Check for case conflicts
      - id: check-merge-conflict
        name: Check for merge conflicts
      - id: debug-statements
        name: Check for debug statements
      - id: detect-private-key
        name: Detect private keys
      - id: check-added-large-files
        name: Check for large files
        args: ['--maxkb=1000']

  # Rust-specific hooks
  - repo: local
    hooks:
      - id: cargo-fmt
        name: Cargo format check
        entry: cargo fmt --all -- --check
        language: system
        types: [rust]
        pass_filenames: false
        description: "Check Rust code formatting with cargo fmt"

      - id: cargo-clippy
        name: Cargo clippy
        entry: cargo clippy --workspace --all-targets --all-features -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false
        description: "Run Rust linter with cargo clippy"

      - id: cargo-test
        name: Cargo test
        entry: cargo test --workspace
        language: system
        types: [rust]
        pass_filenames: false
        stages: [manual]
        description: "Run Rust tests (manual stage)"

      - id: cargo-audit
        name: Cargo audit
        entry: cargo audit
        language: system
        pass_filenames: false
        stages: [manual]
        description: "Check for known security vulnerabilities (manual stage)"

  # JavaScript/TypeScript with Biome
  - repo: local
    hooks:
      - id: biome-check
        name: Biome lint and format check
        entry: bash -c 'cd desktop && npx @biomejs/biome check --write false --no-errors-on-unmatched'
        language: system
        files: 'desktop/.*\.(js|ts|tsx|jsx|json|jsonc)$'
        pass_filenames: false
        description: "Check JavaScript/TypeScript formatting and linting with Biome"

      - id: biome-format
        name: Biome format
        entry: bash -c 'cd desktop && npx @biomejs/biome format --write --no-errors-on-unmatched'
        language: system
        files: 'desktop/.*\.(js|ts|tsx|jsx|json|jsonc)$'
        pass_filenames: false
        stages: [manual]
        description: "Auto-format JavaScript/TypeScript with Biome (manual stage)"

  # Conventional commits validation
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v3.0.0
    hooks:
      - id: conventional-pre-commit
        name: Conventional commit format
        stages: [commit-msg]
        args: [
          "--strict",
          "--scopes=feat,fix,docs,style,refactor,perf,test,chore,build,ci,revert"
        ]
        description: "Enforce conventional commit message format"

  # Secret detection
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        name: Detect secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: .*/tests/.*|.*\.lock$|.*\.sum$|.*yarn\.lock$
        description: "Detect secrets in staged code"

# Global exclusions
exclude: |
  (?x)(
    ^target/.*|
    ^desktop/node_modules/.*|
    ^desktop/dist/.*|
    ^desktop/src-tauri/target/.*|
    ^vendor/.*|
    .*\.rs\.bk$|
    ^\.cargo/.*|
    ^artifact/.*
  )

fix: replace svelma components with standard Bulma HTML/CSS
  desktop/package.json
  desktop/src/lib/Chat/ContextEditModal.svelte
  desktop/src/lib/Fetchers/FetchTabs.svelte
  desktop/src/lib/Search/ArticleModal.svelte
  desktop/src/lib/Search/AtomicSaveModal.svelte
  desktop/src/lib/Search/KGContextItem.svelte
  desktop/src/lib/Search/KGSearchModal.svelte
  desktop/src/lib/Search/ResultItem.svelte
  desktop/src/lib/Search/Search.svelte
  desktop/src/lib/components/Modal.svelte
  desktop/vite.config.ts
  desktop/yarn.lock
Due: biome-check

chore: remove all dead code and fix runtime panic in terraphim_tui
  crates/terraphim_tui/src/client.rs
  crates/terraphim_tui/src/commands/executor.rs
  crates/terraphim_tui/src/commands/hooks.rs
  crates/terraphim_tui/src/commands/markdown_parser.rs
  crates/terraphim_tui/src/commands/mod.rs
  crates/terraphim_tui/src/commands/modes/firecracker.rs
  crates/terraphim_tui/src/commands/modes/hybrid.rs
  crates/terraphim_tui/src/commands/modes/local.rs
  crates/terraphim_tui/src/commands/registry.rs
  crates/terraphim_tui/src/commands/tests.rs
  crates/terraphim_tui/src/commands/validator.rs
  crates/terraphim_tui/src/main.rs
  crates/terraphim_tui/src/repl/commands.rs
  crates/terraphim_tui/src/repl/file_operations.rs
  crates/terraphim_tui/src/repl/handler.rs
  crates/terraphim_tui/src/repl/web_operations.rs
Due: cargo-fmt, cargo-clippy

fix: restore TUI search and add suggestion navigation
  crates/terraphim_tui/src/main.rs
Due: cargo-fmt, cargo-clippy

fix: add Ctrl modifiers to TUI keyboard shortcuts to enable text input
  crates/terraphim_tui/commands/README.md
  crates/terraphim_tui/src/main.rs
Due: cargo-fmt, cargo-clippy

docs: add comprehensive command execution system documentation
  crates/terraphim_tui/commands/README.md
  docs/README.md
  docs/command-execution-system.md
Due: none

fix: implement TuiService in REPL offline mode for real search/autocomplete
  crates/terraphim_tui/src/lib.rs
  crates/terraphim_tui/src/repl/handler.rs
Due: cargo-fmt, cargo-clippy

fix: enable /role, /config, /graph commands in REPL offline mode
  crates/terraphim_tui/src/repl/handler.rs
Due: cargo-fmt, cargo-clippy

feat: make REPL command list dynamic from markdown files
  crates/terraphim_tui/src/commands/registry.rs
  crates/terraphim_tui/src/repl/handler.rs
Due: cargo-fmt, cargo-clippy

fix: resolve runtime panic in show_available_commands
  crates/terraphim_tui/src/repl/handler.rs
Due: cargo-fmt, cargo-clippy

fix: implement /thesaurus command for offline mode
  crates/terraphim_tui/src/repl/handler.rs
Due: cargo-fmt, cargo-clippy

fix: implement /thesaurus and add comprehensive offline mode tests
  crates/terraphim_tui/tests/repl_offline_commands_test.rs
Due: cargo-fmt, cargo-clippy

feat: add conversation and context management to TuiService for RAG workflow
  crates/terraphim_tui/src/service.rs
Due: cargo-fmt, cargo-clippy

docs: add RAG workflow progress tracker
  RAG_WORKFLOW_PROGRESS.md
Due: none

docs: add RAG workflow implementation status and next steps
  IMPLEMENTATION_STATUS.md
Due: none

feat: add Context and Conversation command enums for RAG workflow
  crates/terraphim_tui/src/repl/commands.rs
  crates/terraphim_tui/src/repl/handler.rs
Due: cargo-fmt, cargo-clippy

feat: add session state to ReplHandler for RAG workflow
  crates/terraphim_tui/src/repl/handler.rs
Due: cargo-fmt, cargo-clippy

docs: add detailed implementation guide for remaining RAG handlers
  REMAINING_WORK.md
Due: none

feat: implement complete RAG workflow - Search → Select → Chat with persistence
  crates/terraphim_tui/src/repl/handler.rs
Due: cargo-fmt, cargo-clippy

fix: pre-build thesauri on startup to avoid persistence warnings
  crates/terraphim_tui/src/service.rs
Due: cargo-fmt, cargo-clippy

docs: add comprehensive guide for RAG search-to-memory workflow
  docs/rag-search-to-memory-guide.md
Due: none

docs: add LLM configuration and end-to-end RAG demo guides
  docs/end-to-end-rag-demo.md
  docs/llm-configuration-rag.md
Due: none

feat: integrate real LLM client (OpenRouter/Ollama) for RAG chat
  crates/terraphim_config/src/lib.rs
  crates/terraphim_tui/Cargo.toml
  crates/terraphim_tui/src/service.rs
Due: cargo-fmt, cargo-clippy

docs: document rust-genai integration and caching architecture
  docs/rust-genai-integration.md
Due: none

test: add end-to-end RAG workflow test suite and proof
  END_TO_END_PROOF.md
  test_rag_workflow_e2e.sh
Due: none

style: apply cargo fmt formatting fixes
  IMPLEMENTATION_STATUS.md
  crates/terraphim_config/src/lib.rs
  crates/terraphim_tui/src/client.rs
  crates/terraphim_tui/src/commands/markdown_parser.rs
  crates/terraphim_tui/src/commands/mod.rs
  crates/terraphim_tui/src/main.rs
  crates/terraphim_tui/src/repl/commands.rs
  crates/terraphim_tui/src/repl/handler.rs
  crates/terraphim_tui/src/service.rs
  crates/terraphim_tui/tests/repl_offline_commands_test.rs
Due: cargo-fmt, cargo-clippy

fix: add pragma comments for example API keys in documentation
  END_TO_END_PROOF.md
  test_rag_workflow_e2e.sh
Due: none

feat: Add comprehensive code assistant requirements document
  code_assistant_requirements.md
Due: none

feat(automata): Add multi-strategy code editing with block anchor matching
  crates/terraphim_automata/src/editor.rs
  crates/terraphim_automata/src/lib.rs
Due: cargo-fmt, cargo-clippy

feat(mcp-server): add 6 file editing MCP tools with multi-strategy support
  crates/terraphim_mcp_server/src/lib.rs
  crates/terraphim_mcp_server/tests/test_file_editing.rs
  crates/terraphim_persistence/examples/simple_struct.rs
Due: cargo-fmt, cargo-clippy

feat(automata): add TypeScript type generation for edit functionality
  crates/terraphim_automata/src/editor.rs
Due: cargo-fmt, cargo-clippy

feat(mcp-server): add validation pipeline and knowledge-graph-based security
  Cargo.lock
  crates/terraphim_mcp_server/Cargo.toml
  crates/terraphim_mcp_server/src/lib.rs
  crates/terraphim_mcp_server/src/security.rs
  crates/terraphim_mcp_server/src/validation.rs
Due: cargo-fmt, cargo-clippy

feat(multi-agent): add validated LLM client with 4-layer validation pipeline
  Cargo.lock
  crates/terraphim_mcp_server/Cargo.toml
  crates/terraphim_mcp_server/src/security.rs
  crates/terraphim_multi_agent/src/lib.rs
  crates/terraphim_multi_agent/src/validated_llm_client.rs
Due: cargo-fmt, cargo-clippy

docs: add comprehensive test report and functional demos for Phase 1 & 2
  PHASE_1_2_TEST_REPORT.md
  crates/terraphim_automata/examples/edit_demo.rs
  crates/terraphim_mcp_server/examples/security_demo.rs
Due: cargo-fmt, cargo-clippy

feat(tui): integrate Phase 1 & 2 features into existing REPL
  Cargo.lock
  crates/terraphim_tui/Cargo.toml
  crates/terraphim_tui/src/repl/chat.rs
  crates/terraphim_tui/src/repl/commands.rs
  crates/terraphim_tui/src/repl/handler.rs
Due: cargo-fmt, cargo-clippy

feat(tui): add command parsing for REPL edit commands
  crates/terraphim_tui/src/repl/commands.rs
Due: cargo-fmt, cargo-clippy

docs: update test report with Phase 3 completion
  PHASE_1_2_TEST_REPORT.md
Due: none

feat(types): add CodeSymbol types for Phase 4 knowledge graph extension
  crates/terraphim_types/src/lib.rs
Due: cargo-fmt, cargo-clippy

feat(rolegraph): extend RoleGraph with CodeGraph for code symbol storage
  crates/terraphim_rolegraph/src/code_graph.rs
  crates/terraphim_rolegraph/src/lib.rs
Due: cargo-fmt, cargo-clippy

feat(mcp-server): add git recovery and snapshot system for Phase 5
  crates/terraphim_mcp_server/src/lib.rs
  crates/terraphim_mcp_server/src/recovery.rs
Due: cargo-fmt, cargo-clippy

docs: add comprehensive session summary for Phases 1-5
  SESSION_SUMMARY.md
Due: none
