Repository terraphim/terraphim-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, biome-check

cargo-fmt:
  name: Cargo format check
  entry: cargo fmt --all -- --check
  language: system
  pass_filenames: false
  description: Check Rust code formatting with cargo fmt

cargo-clippy:
  name: Cargo clippy
  entry: cargo clippy --workspace --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false
  description: Run Rust linter with cargo clippy

biome-check:
  name: Biome lint and format check
  entry: bash -c 'cd desktop && npx @biomejs/biome check --write false --no-errors-on-unmatched'
  language: system
  pass_filenames: false
  description: Check JavaScript/TypeScript formatting and linting with Biome

fix: resolve test infrastructure issues
  terraphim_server/tests/rolegraph_visualization_test.rs
  terraphim_server/tests/server.rs
  terraphim_server/tests/tui_desktop_parity_test.rs
Due: cargo-fmt, cargo-clippy

fix(typescript): resolve desktop frontend TypeScript errors (#709)
  .docs/design-typescript-fixes.md
  .docs/research-typescript-errors.md
  desktop/package.json
  desktop/src/config.ts
  desktop/src/lib/Cli.svelte
  desktop/src/lib/Communication.svelte
  desktop/src/lib/ConfigJsonEditor.svelte
  desktop/src/lib/Editor/SlashCommand.ts
  desktop/src/lib/Editor/TerraphimSuggestion.ts
  desktop/src/lib/Fetchers/FetchRole.svelte
  desktop/src/lib/Fetchers/FetchTabs.svelte
  desktop/src/lib/RoleGraphVisualization.svelte
  desktop/src/lib/Search/ArticleModal.svelte
  desktop/src/lib/Search/ResultItem.svelte
  desktop/src/lib/Search/Search.svelte
  desktop/src/lib/Shortcuts.svelte
  desktop/src/lib/StartupScreen.svelte
  desktop/tsconfig.json
  desktop/yarn.lock
  yarn.lock
Due: biome-check

feat: Auto-import sessions on first use (#707)
  crates/terraphim_agent/src/main.rs
  crates/terraphim_agent/src/repl/commands.rs
  crates/terraphim_agent/src/repl/handler.rs
  crates/terraphim_sessions/src/service.rs
Due: cargo-fmt, cargo-clippy

fix: address code review findings and fix test suite regressions
  .docs/design-708-code-review-fixes.md
  .docs/research-708-code-review-findings.md
  crates/terraphim-session-analyzer/tests/filename_target_filtering_tests.rs
  crates/terraphim-session-analyzer/tests/integration_tests.rs
  crates/terraphim_agent/src/mcp_tool_index.rs
  crates/terraphim_agent/tests/integration_test.rs
  crates/terraphim_agent/tests/integration_tests.rs
  crates/terraphim_agent/tests/offline_mode_tests.rs
  crates/terraphim_agent/tests/robot_search_output_regression_tests.rs
  crates/terraphim_agent/tests/unit_test.rs
  crates/terraphim_orchestrator/src/config.rs
  crates/terraphim_orchestrator/src/cost_tracker.rs
  crates/terraphim_orchestrator/src/lib.rs
  crates/terraphim_tinyclaw/src/channels/telegram.rs
Due: cargo-fmt, cargo-clippy

fix: remove needless borrow in prompts.rs to satisfy clippy -D warnings
  crates/terraphim_agent/src/onboarding/prompts.rs
Due: cargo-fmt, cargo-clippy

fix: fix LLM integration tests for live environment
  crates/terraphim_service/tests/llm_proxy_integration_test.rs
  crates/terraphim_service/tests/ollama_live_test.rs
Due: cargo-fmt, cargo-clippy

fix(ci): ignore RUSTSEC-2026-0049 and RUSTSEC-2020-0163 in cargo-deny
  deny.toml
Due: none

fix(deps): update tar to 0.4.45 for RUSTSEC-2026-0067 and RUSTSEC-2026-0068
  Cargo.lock
Due: none

fix(ci): use existing ci-check-frontend.sh script for yarn install and build
  .github/workflows/ci-main.yml
  .github/workflows/ci-pr.yml
  scripts/ci-check-frontend.sh
Due: none

fix(test): use absolute config path and increase client timeout for CI
  crates/terraphim_agent/src/client.rs
  crates/terraphim_agent/tests/integration_tests.rs
Due: cargo-fmt, cargo-clippy

fix(test): handle KG indexing timeout gracefully in server tests
  .cachebro/cache.db-shm
  .cachebro/cache.db-wal
  .docs/research-test-end-to-end-server-workflow-failure.md
  .docs/research/20260325-fixes-Cargo-lock.md
  .docs/research/test_end_to_server_workflow_failure.md
  .docs/verification-validation-708.md
  crates/terraphim_agent/tests/integration_tests.rs
  desktop/package-lock.json
  reports/spec-validation-20260325.md
Due: cargo-fmt, cargo-clippy, biome-check

fix(test): accept 400 Bad Request as valid CI outcome for search tests
  crates/terraphim_agent/tests/integration_tests.rs
Due: cargo-fmt, cargo-clippy

feat(learnings): add CorrectionEvent for user corrections
  crates/terraphim_agent/src/learnings/capture.rs
  crates/terraphim_agent/src/learnings/mod.rs
  crates/terraphim_agent/src/main.rs
  plans/design-gitea82-correction-event.md
Due: cargo-fmt, cargo-clippy

Path conditions:
  cargo-fmt: any of: \.rs$, but not: (?x)(
  ^target/.*|
  ^desktop/node_modules/.*|
  ^desktop/dist/.*|
  ^desktop/src-tauri/target/.*|
  ^vendor/.*|
  .*\.rs\.bk$|
  ^\.cargo/.*|
  ^artifact/.*
)
  cargo-clippy: any of: \.rs$, but not: (?x)(
  ^target/.*|
  ^desktop/node_modules/.*|
  ^desktop/dist/.*|
  ^desktop/src-tauri/target/.*|
  ^vendor/.*|
  .*\.rs\.bk$|
  ^\.cargo/.*|
  ^artifact/.*
)
  biome-check: any of: desktop/.*\.(js|ts|tsx|jsx|json|jsonc)$, but not: (?x)(
  ^target/.*|
  ^desktop/node_modules/.*|
  ^desktop/dist/.*|
  ^desktop/src-tauri/target/.*|
  ^vendor/.*|
  .*\.rs\.bk$|
  ^\.cargo/.*|
  ^artifact/.*
)
