Repository terraphim/terraphim-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, biome-check

cargo-fmt:
  name: Cargo format check
  entry: cargo fmt --all -- --check
  language: system
  pass_filenames: false
  description: Check Rust code formatting with cargo fmt

cargo-clippy:
  name: Cargo clippy
  entry: cargo clippy --workspace --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false
  description: Run Rust linter with cargo clippy

biome-check:
  name: Biome lint and format check
  entry: bash -c 'cd desktop && npx @biomejs/biome check --write false --no-errors-on-unmatched'
  language: system
  pass_filenames: false
  description: Check JavaScript/TypeScript formatting and linting with Biome

feat: implement comprehensive KG search functionality with performance optimizations
  Cargo.lock
  crates/terraphim_service/tests/chat_with_context_test.rs
  crates/terraphim_service/tests/test_utilities/mod.rs
  crates/terraphim_types/src/lib.rs
  desktop/src-tauri/Cargo.toml
  desktop/src-tauri/src/cmd.rs
  desktop/src/lib/Search/KGContextItem.svelte
  desktop/src/lib/Search/KGSearchModal.svelte
  desktop/src/lib/Search/Search.svelte
  desktop/src/lib/Search/searchUtils.ts
  desktop/src/types/svelma.d.ts
  desktop/tests/e2e/kg-search-context.spec.ts
  desktop/tests/unit/autocomplete-parsing.test.mjs
  desktop/tests/unit/operator-behavior.test.cjs
  desktop/tests/unit/operator-behavior.test.js
  desktop/tests/unit/operator-behavior.test.mjs
  desktop/tests/unit/operator-parsing.test.mjs
  docs/action_oriented_ontology_json.json
  terraphim_server/dist/assets/index-8448d8bc.js
  terraphim_server/dist/assets/index-d5c2c197.css
  terraphim_server/dist/assets/index-f1549acd.js
  terraphim_server/dist/index.html
  terraphim_server/src/api.rs
  terraphim_server/tests/api_context_tests.rs
  test_operators.mjs
Due: cargo-fmt, cargo-clippy, biome-check

feat: advanced context working
  @memories.md
  desktop/.env.example
  desktop/.ollama-validation-results
  desktop/TESTING.md
  desktop/package.json
  desktop/scripts/test-setup.sh
  desktop/scripts/validate-ollama.sh
  desktop/src/lib/Chat/Chat.svelte
  desktop/src/lib/Search/KGContextItem.svelte
  desktop/src/lib/Search/KGSearchModal.svelte
  desktop/tests/e2e/chat-functionality.spec.ts
  desktop/tests/e2e/config-wizard-complete.spec.ts
  desktop/tests/e2e/ollama-integration.spec.ts
  desktop/tests/e2e/smoke-test.spec.ts
  desktop/tests/e2e/summarization.spec.ts
  terraphim_server/dist/assets/index-4a4870b0.css
  terraphim_server/dist/assets/index-8448d8bc.js
  terraphim_server/dist/assets/index-8a8e7d6c.js
  terraphim_server/dist/assets/novel-editor-9dab4c70.js
  terraphim_server/dist/assets/vendor-atomic-1ea13e29.js
  terraphim_server/dist/assets/vendor-atomic-607c53bf.js
  terraphim_server/dist/assets/vendor-editor-2c949df9.js
  terraphim_server/dist/assets/vendor-ui-23b77d6f.js
  terraphim_server/dist/assets/vendor-ui-cd3d2b6a.js
  terraphim_server/dist/assets/vendor-utils-100b0668.js
  terraphim_server/dist/index.html
  terraphim_server/src/api.rs
Due: cargo-fmt, cargo-clippy, biome-check

adding thesuaurus works
  desktop/src-tauri/src/cmd.rs
  desktop/src/lib/Search/KGSearchModal.svelte
  desktop/tests/e2e/kg-thesaurus-content.spec.ts
  desktop/tests/e2e/kg-thesaurus-json.spec.ts
  terraphim_server/dist/assets/index-785986b0.js
  terraphim_server/dist/assets/index-8a8e7d6c.js
  terraphim_server/dist/assets/index-e3ea56ed.css
  terraphim_server/dist/assets/novel-editor-8ce540cf.js
  terraphim_server/dist/assets/vendor-atomic-21763cf9.js
  terraphim_server/dist/assets/vendor-atomic-607c53bf.js
  terraphim_server/dist/assets/vendor-editor-f769871a.js
  terraphim_server/dist/assets/vendor-ui-23b77d6f.js
  terraphim_server/dist/assets/vendor-ui-427b5e16.js
  terraphim_server/dist/assets/vendor-utils-26f00247.js
  terraphim_server/dist/index.html
Due: cargo-fmt, cargo-clippy, biome-check

feat: Add comprehensive AI Agent Evolution System with security and performance fixes
  @lessons-learned.md
  @memories.md
  @scratchpad.md
  Cargo.lock
  crates/terraphim_agent_evolution/Cargo.toml
  crates/terraphim_agent_evolution/crates/terraphim_settings/default/settings.toml
  crates/terraphim_agent_evolution/src/error.rs
  crates/terraphim_agent_evolution/src/evolution.rs
  crates/terraphim_agent_evolution/src/integration.rs
  crates/terraphim_agent_evolution/src/lessons.rs
  crates/terraphim_agent_evolution/src/lib.rs
  crates/terraphim_agent_evolution/src/llm_adapter.rs
  crates/terraphim_agent_evolution/src/memory.rs
  crates/terraphim_agent_evolution/src/tasks.rs
  crates/terraphim_agent_evolution/src/viewer.rs
  crates/terraphim_agent_evolution/src/workflows/evaluator_optimizer.rs
  crates/terraphim_agent_evolution/src/workflows/mod.rs
  crates/terraphim_agent_evolution/src/workflows/orchestrator_workers.rs
  crates/terraphim_agent_evolution/src/workflows/parallelization.rs
  crates/terraphim_agent_evolution/src/workflows/prompt_chaining.rs
  crates/terraphim_agent_evolution/src/workflows/routing.rs
  crates/terraphim_agent_evolution/tests/integration_scenarios.rs
  crates/terraphim_agent_evolution/tests/workflow_patterns_e2e.rs
  docs/src/agent_evolution_architecture.md
  docs/src/ai_agents_workflows.md
  docs/src/api_reference.md
  docs/src/testing_matrix.md
  docs/src/workflow_patterns_guide.md
Due: cargo-fmt, cargo-clippy

feat: Add comprehensive AI Agent Evolution System with settings management
  examples/agent-workflows/1-prompt-chaining/app.js
  examples/agent-workflows/1-prompt-chaining/index.html
  examples/agent-workflows/2-routing/app.js
  examples/agent-workflows/2-routing/index.html
  examples/agent-workflows/3-parallelization/app.js
  examples/agent-workflows/3-parallelization/index.html
  examples/agent-workflows/4-orchestrator-workers/app.js
  examples/agent-workflows/4-orchestrator-workers/index.html
  examples/agent-workflows/5-evaluator-optimizer/README.md
  examples/agent-workflows/5-evaluator-optimizer/app.js
  examples/agent-workflows/5-evaluator-optimizer/index.html
  examples/agent-workflows/README.md
  examples/agent-workflows/debug-test.html
  examples/agent-workflows/shared/api-client.js
  examples/agent-workflows/shared/connection-status.js
  examples/agent-workflows/shared/server-discovery.js
  examples/agent-workflows/shared/settings-integration.js
  examples/agent-workflows/shared/settings-manager.js
  examples/agent-workflows/shared/settings-modal.css
  examples/agent-workflows/shared/settings-modal.html
  examples/agent-workflows/shared/settings-ui.js
  examples/agent-workflows/shared/styles.css
  examples/agent-workflows/shared/websocket-client.js
  examples/agent-workflows/test-settings.html
  terraphim_server/Cargo.toml
  terraphim_server/src/api.rs
  terraphim_server/src/lib.rs
  terraphim_server/src/workflows/mod.rs
  terraphim_server/src/workflows/optimization.rs
  terraphim_server/src/workflows/orchestration.rs
  terraphim_server/src/workflows/parallel.rs
  terraphim_server/src/workflows/prompt_chain.rs
  terraphim_server/src/workflows/routing.rs
  terraphim_server/src/workflows/websocket.rs
  terraphim_server/tests/workflow_e2e_tests.rs
Due: cargo-fmt, cargo-clippy

fix: Resolve all pre-commit check failures
  crates/terraphim_agent_evolution/tests/integration_scenarios.rs
  crates/terraphim_gen_agent/src/lifecycle.rs
  crates/terraphim_gen_agent/src/runtime.rs
  crates/terraphim_middleware/tests/dual_haystack_validation_test.rs
  crates/terraphim_middleware/tests/haystack_refactor_test.rs
Due: cargo-fmt, cargo-clippy

WIP: muti-agent systems
  @lessons-learned.md
  @memories.md
  @scratchpad.md
  CLAUDE.md
  Cargo.lock
  crates/terraphim_agent_evolution/src/integration.rs
  crates/terraphim_agent_evolution/src/llm_adapter.rs
  crates/terraphim_agent_evolution/src/viewer.rs
  crates/terraphim_agent_evolution/tests/workflow_patterns_e2e.rs
Due: cargo-fmt, cargo-clippy

fix: resolve compilation issues and prepare for release
  Cargo.lock
  crates/terraphim-markdown-parser/src/main.rs
  crates/terraphim_service/tests/kg_preprocessing_test.rs
  crates/terraphim_types/src/lib.rs
  desktop/src-tauri/tauri.conf.json
  terraphim_server/Cargo.toml
  terraphim_server/src/api.rs
  terraphim_server/src/lib.rs
Due: cargo-fmt, cargo-clippy, biome-check

fix: bundle build
  Cargo.lock
  desktop/src-tauri/Cargo.toml
  desktop/src-tauri/tauri.conf.json
Due: biome-check

Path conditions:
  cargo-fmt: any of: \.rs$, but not: (?x)(
  ^target/.*|
  ^desktop/node_modules/.*|
  ^desktop/dist/.*|
  ^desktop/src-tauri/target/.*|
  ^vendor/.*|
  .*\.rs\.bk$|
  ^\.cargo/.*|
  ^artifact/.*
)
  cargo-clippy: any of: \.rs$, but not: (?x)(
  ^target/.*|
  ^desktop/node_modules/.*|
  ^desktop/dist/.*|
  ^desktop/src-tauri/target/.*|
  ^vendor/.*|
  .*\.rs\.bk$|
  ^\.cargo/.*|
  ^artifact/.*
)
  biome-check: any of: desktop/.*\.(js|ts|tsx|jsx|json|jsonc)$, but not: (?x)(
  ^target/.*|
  ^desktop/node_modules/.*|
  ^desktop/dist/.*|
  ^desktop/src-tauri/target/.*|
  ^vendor/.*|
  .*\.rs\.bk$|
  ^\.cargo/.*|
  ^artifact/.*
)
