Repository terraphim/terraphim-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, biome-check

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
# This configuration works with pre-commit, prek, and other compatible tools

repos:
  # General code quality hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        name: Trim trailing whitespace
      - id: end-of-file-fixer
        name: Fix end of files
      - id: check-yaml
        name: Check YAML syntax
      - id: check-toml
        name: Check TOML syntax
      - id: check-json
        name: Check JSON syntax
      - id: check-case-conflict
        name: Check for case conflicts
      - id: check-merge-conflict
        name: Check for merge conflicts
      - id: debug-statements
        name: Check for debug statements
      - id: detect-private-key
        name: Detect private keys
      - id: check-added-large-files
        name: Check for large files
        args: ['--maxkb=1000']

  # Rust-specific hooks
  - repo: local
    hooks:
      - id: cargo-fmt
        name: Cargo format check
        entry: cargo fmt --all -- --check
        language: system
        types: [rust]
        pass_filenames: false
        description: "Check Rust code formatting with cargo fmt"

      - id: cargo-clippy
        name: Cargo clippy
        entry: cargo clippy --workspace --all-targets --all-features -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false
        description: "Run Rust linter with cargo clippy"

      - id: cargo-test
        name: Cargo test
        entry: cargo test --workspace
        language: system
        types: [rust]
        pass_filenames: false
        stages: [manual]
        description: "Run Rust tests (manual stage)"

      - id: cargo-audit
        name: Cargo audit
        entry: cargo audit
        language: system
        pass_filenames: false
        stages: [manual]
        description: "Check for known security vulnerabilities (manual stage)"

  # JavaScript/TypeScript with Biome
  - repo: local
    hooks:
      - id: biome-check
        name: Biome lint and format check
        entry: bash -c 'cd desktop && npx @biomejs/biome check --write false --no-errors-on-unmatched'
        language: system
        files: 'desktop/.*\.(js|ts|tsx|jsx|json|jsonc)$'
        pass_filenames: false
        description: "Check JavaScript/TypeScript formatting and linting with Biome"

      - id: biome-format
        name: Biome format
        entry: bash -c 'cd desktop && npx @biomejs/biome format --write --no-errors-on-unmatched'
        language: system
        files: 'desktop/.*\.(js|ts|tsx|jsx|json|jsonc)$'
        pass_filenames: false
        stages: [manual]
        description: "Auto-format JavaScript/TypeScript with Biome (manual stage)"

  # Conventional commits validation
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v3.0.0
    hooks:
      - id: conventional-pre-commit
        name: Conventional commit format
        stages: [commit-msg]
        args: [
          "--strict",
          "--scopes=feat,fix,docs,style,refactor,perf,test,chore,build,ci,revert"
        ]
        description: "Enforce conventional commit message format"

  # Secret detection
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        name: Detect secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: .*/tests/.*|.*\.lock$|.*\.sum$|.*yarn\.lock$
        description: "Detect secrets in staged code"

# Global exclusions
exclude: |
  (?x)(
    ^target/.*|
    ^desktop/node_modules/.*|
    ^desktop/dist/.*|
    ^desktop/src-tauri/target/.*|
    ^vendor/.*|
    .*\.rs\.bk$|
    ^\.cargo/.*|
    ^artifact/.*
  )

fix(ci): remove unpublished optional_arguments_in_rust dependencies from terraphim_service
  crates/terraphim_middleware/Cargo.toml
Due: none

feat(ci): add terraphim_ai-log-analyzer to crates.io publish
  crates/claude-log-analyzer/Cargo.toml
  crates/terraphim_middleware/Cargo.toml
  scripts/publish-crates.sh
Due: none

Merge origin/main into main
  .github/workflows/publish-crates.yml
  .github/workflows/release-comprehensive.yml
  Cargo.toml
  crates/terraphim_hooks/Cargo.toml
  crates/terraphim_middleware/Cargo.toml
  crates/terraphim_middleware/src/haystack/mod.rs
  crates/terraphim_middleware/src/indexer/mod.rs
  docs/cli-quick-reference.md
  docs/cli-tools-overview.md
  docs/cli-tools.md
  docs/terraphim-agent.md
  docs/terraphim-cli.md
  docs/terraphim-repl.md
  scripts/publish-crates.sh
Due: cargo-fmt, cargo-clippy

Clean up merge artifacts and broken tests
  Cargo.lock
  crates/terraphim_settings/test_settings/settings.toml
  crates/terraphim_validation/tests/desktop_ui_integration_tests.rs.bak
  crates/terraphim_validation/tests/integration_tests.rs.bak
  crates/terraphim_validation/tests/server_api_basic_test.rs.bak
  crates/terraphim_validation/tests/server_api_integration_tests.rs.bak
Due: none

Remove backup test files
  crates/terraphim_validation/tests/desktop_ui_integration_tests.rs.bak
  crates/terraphim_validation/tests/integration_tests.rs.bak
  crates/terraphim_validation/tests/server_api_basic_test.rs.bak
  crates/terraphim_validation/tests/server_api_integration_tests.rs.bak
Due: none

fix(ci): align terraphim_ai-log-analyzer version with workspace
  crates/claude-log-analyzer/Cargo.toml
  crates/terraphim_middleware/Cargo.toml
Due: none

docs: add Claude Code integration quick setup guide
  README.md
Due: none

fix: resolve interactive mode crash and build script quality issues
  DISCIPLINED_DESIGN_PLAN.md
  FIX_PLAN.md
  QUALITY_IMPROVEMENTS.md
  build_multiplatform.sh
  crates/terraphim_agent/Cargo.toml
  crates/terraphim_agent/src/main.rs
  crates/terraphim_cli/Cargo.toml
  crates/terraphim_middleware/Cargo.toml
  crates/terraphim_middleware/src/haystack/mod.rs
  crates/terraphim_middleware/src/indexer/mod.rs
  crates/terraphim_middleware/src/lib.rs
  crates/terraphim_repl/Cargo.toml
  scripts/build_terraphim.sh
  terraphim_ai_nodejs/Cargo.toml
  test_tui_comprehensive.sh
Due: cargo-fmt, cargo-clippy

feat(update): add auto-update system with verification and validation reports
  .github/issues/AUTO-UPDATE-PHASE2.md
  .gitignore
  AUTO-UPDATE-PLAN-SUMMARY.md
  Cargo.lock
  Cargo.toml
  DESIGN-AUTO-UPDATE.md
  HANDOVER-AUTO-UPDATE.md
  HANDOVER.md
  PHASE5_INTEGRATION_SUMMARY.md
  RELEASE_BUILD_REPORT_v1.4.7.md
  RESEARCH-AUTO-UPDATE.md
  SELF_UPDATE_ANALYSIS.md
  VALIDATION-REPORT-AUTO-UPDATE.md
  VERIFICATION-REPORT-AUTO-UPDATE.md
  crates/terraphim_agent/src/main.rs
  crates/terraphim_agent/src/repl/commands.rs
  crates/terraphim_agent/src/repl/handler.rs
  crates/terraphim_cli/CHANGELOG.md
  crates/terraphim_cli/Cargo.toml
  crates/terraphim_cli/src/main.rs
  crates/terraphim_middleware/src/haystack/mod.rs
  crates/terraphim_middleware/src/haystack/perplexity.rs
  crates/terraphim_middleware/src/haystack/query_rs.rs
  crates/terraphim_settings/test_settings/settings.toml
  crates/terraphim_update/Cargo.toml
  crates/terraphim_update/README.md
  crates/terraphim_update/src/config.rs
  crates/terraphim_update/src/downloader.rs
  crates/terraphim_update/src/lib.rs
  crates/terraphim_update/src/notification.rs
  crates/terraphim_update/src/platform.rs
  crates/terraphim_update/src/rollback.rs
  crates/terraphim_update/src/scheduler.rs
  crates/terraphim_update/src/signature.rs
  crates/terraphim_update/src/state.rs
  crates/terraphim_update/test_debug.rs
  crates/terraphim_update/tests/integration_test.rs
  lessons-learned.md
Due: cargo-fmt, cargo-clippy

fix: update Node.js version expectation and @types/node
  desktop/package.json
  scripts/ci-check-frontend.sh
Due: biome-check

fix: add display_value field to NormalizedTerm initializations
  crates/claude-log-analyzer/tests/terraphim_integration_tests.rs
Due: cargo-fmt, cargo-clippy

feat(rlm): add LLM bridge for VM-to-host communication
  crates/terraphim_rlm/src/error.rs
  crates/terraphim_rlm/src/lib.rs
  crates/terraphim_rlm/src/llm_bridge.rs
Due: cargo-fmt, cargo-clippy

feat(rlm): add terraphim_rlm crate Phase 1 implementation
  .docs/design-rig-rlm-integration.md
  .docs/quality-evaluation-rig-rlm-design.md
  .docs/quality-evaluation-rig-rlm-research.md
  .docs/research-rig-rlm-integration.md
  .docs/specification-rig-rlm-integration.md
  Cargo.lock
  crates/terraphim_rlm/Cargo.toml
  crates/terraphim_rlm/src/config.rs
  crates/terraphim_rlm/src/error.rs
  crates/terraphim_rlm/src/executor/context.rs
  crates/terraphim_rlm/src/executor/firecracker.rs
  crates/terraphim_rlm/src/executor/mod.rs
  crates/terraphim_rlm/src/executor/trait.rs
  crates/terraphim_rlm/src/lib.rs
  crates/terraphim_rlm/src/types.rs
Due: cargo-fmt, cargo-clippy

feat(rlm): add session management and budget tracking
  Cargo.lock
  crates/terraphim_rlm/Cargo.toml
  crates/terraphim_rlm/src/budget.rs
  crates/terraphim_rlm/src/executor/context.rs
  crates/terraphim_rlm/src/lib.rs
  crates/terraphim_rlm/src/session.rs
  crates/terraphim_rlm/src/types.rs
Due: cargo-fmt, cargo-clippy

feat(rlm): add SSH-based command execution for VMs
  Cargo.lock
  crates/terraphim_rlm/src/executor/firecracker.rs
  crates/terraphim_rlm/src/executor/mod.rs
  crates/terraphim_rlm/src/executor/ssh.rs
  crates/terraphim_rlm/src/lib.rs
  crates/terraphim_rlm/src/session.rs
Due: cargo-fmt, cargo-clippy

fix(ci): disable terraphim_sessions dependency for crates.io publishing
  crates/terraphim_agent/Cargo.toml
Due: none

feat(rlm): implement Phase 3 session-aware snapshot management
  crates/terraphim_rlm/src/executor/firecracker.rs
  crates/terraphim_rlm/src/executor/trait.rs
  crates/terraphim_rlm/src/session.rs
  crates/terraphim_rlm/src/types.rs
Due: cargo-fmt, cargo-clippy

ci: support multi-line commit messages in commit-msg hook
  scripts/hooks/commit-msg
Due: none

fix(clippy): allow unused_mut in available_commands
  crates/terraphim_agent/src/repl/commands.rs
Due: cargo-fmt, cargo-clippy
