Repository terraphim/terraphim-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, biome-check

cargo-fmt:
  name: Cargo format check
  entry: cargo fmt --all -- --check
  language: system
  pass_filenames: false
  description: Check Rust code formatting with cargo fmt

cargo-clippy:
  name: Cargo clippy
  entry: cargo clippy --workspace --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false
  description: Run Rust linter with cargo clippy

biome-check:
  name: Biome lint and format check
  entry: bash -c 'cd desktop && npx @biomejs/biome check --write false --no-errors-on-unmatched'
  language: system
  pass_filenames: false
  description: Check JavaScript/TypeScript formatting and linting with Biome

fix(tests): Remove duplicate llm_router fields from Role definitions
  crates/terraphim_config/examples/atomic_server_config.rs
  crates/terraphim_mcp_server/tests/mcp_autocomplete_e2e_test.rs
  crates/terraphim_mcp_server/tests/mcp_rolegraph_validation_test.rs
  crates/terraphim_middleware/tests/haystack_refactor_test.rs
  crates/terraphim_middleware/tests/mcp_haystack_test.rs
  crates/terraphim_middleware/tests/perplexity_haystack_test.rs
  crates/terraphim_service/src/llm/proxy_client.rs
  crates/terraphim_service/src/llm/routed_adapter.rs
  crates/terraphim_service/tests/chat_with_context_test.rs
  crates/terraphim_service/tests/kg_preprocessing_test.rs
  crates/terraphim_service/tests/kg_protocol_resolution_test.rs
  crates/terraphim_service/tests/llm_integration_test.rs
  crates/terraphim_service/tests/ollama_adapter_smoke.rs
  crates/terraphim_service/tests/ollama_chat_context_live_test.rs
  terraphim_server/tests/api_context_tests.rs
  terraphim_server/tests/debug_rolegraph.rs
Due: cargo-fmt, cargo-clippy

fix(tests): Mark AI summarization test as ignored for CI
  crates/terraphim_middleware/tests/ai_summarization_uniqueness_test.rs
Due: cargo-fmt, cargo-clippy

fix(middleware): add atomic and grepapp placeholder features
  crates/terraphim_middleware/Cargo.toml
Due: none

fix(agent): allow unused_mut in commands.rs
  crates/terraphim_agent/src/repl/commands.rs
Due: cargo-fmt, cargo-clippy

fix(agent): replace eprintln!("") with eprintln!()
  crates/terraphim_agent/src/main.rs
Due: cargo-fmt, cargo-clippy

docs: Update handover and lessons learned for LLM Router session
  HANDOVER.md
  lessons-learned.md
Due: none

feat(middleware): add Quickwit haystack integration with hybrid index discovery
  .docs/design-quickwit-haystack-integration.md
  .docs/quality-evaluation-design-quickwit-v2.md
  .docs/quality-evaluation-design-quickwit.md
  .docs/quickwit-autodiscovery-tradeoffs.md
  .docs/research-quickwit-haystack-integration.md
  crates/terraphim_config/src/lib.rs
  crates/terraphim_middleware/src/haystack/mod.rs
  crates/terraphim_middleware/src/haystack/quickwit.rs
  crates/terraphim_middleware/src/indexer/mod.rs
Due: cargo-fmt, cargo-clippy

feat(quickwit): add integration tests, example configs, and documentation
  CLAUDE.md
  crates/terraphim_middleware/tests/quickwit_haystack_test.rs
  crates/terraphim_settings/test_settings/settings.toml
  docs/quickwit-integration.md
  terraphim_server/default/quickwit_autodiscovery_config.json
  terraphim_server/default/quickwit_engineer_config.json
  terraphim_server/default/quickwit_production_config.json
Due: cargo-fmt, cargo-clippy

docs(quickwit): add implementation summary and completion report
  .docs/implementation-summary-quickwit.md
  crates/terraphim_settings/test_settings/settings.toml
Due: none

docs(quickwit): add comprehensive quality gate report
  .docs/quality-gate-report-quickwit.md
Due: none

fix(tsa): update CLI name and help to reflect multi-assistant support
  crates/terraphim-session-analyzer/src/main.rs
  crates/terraphim-session-analyzer/tests/integration_tests.rs
  crates/terraphim_settings/test_settings/settings.toml
Due: cargo-fmt, cargo-clippy

fix(session-analyzer): correct Opencomplete_guide_to_testing_code_in_rust connector path and format
  crates/terraphim-session-analyzer/src/connectors/opencode.rs
  crates/terraphim-session-analyzer/src/main.rs
Due: cargo-fmt, cargo-clippy

docs(quickwit): add comprehensive usage examples, skill, and documentation
  CLAUDE.md
  README.md
  examples/quickwit-incident-investigation.sh
  examples/quickwit-log-search.md
  skills/quickwit-search/skill.md
Due: none

chore: bump terraphim-session-analyzer to v1.4.11
  crates/terraphim-session-analyzer/Cargo.toml
Due: none

code_review: update handover and making_python_100x_faster_with_less_than_100_lines_of_rustons learned for session analyzer work
  HANDOVER.md
  lessons-learned.md
Due: none

feat(update): add auto-update system with verification and validation reports
  .github/issues/AUTO-UPDATE-PHASE2.md
  .gitignore
  AUTO-UPDATE-PLAN-SUMMARY.md
  Cargo.lock
  Cargo.toml
  DESIGN-AUTO-UPDATE.md
  HANDOVER-AUTO-UPDATE.md
  HANDOVER.md
  PHASE5_INTEGRATION_SUMMARY.md
  RELEASE_BUILD_REPORT_v1.4.7.md
  RESEARCH-AUTO-UPDATE.md
  SELF_UPDATE_ANALYSIS.md
  VALIDATION-REPORT-AUTO-UPDATE.md
  VERIFICATION-REPORT-AUTO-UPDATE.md
  crates/terraphim_agent/src/main.rs
  crates/terraphim_agent/src/repl/commands.rs
  crates/terraphim_agent/src/repl/handler.rs
  crates/terraphim_cli/CHANGELOG.md
  crates/terraphim_cli/Cargo.toml
  crates/terraphim_cli/src/main.rs
  crates/terraphim_middleware/src/haystack/perplexity.rs
  crates/terraphim_middleware/src/haystack/query_rs.rs
  crates/terraphim_update/Cargo.toml
  crates/terraphim_update/README.md
  crates/terraphim_update/src/config.rs
  crates/terraphim_update/src/downloader.rs
  crates/terraphim_update/src/lib.rs
  crates/terraphim_update/src/notification.rs
  crates/terraphim_update/src/platform.rs
  crates/terraphim_update/src/rollback.rs
  crates/terraphim_update/src/scheduler.rs
  crates/terraphim_update/src/signature.rs
  crates/terraphim_update/src/state.rs
  crates/terraphim_update/test_debug.rs
  crates/terraphim_update/tests/integration_test.rs
Due: cargo-fmt, cargo-clippy

fix: update Node.js version expectation and @types/node
  desktop/package.json
  scripts/ci-check-frontend.sh
Due: biome-check

feat(update): implement Ed25519 signature verification using zipsign-api
  Cargo.lock
  DESIGN-SIGNATURE-VERIFICATION.md
  RESEARCH-SIGNATURE-VERIFICATION.md
  crates/terraphim_update/Cargo.toml
  crates/terraphim_update/src/signature.rs
  scripts/generate-zipsign-keypair.sh
Due: cargo-fmt, cargo-clippy

Path conditions:
  cargo-fmt: any of: \.rs$, but not: (?x)(
  ^target/.*|
  ^desktop/node_modules/.*|
  ^desktop/dist/.*|
  ^desktop/src-tauri/target/.*|
  ^vendor/.*|
  .*\.rs\.bk$|
  ^\.cargo/.*|
  ^artifact/.*
)
  cargo-clippy: any of: \.rs$, but not: (?x)(
  ^target/.*|
  ^desktop/node_modules/.*|
  ^desktop/dist/.*|
  ^desktop/src-tauri/target/.*|
  ^vendor/.*|
  .*\.rs\.bk$|
  ^\.cargo/.*|
  ^artifact/.*
)
  biome-check: any of: desktop/.*\.(js|ts|tsx|jsx|json|jsonc)$, but not: (?x)(
  ^target/.*|
  ^desktop/node_modules/.*|
  ^desktop/dist/.*|
  ^desktop/src-tauri/target/.*|
  ^vendor/.*|
  .*\.rs\.bk$|
  ^\.cargo/.*|
  ^artifact/.*
)
