Repository terraphim/terraphim-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, biome-check

cargo-fmt:
  name: Cargo format check
  entry: cargo fmt --all -- --check
  language: system
  pass_filenames: false
  description: Check Rust code formatting with cargo fmt

cargo-clippy:
  name: Cargo clippy
  entry: cargo clippy --workspace --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false
  description: Run Rust linter with cargo clippy

biome-check:
  name: Biome lint and format check
  entry: bash -c 'cd desktop && npx @biomejs/biome check --write false --no-errors-on-unmatched'
  language: system
  pass_filenames: false
  description: Check JavaScript/TypeScript formatting and linting with Biome

chore: bump version to v0.2.3
  crates/terraphim_tui/Cargo.toml
  terraphim_server/Cargo.toml
Due: none

feat: add release infrastructure and packaging scripts
  Cargo.lock
  Dockerfile
  PKGBUILD-server
  PKGBUILD-tui
  README.md
  docker/Dockerfile.simple
  terraphim-server-binary.spec
  terraphim-server.spec
  terraphim-tui-binary.spec
  terraphim-tui.spec
  terraphim_server/dist/assets/index-edaf7e05.js
  terraphim_server/dist/assets/vendor-editor-992829d3.js
  terraphim_server/dist/assets/vendor-ui-cd3d2b6a.js
  terraphim_server/dist/index.html
  terraphim_server/dist/splashscreen.html
  terraphim_server/dist/splashscreen.js
Due: none

docs: add release documentation and automation workflows
  .github/workflows/package-release.yml
  docs/RELEASE_PROCESS.md
  scripts/test-release.sh
Due: none

feat: new terraphim types
  Cargo.lock
  crates/terraphim_types/src/lib.rs
Due: cargo-fmt, cargo-clippy

docs: add installation and deployment guides
  docker-compose.yml
  docs/deployment.md
  docs/installation.md
  scripts/validate-release-pipeline.sh
Due: none

feat: add macOS app bundles and platform documentation
  TerraphimServer-0.2.3-macos.tar.gz
  TerraphimTUI-0.2.3-macos.tar.gz
  docs/platform-specific-installation.md
  macos-bundles/TerraphimServer.app/Contents/Info.plist
  macos-bundles/TerraphimServer.app/Contents/Resources/README.md
  macos-bundles/TerraphimTUI.app/Contents/Info.plist
  macos-bundles/TerraphimTUI.app/Contents/Resources/README.md
  release/v0.2.4/README.md
  release/v0.2.4/TerraphimServer-0.2.3-macos.tar.gz
  release/v0.2.4/TerraphimTUI-0.2.3-macos.tar.gz
  release/v0.2.4/docker-run.sh
  release/v0.2.4/install.sh
  scripts/build-macos-bundles.sh
Due: none

feat: add improved multi-architecture Docker support
  Dockerfile.fixed
  Dockerfile.multiarch
Due: none

feat: complete v0.2.4 release infrastructure
  Dockerfile.multi-stage
  PKGBUILD-server
  PKGBUILD-tui
  RELEASE_SUMMARY_v0.2.4.md
  terraphim-server-binary.spec
  terraphim-server.spec
  terraphim-tui-binary.spec
  terraphim-tui.spec
Due: none

feat: add comprehensive release automation scripts
  scripts/README.md
  scripts/changelog.sh
  scripts/release-manager.sh
  scripts/release.sh
  scripts/validate-release.sh
Due: none

fix: resolve formatting and dependency issues
  .github/workflows/package-release.yml
  Dockerfile
  Dockerfile.fixed
  Dockerfile.multi-stage
  Dockerfile.multiarch
  RELEASE_SUMMARY_v0.2.4.md
  crates/terraphim_mcp_server/tests/test_tools_list.rs
  desktop/package.json
  desktop/yarn.lock
  docker-compose.yml
  docker/Dockerfile.simple
  docs/RELEASE_PROCESS.md
  docs/deployment.md
  docs/installation.md
  docs/platform-specific-installation.md
  macos-bundles/TerraphimServer.app/Contents/Info.plist
  macos-bundles/TerraphimServer.app/Contents/Resources/README.md
  macos-bundles/TerraphimTUI.app/Contents/Info.plist
  macos-bundles/TerraphimTUI.app/Contents/Resources/README.md
  release/v0.2.4/README.md
  release/v0.2.4/docker-run.sh
  release/v0.2.4/install.sh
  scripts/README.md
  scripts/build-macos-bundles.sh
  scripts/changelog.sh
  scripts/release-manager.sh
  scripts/release.sh
  scripts/test-release.sh
  scripts/validate-release-pipeline.sh
  scripts/validate-release.sh
Due: cargo-fmt, cargo-clippy, biome-check

fix(frontend): resolve variable naming issues
  desktop/src/lib/Chat/Chat.svelte
  desktop/src/lib/ConfigWizard.svelte
Due: none

build(frontend): regenerate frontend assets with working build
  desktop/yarn.lock
  terraphim_server/dist/assets/index-edaf7e05.js
  terraphim_server/dist/assets/vendor-editor-992829d3.js
  terraphim_server/dist/assets/vendor-ui-cd3d2b6a.js
  terraphim_server/dist/index.html
  terraphim_server/dist/splashscreen.html
  terraphim_server/dist/splashscreen.js
Due: none

fix(ci): change Node.js version from 20 to 18 for better compatibility
  .github/workflows/ci-native.yml
  .github/workflows/frontend-build.yml
Due: none

deps(frontend): update dependencies for Node.js 18 compatibility
  desktop/package.json
Due: biome-check

Path conditions:
  cargo-fmt: any of: \.rs$, but not: (?x)(
  ^target/.*|
  ^desktop/node_modules/.*|
  ^desktop/dist/.*|
  ^desktop/src-tauri/target/.*|
  ^vendor/.*|
  .*\.rs\.bk$|
  ^\.cargo/.*|
  ^artifact/.*
)
  cargo-clippy: any of: \.rs$, but not: (?x)(
  ^target/.*|
  ^desktop/node_modules/.*|
  ^desktop/dist/.*|
  ^desktop/src-tauri/target/.*|
  ^vendor/.*|
  .*\.rs\.bk$|
  ^\.cargo/.*|
  ^artifact/.*
)
  biome-check: any of: desktop/.*\.(js|ts|tsx|jsx|json|jsonc)$, but not: (?x)(
  ^target/.*|
  ^desktop/node_modules/.*|
  ^desktop/dist/.*|
  ^desktop/src-tauri/target/.*|
  ^vendor/.*|
  .*\.rs\.bk$|
  ^\.cargo/.*|
  ^artifact/.*
)
