Repository terraphim/terraphim-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, biome-check

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
# This configuration works with pre-commit, prek, and other compatible tools

repos:
  # General code quality hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        name: Trim trailing whitespace
      - id: end-of-file-fixer
        name: Fix end of files
      - id: check-yaml
        name: Check YAML syntax
      - id: check-toml
        name: Check TOML syntax
      - id: check-json
        name: Check JSON syntax
      - id: check-case-conflict
        name: Check for case conflicts
      - id: check-merge-conflict
        name: Check for merge conflicts
      - id: debug-statements
        name: Check for debug statements
      - id: detect-private-key
        name: Detect private keys
      - id: check-added-large-files
        name: Check for large files
        args: ['--maxkb=1000']

  # Rust-specific hooks
  - repo: local
    hooks:
      - id: cargo-fmt
        name: Cargo format check
        entry: cargo fmt --all -- --check
        language: system
        types: [rust]
        pass_filenames: false
        description: "Check Rust code formatting with cargo fmt"

      - id: cargo-clippy
        name: Cargo clippy
        entry: cargo clippy --workspace --all-targets --all-features -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false
        description: "Run Rust linter with cargo clippy"

      - id: cargo-test
        name: Cargo test
        entry: cargo test --workspace
        language: system
        types: [rust]
        pass_filenames: false
        stages: [manual]
        description: "Run Rust tests (manual stage)"

      - id: cargo-audit
        name: Cargo audit
        entry: cargo audit
        language: system
        pass_filenames: false
        stages: [manual]
        description: "Check for known security vulnerabilities (manual stage)"

  # JavaScript/TypeScript with Biome
  - repo: local
    hooks:
      - id: biome-check
        name: Biome lint and format check
        entry: bash -c 'cd desktop && npx @biomejs/biome check --write false --no-errors-on-unmatched'
        language: system
        files: 'desktop/.*\.(js|ts|tsx|jsx|json|jsonc)$'
        pass_filenames: false
        description: "Check JavaScript/TypeScript formatting and linting with Biome"

      - id: biome-format
        name: Biome format
        entry: bash -c 'cd desktop && npx @biomejs/biome format --write --no-errors-on-unmatched'
        language: system
        files: 'desktop/.*\.(js|ts|tsx|jsx|json|jsonc)$'
        pass_filenames: false
        stages: [manual]
        description: "Auto-format JavaScript/TypeScript with Biome (manual stage)"

  # Conventional commits validation
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v3.0.0
    hooks:
      - id: conventional-pre-commit
        name: Conventional commit format
        stages: [commit-msg]
        args: [
          "--strict",
          "--scopes=feat,fix,docs,style,refactor,perf,test,chore,build,ci,revert"
        ]
        description: "Enforce conventional commit message format"

  # Secret detection
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        name: Detect secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: .*/tests/.*|.*\.lock$|.*\.sum$|.*yarn\.lock$
        description: "Detect secrets in staged code"

# Global exclusions
exclude: |
  (?x)(
    ^target/.*|
    ^desktop/node_modules/.*|
    ^desktop/dist/.*|
    ^desktop/src-tauri/target/.*|
    ^vendor/.*|
    .*\.rs\.bk$|
    ^\.cargo/.*|
    ^artifact/.*
  )

ci: fix GitHub Actions failures
  .github/workflows/ci-optimized.yml
  .github/workflows/ci-simple.yml
  Cargo.lock
  crates/terraphim_mcp_server/src/lib.rs
  crates/terraphim_mcp_server/tests/mcp_autocomplete_e2e_test.rs
  crates/terraphim_mcp_server/tests/mcp_rolegraph_validation_test.rs
  crates/terraphim_middleware/Cargo.toml
  crates/terraphim_tui/src/main.rs
Due: cargo-fmt, cargo-clippy

feat: Integrate rig-core 0.14.0 with Ollama support for local testing
  Cargo.lock
  Cargo.toml
  crates/terraphim_multi_agent/Cargo.toml
  crates/terraphim_multi_agent/examples/multi_agent_coordination.rs
  crates/terraphim_multi_agent/src/agent.rs
  crates/terraphim_multi_agent/src/llm_client.rs
  desktop/src-tauri/Cargo.toml
Due: cargo-fmt, cargo-clippy

Resolve merge conflicts from main, prioritizing fixes_search_term_vis functionality
  Cargo.lock
  OUTSTANDING_ITEMS_ANALYSIS.md
  browser_extensions/TerraphimAIParseExtension/pkg/package.json
  crates/terraphim_mcp_server/src/lib.rs
  desktop/src/lib/Search/Search.svelte
  desktop/src/lib/Search/searchUtils.ts
  desktop/src/types/svelma.d.ts
  desktop/tests/unit/autocomplete-parsing.test.mjs
  desktop/tests/unit/operator-behavior.test.cjs
  desktop/tests/unit/operator-parsing.test.mjs
  desktop/yarn.lock
  dist/browser-extensions/RELEASE_NOTES.md
  terraphim_server/dist/assets/index-02360095.css
  terraphim_server/dist/assets/index-0ec273a1.css
  terraphim_server/dist/assets/index-8cb80a90.js
  terraphim_server/dist/assets/index-cf31c574.js
  terraphim_server/dist/assets/index-edaf7e05.js
  terraphim_server/dist/assets/novel-editor-c665f5c2.js
  terraphim_server/dist/assets/vendor-editor-992829d3.js
  terraphim_server/dist/assets/vendor-ui-cd3d2b6a.js
  terraphim_server/dist/assets/vendor-utils-1b347ea1.js
  terraphim_server/dist/index.html
  terraphim_server/dist/splashscreen.html
  terraphim_server/dist/splashscreen.js
  test_operators.mjs
Due: cargo-fmt, cargo-clippy, biome-check

Apply pre-commit fixes
  crates/terraphim-markdown-parser/src/main.rs
  crates/terraphim_middleware/tests/perplexity_haystack_test.rs
  crates/terraphim_service/tests/kg_preprocessing_test.rs
  desktop/.env.example
  desktop/TESTING.md
  desktop/scripts/test-setup.sh
  desktop/scripts/validate-ollama.sh
  desktop/src-tauri/tauri.conf.json
  desktop/src/lib/Chat/Chat.svelte
  desktop/src/lib/Search/KGContextItem.svelte
  desktop/src/lib/Search/KGSearchModal.svelte
  desktop/tests/e2e/chat-functionality.spec.ts
  desktop/tests/e2e/config-wizard-complete.spec.ts
  desktop/tests/e2e/kg-thesaurus-content.spec.ts
  desktop/tests/e2e/kg-thesaurus-json.spec.ts
  desktop/tests/e2e/llm-provider-configuration.spec.ts
  desktop/tests/e2e/llm-provider-error-reproduction.spec.ts
  desktop/tests/e2e/ollama-integration.spec.ts
  desktop/tests/e2e/smoke-test.spec.ts
  desktop/tests/e2e/summarization.spec.ts
  scripts/quick_test.sh
  scripts/test_llm_chat_matrix.sh
Due: cargo-fmt, cargo-clippy, biome-check

fix: revert Tauri to v1.x and fix configuration compatibility
  .pre-commit-config.yaml
  Cargo.lock
  browser_extensions/TerraphimAIParseExtension/wasm/package.json
  desktop/src-tauri/Cargo.toml
  desktop/src-tauri/tauri.conf.json
Due: biome-check

fix: resolve all clippy warnings and compilation errors
  crates/terraphim_tui/tests/comprehensive_cli_tests.rs
  crates/terraphim_tui/tests/extract_feature_tests.rs
  desktop/src-tauri/src/cmd.rs
Due: cargo-fmt, cargo-clippy

Commiting fixed tauri desktop
  Cargo.lock
  PRECOMMIT_INTEGRATION.md
  crates/terraphim_automata/benches/autocomplete_bench.rs
  crates/terraphim_automata/src/builder.rs
  crates/terraphim_mcp_server/tests/mcp_autocomplete_e2e_test.rs
  crates/terraphim_mcp_server/tests/mcp_rolegraph_validation_test.rs
  crates/terraphim_middleware/Cargo.toml
  crates/terraphim_middleware/src/haystack/mcp.rs
  desktop/package-lock.json
  desktop/yarn.lock
  terraphim_server/dist/assets/index-0e5f385b.js
  terraphim_server/dist/assets/vendor-editor-f87b2f73.js
  terraphim_server/dist/assets/vendor-ui-65216d17.js
  terraphim_server/dist/index.html
  terraphim_server/dist/splashscreen.html
  terraphim_server/dist/splashscreen.js
  terraphim_server/src/api.rs
Due: cargo-fmt, cargo-clippy, biome-check

Haystack testing matrix
  crates/terraphim_tui/src/main.rs
  crates/terraphim_tui/src/service.rs
  terraphim_server/dist/assets/index-0e5f385b.js
  terraphim_server/dist/assets/vendor-editor-f87b2f73.js
  terraphim_server/dist/assets/vendor-ui-65216d17.js
  terraphim_server/dist/index.html
  terraphim_server/dist/splashscreen.html
  terraphim_server/dist/splashscreen.js
Due: cargo-fmt, cargo-clippy

fix: desktop build
  desktop/src/main.ts
Due: biome-check

Autocomplete KG search fixed
  @lessons-learned.md
  @memories.md
  @scratchpad.md
  Cargo.lock
  crates/terraphim_middleware/Cargo.toml
  crates/terraphim_middleware/src/haystack/clickup.rs
  crates/terraphim_middleware/src/indexer/mod.rs
  crates/terraphim_middleware/src/lib.rs
  crates/terraphim_rolegraph/Cargo.toml
  crates/terraphim_rolegraph/src/lib.rs
  crates/terraphim_tui/Cargo.toml
  crates/terraphim_tui/src/main.rs
  crates/terraphim_tui/src/service.rs
  desktop/src/lib/Search/KGSearchModal.svelte
  desktop/src/lib/Search/Search.svelte
  desktop/src/main.ts
  terraphim_server/build.rs
  terraphim_server/dist/assets/index-0e5f385b.js
  terraphim_server/dist/index.html
Due: cargo-fmt, cargo-clippy, biome-check

chore: remove sensitive data and add to gitignore
  .gitignore
  @memories.md
  @scratchpad.md
  crates/terraphim_atomic_client/export_out.json
Due: none

fix: remove duplicate context item creation methods
  terraphim_server/dist/assets/index-0e5f385b.js
  terraphim_server/dist/assets/vendor-editor-f87b2f73.js
  terraphim_server/dist/assets/vendor-ui-65216d17.js
  terraphim_server/dist/index.html
  terraphim_server/dist/splashscreen.html
Due: none

feat: add haystack core trait and TUI test improvements
  .secrets.baseline
  crates/haystack_core/Cargo.toml
  crates/haystack_core/src/lib.rs
  crates/terraphim_tui/tests/extract_feature_tests.rs
  terraphim_server/src/main.rs
Due: cargo-fmt, cargo-clippy

feat: model name displayed correctly
  .env.tauri-release
  1PASSWORD_SETUP.md
  @lessons-learned.md
  @memories.md
  @scratchpad.md
  Cargo.lock
  Cargo.toml
  crates/terraphim_config/src/lib.rs
  crates/terraphim_middleware/src/haystack/mcp.rs
  crates/terraphim_middleware/tests/mcp_haystack_test.rs
  crates/terraphim_tui/tests/extract_functionality_validation.rs
  crates/terraphim_tui/tests/integration_tests.rs
  crates/terraphim_update/Cargo.toml
  desktop/package.json
  desktop/src-tauri/src/cmd.rs
  desktop/src-tauri/tauri.conf.json.template
  desktop/src/lib/Chat/Chat.svelte
  desktop/src/lib/Search/KGContextItem.svelte
  desktop/src/lib/Search/KGSearchModal.svelte
  desktop/src/lib/Search/Search.svelte
  desktop/src/main.ts
  desktop/tests/helpers/context-helpers.ts
  scripts/build-with-signing.sh
  scripts/generate-latest-json.js
  scripts/release-all.sh
  scripts/setup-1password-secrets.sh
  server.log
  terraphim_server/default/ai_engineer_config.json
  terraphim_server/default/ollama_llama_config.json
  terraphim_server/default/terraphim_engineer_config.json
  terraphim_server/dist/assets/index-0e5f385b.js
  terraphim_server/dist/assets/index-133730c4.css
  terraphim_server/dist/assets/novel-editor-72d0a44a.js
  terraphim_server/dist/assets/vendor-atomic-911c42f7.js
  terraphim_server/dist/assets/vendor-editor-f87b2f73.js
  terraphim_server/dist/assets/vendor-ui-65216d17.js
  terraphim_server/dist/assets/vendor-utils-f7aada8e.js
  terraphim_server/dist/index.html
  terraphim_server/src/lib.rs
Due: cargo-fmt, cargo-clippy, biome-check
