Repository terraphim/terraphim-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, biome-check

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
# This configuration works with pre-commit, prek, and other compatible tools

repos:
  # General code quality hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        name: Trim trailing whitespace
      - id: end-of-file-fixer
        name: Fix end of files
      - id: check-yaml
        name: Check YAML syntax
      - id: check-toml
        name: Check TOML syntax
      - id: check-json
        name: Check JSON syntax
      - id: check-case-conflict
        name: Check for case conflicts
      - id: check-merge-conflict
        name: Check for merge conflicts
      - id: debug-statements
        name: Check for debug statements
      - id: detect-private-key
        name: Detect private keys
      - id: check-added-large-files
        name: Check for large files
        args: ['--maxkb=1000']

  # Rust-specific hooks
  - repo: local
    hooks:
      - id: cargo-fmt
        name: Cargo format check
        entry: cargo fmt --all -- --check
        language: system
        types: [rust]
        pass_filenames: false
        description: "Check Rust code formatting with cargo fmt"

      - id: cargo-clippy
        name: Cargo clippy
        entry: cargo clippy --workspace --all-targets --all-features -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false
        description: "Run Rust linter with cargo clippy"

      - id: cargo-test
        name: Cargo test
        entry: cargo test --workspace
        language: system
        types: [rust]
        pass_filenames: false
        stages: [manual]
        description: "Run Rust tests (manual stage)"

      - id: cargo-audit
        name: Cargo audit
        entry: cargo audit
        language: system
        pass_filenames: false
        stages: [manual]
        description: "Check for known security vulnerabilities (manual stage)"

  # JavaScript/TypeScript with Biome
  - repo: local
    hooks:
      - id: biome-check
        name: Biome lint and format check
        entry: bash -c 'cd desktop && npx @biomejs/biome check --write false --no-errors-on-unmatched'
        language: system
        files: 'desktop/.*\.(js|ts|tsx|jsx|json|jsonc)$'
        pass_filenames: false
        description: "Check JavaScript/TypeScript formatting and linting with Biome"

      - id: biome-format
        name: Biome format
        entry: bash -c 'cd desktop && npx @biomejs/biome format --write --no-errors-on-unmatched'
        language: system
        files: 'desktop/.*\.(js|ts|tsx|jsx|json|jsonc)$'
        pass_filenames: false
        stages: [manual]
        description: "Auto-format JavaScript/TypeScript with Biome (manual stage)"

  # Conventional commits validation
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v3.0.0
    hooks:
      - id: conventional-pre-commit
        name: Conventional commit format
        stages: [commit-msg]
        args: [
          "--strict",
          "--scopes=feat,fix,docs,style,refactor,perf,test,chore,build,ci,revert"
        ]
        description: "Enforce conventional commit message format"

  # Secret detection
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        name: Detect secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: .*/tests/.*|.*\.lock$|.*\.sum$|.*yarn\.lock$
        description: "Detect secrets in staged code"

# Global exclusions
exclude: |
  (?x)(
    ^target/.*|
    ^desktop/node_modules/.*|
    ^desktop/dist/.*|
    ^desktop/src-tauri/target/.*|
    ^vendor/.*|
    .*\.rs\.bk$|
    ^\.cargo/.*|
    ^artifact/.*
  )

ci: add workspace permission fix for self-hosted runners
  .github/workflows/ci-pr.yml
Due: none

chore(validation): remove backup test files
  crates/terraphim_validation/tests/desktop_ui_integration_tests.rs.bak
  crates/terraphim_validation/tests/integration_tests.rs.bak
  crates/terraphim_validation/tests/server_api_basic_test.rs.bak
  crates/terraphim_validation/tests/server_api_integration_tests.rs.bak
Due: none

ci: add disk cleanup step to prevent disk full errors
  .github/workflows/ci-pr.yml
Due: none

fix: update Document constructors for new API
  crates/terraphim_agent/tests/integration_tests.rs
  crates/terraphim_agent/tests/web_operations_tests.rs
  crates/terraphim_atomic_client/tests/class_crud_generic.rs
  crates/terraphim_atomic_client/tests/integration_test.rs
  crates/terraphim_middleware/src/haystack/quickwit.rs
  crates/terraphim_validation/src/testing/server_api/fixtures.rs
Due: cargo-fmt, cargo-clippy

ci: add cargo clean before clippy to ensure fresh build
  .github/workflows/ci-pr.yml
Due: none

docs: add validation framework reports and documentation
  .docs/runtime-validation-hooks.md
  .docs/validation-report-validation-framework.md
  .docs/verification-report-validation-framework.md
  .docs/vmodel-final-report-validation-framework.md
  crates/terraphim_agent/tests/integration_tests.rs
  crates/terraphim_agent/tests/persistence_tests.rs
  crates/terraphim_agent/tests/web_operations_basic_tests.rs
  crates/terraphim_agent/tests/web_operations_tests.rs
  crates/terraphim_atomic_client/tests/class_crud_generic.rs
  crates/terraphim_atomic_client/tests/commit_test.rs
  crates/terraphim_atomic_client/tests/integration_test.rs
  crates/terraphim_middleware/src/haystack/quickwit.rs
  crates/terraphim_validation/crates/terraphim_settings/default/settings.toml
  crates/terraphim_validation/tests/desktop_ui_integration_tests.rs
  crates/terraphim_validation/tests/integration_tests.rs
  crates/terraphim_validation/tests/server_api_basic_test.rs
  crates/terraphim_validation/tests/server_api_integration_tests.rs
  terraphim_server/src/lib.rs
  validation-config.toml
Due: cargo-fmt, cargo-clippy

Clean up merge artifacts and broken tests
  Cargo.lock
  crates/terraphim_validation/tests/desktop_ui_integration_tests.rs.bak
  crates/terraphim_validation/tests/integration_tests.rs.bak
  crates/terraphim_validation/tests/server_api_basic_test.rs.bak
  crates/terraphim_validation/tests/server_api_integration_tests.rs.bak
Due: none

Update Cargo.lock and build artifacts after merge
  crates/terraphim_automata/Cargo.toml
Due: none

fix(spawner): remove needless borrow in spawn_process call
  crates/terraphim_spawner/src/lib.rs
Due: cargo-fmt, cargo-clippy

fix(server): remove duplicate helper functions, use inline logic
  terraphim_server/src/workflows/multi_agent_handlers.rs
Due: cargo-fmt, cargo-clippy

ci: simplify clippy step and add RUST_BACKTRACE (trigger rebuild)
  .github/workflows/ci-pr.yml
Due: none

fix(server): restore get_role_extra helper functions with proper doc comments
  terraphim_server/src/workflows/multi_agent_handlers.rs
Due: cargo-fmt, cargo-clippy

fix(server): fix doc_lazy_continuation clippy warnings
  terraphim_server/src/workflows/multi_agent_handlers.rs
Due: cargo-fmt, cargo-clippy

chore(deps): remove unused selenium-webdriver and novel-svelte
  desktop/package.json
  desktop/playwright.webdriver.config.ts
  desktop/src/svelte-shim.js
  desktop/tests/webdriver/kg-graph-playwright-webdriver.spec.ts
  desktop/tests/webdriver/kg-graph-simple-webdriver.spec.ts
  desktop/tests/webdriver/kg-graph-webdriver.spec.ts
  desktop/tests/webdriver/setup.ts
  desktop/tests/webdriver/teardown.ts
  desktop/vite.config.ts
Due: biome-check

refactor: replace atty with std::io::IsTerminal
  %1
  .docs/design-dependabot-merge-plan.md
  .docs/design-issue-658-atty-replacement.md
  .docs/design-pr-652-merge-conflict-resolution.md
  .docs/research-dependency-optimization.md
  .docs/research-issue-658-659-atty-fxhash.md
  .docs/research-pr-652-agent-workflows-e2e.md
  Cargo.lock
  crates/terraphim-session-analyzer/src/main.rs
  crates/terraphim_agent/Cargo.toml
  crates/terraphim_agent/src/main.rs
  crates/terraphim_agent/src/onboarding/wizard.rs
  crates/terraphim_atomic_client/test_signature/Cargo.toml
  crates/terraphim_atomic_client/test_signature/src/main.rs
Due: cargo-fmt, cargo-clippy

fix: update test files for axum-test 19.x API changes
  crates/terraphim_validation/src/testing/server_api/harness.rs
  terraphim_server/tests/agent_web_flows_test.rs
  terraphim_server/tests/ollama_api_test.rs
  terraphim_server/tests/workflow_e2e_tests.rs
Due: cargo-fmt, cargo-clippy

docs(config): update WebToolsConfig provider names
  crates/terraphim_tinyclaw/src/config.rs
Due: cargo-fmt, cargo-clippy

feat(tools): add from_config() to WebSearchTool
  crates/terraphim_tinyclaw/src/tools/web.rs
Due: cargo-fmt, cargo-clippy

feat(tools): add from_config() to WebFetchTool
  crates/terraphim_tinyclaw/src/tools/web.rs
Due: cargo-fmt, cargo-clippy

feat(tools): wire config through to web tools
  crates/terraphim_tinyclaw/src/main.rs
  crates/terraphim_tinyclaw/src/tools/mod.rs
Due: cargo-fmt, cargo-clippy

test(tools): add unit tests for from_config methods
  crates/terraphim_tinyclaw/src/tools/web.rs
Due: cargo-fmt, cargo-clippy

test(tools): add integration tests for config wiring
  crates/terraphim_tinyclaw/tests/config_wiring.rs
Due: cargo-fmt, cargo-clippy

feat(#589): wire WebToolsConfig to web search/fetch tools (#663)
  crates/terraphim_tinyclaw/src/config.rs
  crates/terraphim_tinyclaw/src/main.rs
  crates/terraphim_tinyclaw/src/tools/mod.rs
  crates/terraphim_tinyclaw/src/tools/web.rs
  crates/terraphim_tinyclaw/tests/config_wiring.rs
Due: cargo-fmt, cargo-clippy

feat(haystack): enable grepapp_haystack in workspace
  Cargo.lock
  Cargo.toml
  crates/terraphim_middleware/Cargo.toml
Due: none
