Repository terraphim/terraphim-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, biome-check

cargo-fmt:
  name: Cargo format check
  entry: cargo fmt --all -- --check
  language: system
  pass_filenames: false
  description: Check Rust code formatting with cargo fmt

cargo-clippy:
  name: Cargo clippy
  entry: cargo clippy --workspace --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false
  description: Run Rust linter with cargo clippy

biome-check:
  name: Biome lint and format check
  entry: bash -c 'cd desktop && npx @biomejs/biome check --write false --no-errors-on-unmatched'
  language: system
  pass_filenames: false
  description: Check JavaScript/TypeScript formatting and linting with Biome

fix: resolve API incompatibilities from PR merges
  Cargo.lock
  crates/terraphim_multi_agent/src/agent.rs
  crates/terraphim_multi_agent/src/agents/chat_agent.rs
  crates/terraphim_multi_agent/src/agents/summarization_agent.rs
  crates/terraphim_service/src/lib.rs
  crates/terraphim_service/src/llm.rs
  terraphim_server/Cargo.toml
  terraphim_server/src/api.rs
  terraphim_server/src/lib.rs
  terraphim_server/src/workflows/websocket.rs
Due: cargo-fmt, cargo-clippy

fix: resolve all remaining compilation errors
  Cargo.lock
  crates/terraphim_multi_agent/src/agent.rs
  crates/terraphim_multi_agent/src/agents/chat_agent.rs
  crates/terraphim_multi_agent/src/agents/summarization_agent.rs
  crates/terraphim_service/src/llm.rs
  terraphim_server/Cargo.toml
  terraphim_server/src/api.rs
  terraphim_server/src/lib.rs
  terraphim_server/src/workflows/multi_agent_handlers.rs
  terraphim_server/src/workflows/websocket.rs
Due: cargo-fmt, cargo-clippy

refactor: integrate rust-genai v0.3.5 for unified LLM client
  Cargo.toml
  crates/terraphim_goal_alignment/src/knowledge_graph.rs
  crates/terraphim_multi_agent/Cargo.toml
  crates/terraphim_multi_agent/src/genai_llm_client.rs
Due: cargo-fmt, cargo-clippy

fix: resolve test failures and compilation errors post-merge
  BIGBOX_DEPLOYMENT_PLAN.md
  crates/terraphim_goal_alignment/src/knowledge_graph.rs
  crates/terraphim_mcp_server/src/lib.rs
  crates/terraphim_tui/tests/replace_feature_tests.rs
  desktop/src/lib/ConfigWizard.svelte
  desktop/tests/e2e/config-wizard-complete.spec.ts
  docs/src/kg/PACKAGE_MANAGER_REPLACEMENT.md
  docs/src/kg/bun.md
  docs/src/kg/bun_install.md
Due: cargo-fmt, cargo-clippy, biome-check

fix: add missing lru dependency for Tauri desktop app
  desktop/src-tauri/Cargo.toml
Due: none

fix: resolve compilation errors and reduce warnings by 38%
  Cargo.lock
  WARNING_ANALYSIS_AND_PLAN.md
  crates/terraphim_agent_registry/src/discovery.rs
  crates/terraphim_agent_registry/src/knowledge_graph.rs
  crates/terraphim_agent_registry/src/matching.rs
  crates/terraphim_config/Cargo.toml
  crates/terraphim_config/examples/atomic_server_config.rs
  crates/terraphim_config/examples/multi_agent_atomic_server_config.rs
  crates/terraphim_mcp_server/tests/integration_test.rs
  crates/terraphim_middleware/tests/atomic_roles_e2e_test.rs
  crates/terraphim_persistence/Cargo.toml
  crates/terraphim_persistence/examples/simple_struct.rs
  terraphim_server/src/workflows/multi_agent_handlers.rs
  terraphim_server/src/workflows/optimization.rs
  terraphim_server/src/workflows/orchestration.rs
  terraphim_server/src/workflows/parallel.rs
  terraphim_server/src/workflows/vm_execution.rs
  terraphim_server/src/workflows/websocket.rs
Due: cargo-fmt, cargo-clippy

fix: resolve compilation errors and reduce warnings by 38%
  Cargo.lock
  WARNING_ANALYSIS_AND_PLAN.md
  crates/terraphim_agent_registry/src/discovery.rs
  crates/terraphim_agent_registry/src/knowledge_graph.rs
  crates/terraphim_agent_registry/src/matching.rs
  crates/terraphim_config/Cargo.toml
  crates/terraphim_config/examples/atomic_server_config.rs
  crates/terraphim_config/examples/multi_agent_atomic_server_config.rs
  crates/terraphim_mcp_server/tests/integration_test.rs
  crates/terraphim_middleware/tests/atomic_roles_e2e_test.rs
  crates/terraphim_persistence/Cargo.toml
  crates/terraphim_persistence/examples/simple_struct.rs
  terraphim_server/src/truthforge_api.rs
  terraphim_server/src/truthforge_context.rs
  terraphim_server/src/workflows/multi_agent_handlers.rs
  terraphim_server/src/workflows/optimization.rs
  terraphim_server/src/workflows/orchestration.rs
  terraphim_server/src/workflows/parallel.rs
  terraphim_server/src/workflows/vm_execution.rs
  terraphim_server/src/workflows/websocket.rs
Due: cargo-fmt, cargo-clippy

fix: resolve compilation errors and pass pre-commit checks
  crates/terraphim_agent_registry/benches/registry_benchmarks.rs
  crates/terraphim_agent_registry/src/capabilities.rs
  crates/terraphim_agent_registry/src/knowledge_graph.rs
  crates/terraphim_agent_registry/src/registry.rs
  crates/terraphim_agent_registry/tests/integration_tests.rs
  crates/terraphim_goal_alignment/benches/goal_alignment_benchmarks.rs
  crates/terraphim_goal_alignment/src/alignment.rs
  crates/terraphim_goal_alignment/src/conflicts.rs
  crates/terraphim_goal_alignment/src/goals.rs
  crates/terraphim_goal_alignment/src/knowledge_graph.rs
  crates/terraphim_goal_alignment/src/lib.rs
  crates/terraphim_goal_alignment/src/propagation.rs
  crates/terraphim_multi_agent/examples/agent_workflow_patterns.rs
  crates/terraphim_multi_agent/tests/context_tests.rs
  crates/terraphim_service/tests/force_real_llm_test.rs
  crates/terraphim_service/tests/llm_integration_test.rs
  crates/terraphim_service/tests/proof_summarization_works.rs
  crates/terraphim_service/tests/real_ollama_integration_test.rs
  terraphim_server/src/api.rs
  terraphim_server/src/workflows/multi_agent_handlers.rs
  terraphim_server/src/workflows/optimization.rs
  terraphim_server/src/workflows/orchestration.rs
  terraphim_server/src/workflows/websocket.rs
Due: cargo-fmt, cargo-clippy

fix: resolve compilation errors and pass pre-commit checks
  crates/terraphim_agent_registry/benches/registry_benchmarks.rs
  crates/terraphim_agent_registry/src/capabilities.rs
  crates/terraphim_agent_registry/src/knowledge_graph.rs
  crates/terraphim_agent_registry/src/registry.rs
  crates/terraphim_agent_registry/tests/integration_tests.rs
  crates/terraphim_goal_alignment/benches/goal_alignment_benchmarks.rs
  crates/terraphim_goal_alignment/src/alignment.rs
  crates/terraphim_goal_alignment/src/conflicts.rs
  crates/terraphim_goal_alignment/src/goals.rs
  crates/terraphim_goal_alignment/src/knowledge_graph.rs
  crates/terraphim_goal_alignment/src/lib.rs
  crates/terraphim_goal_alignment/src/propagation.rs
  crates/terraphim_multi_agent/examples/agent_workflow_patterns.rs
  crates/terraphim_multi_agent/tests/context_tests.rs
  crates/terraphim_service/tests/force_real_llm_test.rs
  crates/terraphim_service/tests/llm_integration_test.rs
  crates/terraphim_service/tests/proof_summarization_works.rs
  crates/terraphim_service/tests/real_ollama_integration_test.rs
  crates/terraphim_truthforge/src/agents/bias_detector.rs
  crates/terraphim_truthforge/src/agents/narrative_mapper.rs
  crates/terraphim_truthforge/src/agents/omission_detector.rs
  crates/terraphim_truthforge/src/agents/taxonomy_linker.rs
  crates/terraphim_truthforge/src/workflows/two_pass_debate.rs
  terraphim_server/src/api.rs
  terraphim_server/src/truthforge_context.rs
  terraphim_server/src/workflows/multi_agent_handlers.rs
  terraphim_server/src/workflows/optimization.rs
  terraphim_server/src/workflows/orchestration.rs
  terraphim_server/src/workflows/websocket.rs
Due: cargo-fmt, cargo-clippy

fix: Add openrouter case to GenAiLlmClient::from_config()
  crates/terraphim_multi_agent/src/genai_llm_client.rs
Due: cargo-fmt, cargo-clippy

fix: resolve critical test failures and type safety issues
  crates/terraphim_agent_registry/src/matching.rs
  crates/terraphim_agent_supervisor/src/agent.rs
  crates/terraphim_agent_supervisor/src/supervisor.rs
  desktop/src/__test-utils__/testServer.ts
  desktop/src/lib/Editor/NovelWrapper.svelte
  desktop/src/lib/Fetchers/FetchTabs.svelte
  desktop/src/lib/Search/LogicalOperators.test.ts
  desktop/src/workers/fetcher.worker.ts
  desktop/tests/e2e/agent-workflows.spec.ts
Due: cargo-fmt, cargo-clippy, biome-check

fix: import theme store to resolve Svelte 5 build error
  desktop/package-lock.json
  desktop/src/App.svelte
Due: biome-check

fix: downgrade Svelte to v4 for CI stability
  .github/workflows/frontend-build.yml
  desktop/package.json
Due: biome-check

Path conditions:
  cargo-fmt: any of: \.rs$, but not: (?x)(
  ^target/.*|
  ^desktop/node_modules/.*|
  ^desktop/dist/.*|
  ^desktop/src-tauri/target/.*|
  ^vendor/.*|
  .*\.rs\.bk$|
  ^\.cargo/.*|
  ^artifact/.*
)
  cargo-clippy: any of: \.rs$, but not: (?x)(
  ^target/.*|
  ^desktop/node_modules/.*|
  ^desktop/dist/.*|
  ^desktop/src-tauri/target/.*|
  ^vendor/.*|
  .*\.rs\.bk$|
  ^\.cargo/.*|
  ^artifact/.*
)
  biome-check: any of: desktop/.*\.(js|ts|tsx|jsx|json|jsonc)$, but not: (?x)(
  ^target/.*|
  ^desktop/node_modules/.*|
  ^desktop/dist/.*|
  ^desktop/src-tauri/target/.*|
  ^vendor/.*|
  .*\.rs\.bk$|
  ^\.cargo/.*|
  ^artifact/.*
)
