Repository terraphim/terraphim-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, biome-check

cargo-fmt:
  name: Cargo format check
  entry: cargo fmt --all -- --check
  language: system
  pass_filenames: false
  description: Check Rust code formatting with cargo fmt

cargo-clippy:
  name: Cargo clippy
  entry: cargo clippy --workspace --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false
  description: Run Rust linter with cargo clippy

biome-check:
  name: Biome lint and format check
  entry: bash -c 'cd desktop && npx @biomejs/biome check --write false --no-errors-on-unmatched'
  language: system
  pass_filenames: false
  description: Check JavaScript/TypeScript formatting and linting with Biome

test: add comprehensive Phase 6 integration tests and final report
  FINAL_TEST_REPORT.md
  crates/terraphim_mcp_server/tests/test_integration_e2e.rs
Due: cargo-fmt, cargo-clippy

docs: add comprehensive test proof for entire implementation
  COMPREHENSIVE_TEST_PROOF.md
Due: none

test: add executable end-to-end demonstration script
  PROJECT_COMPLETE.md
  USAGE_DEMO.md
  demo/e2e_demo.sh
Due: none

test: add live LLM code generation test with Ollama
  crates/terraphim_multi_agent/tests/test_llm_code_generation.rs
Due: cargo-fmt, cargo-clippy

fix: resolve pre-existing compilation errors with feature gates
  crates/terraphim_multi_agent/tests/agent_creation_tests.rs
  crates/terraphim_multi_agent/tests/integration_proof.rs
  crates/terraphim_multi_agent/tests/tracking_tests.rs
  crates/terraphim_persistence/examples/simple_struct.rs
  crates/terraphim_tui/tests/command_system_integration_tests.rs
  crates/terraphim_tui/tests/enhanced_search_tests.rs
  crates/terraphim_tui/tests/execution_mode_tests.rs
  crates/terraphim_tui/tests/vm_api_tests.rs
  crates/terraphim_tui/tests/vm_functionality_tests.rs
  crates/terraphim_tui/tests/vm_management_tests.rs
  repl_tui_ai_coding_assistant_history.txt
Due: cargo-fmt, cargo-clippy

fix: resolve 4 pre-existing test failures in terraphim_multi_agent
  crates/terraphim_multi_agent/src/agent.rs
  crates/terraphim_multi_agent/src/pool.rs
  crates/terraphim_multi_agent/src/vm_execution/code_extractor.rs
  crates/terraphim_multi_agent/src/vm_execution/config_helpers.rs
Due: cargo-fmt, cargo-clippy

feat(tui): add Ctrl-G external editor integration to REPL
  crates/terraphim_tui/Cargo.toml
  crates/terraphim_tui/src/repl/handler.rs
Due: cargo-fmt, cargo-clippy

docs: add final comprehensive proof with all test execution results
  FINAL_COMPREHENSIVE_PROOF.md
Due: none

Add terraphim_mcp_proxy crate for MCP server aggregation (Phase 1)
  Cargo.lock
  crates/terraphim_mcp_proxy/Cargo.toml
  crates/terraphim_mcp_proxy/src/lib.rs
  crates/terraphim_mcp_proxy/src/namespace.rs
  crates/terraphim_mcp_proxy/src/pool.rs
  crates/terraphim_mcp_proxy/src/proxy.rs
  crates/terraphim_mcp_proxy/src/routing.rs
Due: cargo-fmt, cargo-clippy

Integrate MCP proxy with terraphim_config
  Cargo.lock
  crates/terraphim_config/Cargo.toml
  crates/terraphim_config/src/lib.rs
  crates/terraphim_mcp_proxy/Cargo.toml
  crates/terraphim_mcp_proxy/src/lib.rs
  crates/terraphim_mcp_proxy/src/namespace.rs
  crates/terraphim_mcp_proxy/src/pool.rs
  crates/terraphim_mcp_proxy/src/routing.rs
Due: cargo-fmt, cargo-clippy

Add MCP namespace configuration examples
  examples/MCP_NAMESPACE_README.md
  examples/mcp_namespace_config.json
Due: none

Add MCP namespace integration to middleware
  Cargo.lock
  crates/terraphim_mcp_proxy/src/namespace.rs
  crates/terraphim_mcp_proxy/src/pool.rs
  crates/terraphim_middleware/Cargo.toml
  crates/terraphim_middleware/src/lib.rs
  crates/terraphim_middleware/src/mcp_namespace.rs
Due: cargo-fmt, cargo-clippy

feat: implement MCP endpoint management and authentication (Phase 2)
  Cargo.lock
  crates/terraphim_persistence/Cargo.toml
  crates/terraphim_persistence/src/lib.rs
  crates/terraphim_persistence/src/mcp.rs
  terraphim_server/Cargo.toml
  terraphim_server/src/api_mcp.rs
  terraphim_server/src/lib.rs
  terraphim_server/src/mcp_auth.rs
Due: cargo-fmt, cargo-clippy

feat: implement tool management, discovery, and middleware system (Phase 3)
  Cargo.lock
  crates/terraphim_mcp_proxy/src/lib.rs
  crates/terraphim_mcp_proxy/src/middleware.rs
  crates/terraphim_mcp_proxy/src/namespace.rs
  crates/terraphim_middleware/Cargo.toml
  crates/terraphim_middleware/src/lib.rs
  crates/terraphim_middleware/src/tool_discovery.rs
  crates/terraphim_persistence/src/mcp.rs
Due: cargo-fmt, cargo-clippy

Add Phase 4 MCP features: audit trail, namespace visibility, health endpoints
  Cargo.lock
  crates/terraphim_mcp_proxy/Cargo.toml
  crates/terraphim_mcp_proxy/src/middleware.rs
  crates/terraphim_persistence/src/mcp.rs
  terraphim_server/src/api_mcp.rs
  terraphim_server/src/lib.rs
Due: cargo-fmt, cargo-clippy

Add REST API wrapper for MCP tools execution
  Cargo.lock
  terraphim_server/Cargo.toml
  terraphim_server/src/api_mcp_tools.rs
  terraphim_server/src/lib.rs
Due: cargo-fmt, cargo-clippy

Add OpenAPI documentation for MCP tool endpoints
  Cargo.lock
  terraphim_server/Cargo.toml
  terraphim_server/src/api_mcp_openapi.rs
  terraphim_server/src/api_mcp_tools.rs
  terraphim_server/src/lib.rs
Due: cargo-fmt, cargo-clippy

fix: Add shared MCP persistence to AppState for data consistency
  terraphim_server/src/api_mcp.rs
  terraphim_server/src/api_mcp_tools.rs
  terraphim_server/src/lib.rs
  terraphim_server/src/mcp_auth.rs
  test_mcp_e2e.sh
Due: cargo-fmt, cargo-clippy

Implement TDD authentication middleware for MCP endpoints
  terraphim_server/src/api.rs
  terraphim_server/src/lib.rs
  terraphim_server/src/mcp_auth.rs
  terraphim_server/tests/mcp_auth_tests.rs
Due: cargo-fmt, cargo-clippy

CRITICAL SECURITY FIX: Apply authentication to production MCP routes
  terraphim_server/src/lib.rs
  terraphim_server/src/mcp_auth.rs
  terraphim_server/tests/mcp_auth_tests.rs
Due: cargo-fmt, cargo-clippy

chore(release): bump version to 1.0.0 and configure Tauri signing
  desktop/package.json
  desktop/src-tauri/Cargo.toml
  desktop/src-tauri/tauri.conf.json
Due: biome-check

fix(ci): resolve GitHub Actions workflow failures
  .cargo/config.toml
  desktop/package.json
Due: biome-check

fix(build): add SCSS preprocessing and suppress dependency warnings
  desktop/package.json
  desktop/vite.config.ts
  desktop/yarn.lock
Due: biome-check

chore: prepare for v1.0.0 release - update docs and dependencies
  .docs/summary-CLAUDE.md
  .docs/summary-CONTRIBUTING.md
  .docs/summary-Cargo.toml
  .docs/summary-README.md
  .docs/summary-TESTING_SCRIPTS_README.md
  .docs/summary-lessons-learned.md
  .docs/summary-memories.md
  .docs/summary-scratchpad.md
  .docs/summary.md
  .reports/ACCOMPLISHMENTS_SUMMARY.md
  .reports/CI_FIX_APPLIED.md
  .reports/FINAL_COMPREHENSIVE_STATUS.md
  .reports/GITHUB_ACTIONS_FIX_PLAN.md
  .reports/GITHUB_SECRET_SETUP.md
  .reports/RELEASE_STATUS_FINAL.md
  .reports/RELEASE_v1.0.0_NOTES.md
  .reports/tauri_keys.txt
  CLAUDE.md
  Cargo.lock
  terraphim_server/dist/assets/fa-brands-400-BfBXV7Mm.woff2
  terraphim_server/dist/assets/fa-regular-400-BVHPE7da.woff2
  terraphim_server/dist/assets/fa-solid-900-8GirhLYJ.woff2
  terraphim_server/dist/assets/fetcher.worker-CGgzh86u.js
  terraphim_server/dist/assets/fetcher.worker-Do-Ky5LF.js
  terraphim_server/dist/assets/fs-CRJ3ZtCH.js
  terraphim_server/dist/assets/index-B2LZcBlG.js
  terraphim_server/dist/assets/index-CdtRDMtH.css
  terraphim_server/dist/assets/vanilla-picker-B6E6ObS_.js
  terraphim_server/dist/assets/vendor-atomic-CmRQlhXN.js
  terraphim_server/dist/assets/vendor-atomic-DmgjdUkF.css
  terraphim_server/dist/assets/vendor-editor-j87ROi5W.css
  terraphim_server/dist/assets/vendor-ui-CSKub_21.js
  terraphim_server/dist/assets/vendor-ui-sXVIrMQW.css
  terraphim_server/dist/assets/vendor-utils-CKg6JIBy.js
  terraphim_server/dist/index.html
Due: none

feat: sync full QueryRs implementation from private repo
  .reports/DEAD_CODE_INVESTIGATION.md
  crates/terraphim_agent_evolution/src/workflows/parallelization.rs
  crates/terraphim_middleware/src/haystack/query_rs.rs
  crates/terraphim_settings/src/lib.rs
Due: cargo-fmt, cargo-clippy

feat: comprehensive functional validation and html2md fix
  .reports/FUNCTIONAL_VALIDATION_REPORT.md
  .reports/STEP_BY_STEP_VALIDATION.md
  crates/terraphim_middleware/Cargo.toml
Due: none

fix: sync TUI implementation from private repo and fix panic strategy for release builds
  .reports/FINAL_VALIDATION_STATUS.md
  Cargo.toml
  crates/terraphim_tui/src/lib.rs
  crates/terraphim_tui/src/repl/commands.rs
  crates/terraphim_tui/src/repl/handler.rs
  crates/terraphim_tui/src/repl/mod.rs
  server.log
Due: cargo-fmt, cargo-clippy

Path conditions:
  cargo-fmt: any of: \.rs$, but not: (?x)(
  ^target/.*|
  ^desktop/node_modules/.*|
  ^desktop/dist/.*|
  ^desktop/src-tauri/target/.*|
  ^vendor/.*|
  .*\.rs\.bk$|
  ^\.cargo/.*|
  ^artifact/.*
)
  cargo-clippy: any of: \.rs$, but not: (?x)(
  ^target/.*|
  ^desktop/node_modules/.*|
  ^desktop/dist/.*|
  ^desktop/src-tauri/target/.*|
  ^vendor/.*|
  .*\.rs\.bk$|
  ^\.cargo/.*|
  ^artifact/.*
)
  biome-check: any of: desktop/.*\.(js|ts|tsx|jsx|json|jsonc)$, but not: (?x)(
  ^target/.*|
  ^desktop/node_modules/.*|
  ^desktop/dist/.*|
  ^desktop/src-tauri/target/.*|
  ^vendor/.*|
  .*\.rs\.bk$|
  ^\.cargo/.*|
  ^artifact/.*
)
