Repository terraphim/terraphim-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, biome-check

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
# This configuration works with pre-commit, prek, and other compatible tools

repos:
  # General code quality hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        name: Trim trailing whitespace
      - id: end-of-file-fixer
        name: Fix end of files
      - id: check-yaml
        name: Check YAML syntax
      - id: check-toml
        name: Check TOML syntax
      - id: check-json
        name: Check JSON syntax
      - id: check-case-conflict
        name: Check for case conflicts
      - id: check-merge-conflict
        name: Check for merge conflicts
      - id: debug-statements
        name: Check for debug statements
      - id: detect-private-key
        name: Detect private keys
      - id: check-added-large-files
        name: Check for large files
        args: ['--maxkb=1000']

  # Rust-specific hooks
  - repo: local
    hooks:
      - id: cargo-fmt
        name: Cargo format check
        entry: cargo fmt --all -- --check
        language: system
        types: [rust]
        pass_filenames: false
        description: "Check Rust code formatting with cargo fmt"

      - id: cargo-clippy
        name: Cargo clippy
        entry: cargo clippy --workspace --all-targets --all-features -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false
        description: "Run Rust linter with cargo clippy"

      - id: cargo-test
        name: Cargo test
        entry: cargo test --workspace
        language: system
        types: [rust]
        pass_filenames: false
        stages: [manual]
        description: "Run Rust tests (manual stage)"

      - id: cargo-audit
        name: Cargo audit
        entry: cargo audit
        language: system
        pass_filenames: false
        stages: [manual]
        description: "Check for known security vulnerabilities (manual stage)"

  # JavaScript/TypeScript with Biome
  - repo: local
    hooks:
      - id: biome-check
        name: Biome lint and format check
        entry: bash -c 'cd desktop && npx @biomejs/biome check --write false --no-errors-on-unmatched'
        language: system
        files: 'desktop/.*\.(js|ts|tsx|jsx|json|jsonc)$'
        pass_filenames: false
        description: "Check JavaScript/TypeScript formatting and linting with Biome"

      - id: biome-format
        name: Biome format
        entry: bash -c 'cd desktop && npx @biomejs/biome format --write --no-errors-on-unmatched'
        language: system
        files: 'desktop/.*\.(js|ts|tsx|jsx|json|jsonc)$'
        pass_filenames: false
        stages: [manual]
        description: "Auto-format JavaScript/TypeScript with Biome (manual stage)"

  # Conventional commits validation
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v3.0.0
    hooks:
      - id: conventional-pre-commit
        name: Conventional commit format
        stages: [commit-msg]
        args: [
          "--strict",
          "--scopes=feat,fix,docs,style,refactor,perf,test,chore,build,ci,revert"
        ]
        description: "Enforce conventional commit message format"

  # Secret detection
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        name: Detect secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: .*/tests/.*|.*\.lock$|.*\.sum$|.*yarn\.lock$
        description: "Detect secrets in staged code"

# Global exclusions
exclude: |
  (?x)(
    ^target/.*|
    ^desktop/node_modules/.*|
    ^desktop/dist/.*|
    ^desktop/src-tauri/target/.*|
    ^vendor/.*|
    .*\.rs\.bk$|
    ^\.cargo/.*|
    ^artifact/.*
  )

feat(tui): integrate terraphim-automata for enhanced command discovery
  crates/terraphim_tui/Cargo.toml
  crates/terraphim_tui/src/commands/mod.rs
  crates/terraphim_tui/src/commands/registry.rs
Due: cargo-fmt, cargo-clippy

feat(tui): add comprehensive term extraction to markdown parser
  crates/terraphim_tui/src/commands/markdown_parser.rs
Due: cargo-fmt, cargo-clippy

feat(tui): integrate terraphim-automata for enhanced markdown parsing and command discovery
  Cargo.lock
  crates/terraphim_config/tests/desktop_config_validation_test.rs
  crates/terraphim_kg_orchestration/src/supervision.rs
  crates/terraphim_multi_agent/Cargo.toml
  crates/terraphim_service/tests/llm_proxy_integration_test.rs
  crates/terraphim_tui/src/commands/markdown_parser.rs
  crates/terraphim_tui/src/commands/registry.rs
  crates/terraphim_tui/src/commands/tests.rs
  crates/terraphim_tui/src/repl/commands.rs
  crates/terraphim_tui/tests/web_operations_tests.rs
  scripts/ci-check-rust.sh
Due: cargo-fmt, cargo-clippy

fix(tui): resolve markdown parsing and keyword extraction test failures
  crates/terraphim_tui/src/commands/markdown_parser.rs
  crates/terraphim_tui/src/commands/registry.rs
Due: cargo-fmt, cargo-clippy

fix(tui): complete terraphim automata learning system fixes
  crates/terraphim_tui/src/commands/markdown_parser.rs
  crates/terraphim_tui/src/commands/registry.rs
Due: cargo-fmt, cargo-clippy

feat: Add comprehensive E2E testing for all 5 roles with duplicate handling analysis
  TEST_IMPLEMENTATION_REPORT.md
  crates/haystack_grepapp/src/lib.rs
  crates/haystack_grepapp/src/models.rs
  crates/haystack_grepapp/tests/integration_test.rs
  crates/terraphim_config/tests/desktop_config_validation_test.rs
  crates/terraphim_middleware/src/haystack/grep_app.rs
  crates/terraphim_middleware/src/indexer/mod.rs
  desktop/tests/e2e/duplicate-handling.spec.ts
  desktop/tests/e2e/performance-validation-all-roles.spec.ts
  docs/duplicate-handling.md
  terraphim_server/tests/default_role_integration_test.rs
  terraphim_server/tests/frontend_engineer_integration_test.rs
  terraphim_server/tests/python_engineer_integration_test.rs
  terraphim_server/tests/relevance_functions_duplicate_test.rs
  terraphim_server/tests/rust_engineer_enhanced_integration_test.rs
Due: cargo-fmt, cargo-clippy, biome-check

fix(tests): resolve failing LLM proxy and thesaurus persistence tests
  crates/terraphim_service/src/lib.rs
  crates/terraphim_service/tests/llm_proxy_integration_test.rs
  crates/terraphim_service/tests/thesaurus_persistence_test.rs
  desktop/src-tauri/tests/thesaurus_prewarm_test.rs
Due: cargo-fmt, cargo-clippy

style: Fix formatting in terraphim_agent test files
  crates/terraphim_agent/tests/file_operations_basic_tests.rs
  crates/terraphim_agent/tests/web_operations_basic_tests.rs
Due: cargo-fmt, cargo-clippy

refactor: Migrate replace_with_links to use Rust convenience function
  crates/terraphim_automata_py/src/lib.rs
Due: cargo-fmt, cargo-clippy

feat: Add index serialization and complete API migration
  crates/terraphim_automata_py/python/terraphim_automata/__init__.pyi
  crates/terraphim_automata_py/python/tests/test_autocomplete.py
  crates/terraphim_automata_py/src/lib.rs
Due: cargo-fmt, cargo-clippy

docs: Convert ASCII diagrams to Mermaid format for GitHub compatibility
  PR_277_CODE_ASSISTANT_SUMMARY.md
  docs/src/code-assistant-implementation.md
Due: none

Create and Configure New Project (#302)
  PR_277_CODE_ASSISTANT_SUMMARY.md
  docs/src/SUMMARY.md
  docs/src/code-assistant-implementation.md
Due: none

feat(desktop): Migrate all Svelte components to Svelte 5 runes syntax
  desktop/src/App.svelte
  desktop/src/lib/BackButton.svelte
  desktop/src/lib/Chat/Chat.svelte
  desktop/src/lib/Chat/ContextEditModal.svelte
  desktop/src/lib/Chat/SessionList.svelte
  desktop/src/lib/Chat/__tests__/ContextManagementHarness.svelte
  desktop/src/lib/Cli.svelte
  desktop/src/lib/Communication.svelte
  desktop/src/lib/ConfigJsonEditor.svelte
  desktop/src/lib/ConfigWizard.svelte
  desktop/src/lib/Editor/NovelWrapper.svelte
  desktop/src/lib/Fetchers/FetchRole.svelte
  desktop/src/lib/Fetchers/FetchTabs.svelte
  desktop/src/lib/RoleGraphVisualization.svelte
  desktop/src/lib/Search/ArticleModal.svelte
  desktop/src/lib/Search/AtomicSaveModal.svelte
  desktop/src/lib/Search/KGContextItem.svelte
  desktop/src/lib/Search/KGSearchInput.svelte
  desktop/src/lib/Search/KGSearchModal.svelte
  desktop/src/lib/Search/ResultItem.svelte
  desktop/src/lib/Search/Search.svelte
  desktop/src/lib/Search/TermChip.svelte
  desktop/src/lib/Shortcuts.svelte
  desktop/src/lib/StartupScreen.svelte
  desktop/src/lib/ThemeSwitcher.svelte
Due: none

feat: Add Code Execution with MCP specification and implementation plan
  CODE_EXECUTION_MCP_GAP_ANALYSIS.md
  CODE_EXECUTION_MCP_IMPLEMENTATION_PLAN.md
  CODE_EXECUTION_MCP_SUMMARY.md
  CODE_EXECUTION_WITH_MCP_SPEC.md
Due: none

Add Terraphim evaluation check design document
  docs/specifications/terraphim-codebase-eval-check.md
Due: none
