Repository terraphim/terraphim-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, biome-check

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
# This configuration works with pre-commit, prek, and other compatible tools

repos:
  # General code quality hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        name: Trim trailing whitespace
      - id: end-of-file-fixer
        name: Fix end of files
      - id: check-yaml
        name: Check YAML syntax
      - id: check-toml
        name: Check TOML syntax
      - id: check-json
        name: Check JSON syntax
      - id: check-case-conflict
        name: Check for case conflicts
      - id: check-merge-conflict
        name: Check for merge conflicts
      - id: debug-statements
        name: Check for debug statements
      - id: detect-private-key
        name: Detect private keys
      - id: check-added-large-files
        name: Check for large files
        args: ['--maxkb=1000']

  # Rust-specific hooks
  - repo: local
    hooks:
      - id: cargo-fmt
        name: Cargo format check
        entry: cargo fmt --all -- --check
        language: system
        types: [rust]
        pass_filenames: false
        description: "Check Rust code formatting with cargo fmt"

      - id: cargo-clippy
        name: Cargo clippy
        entry: cargo clippy --workspace --all-targets --all-features -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false
        description: "Run Rust linter with cargo clippy"

      - id: cargo-test
        name: Cargo test
        entry: cargo test --workspace
        language: system
        types: [rust]
        pass_filenames: false
        stages: [manual]
        description: "Run Rust tests (manual stage)"

      - id: cargo-audit
        name: Cargo audit
        entry: cargo audit
        language: system
        pass_filenames: false
        stages: [manual]
        description: "Check for known security vulnerabilities (manual stage)"

  # JavaScript/TypeScript with Biome
  - repo: local
    hooks:
      - id: biome-check
        name: Biome lint and format check
        entry: bash -c 'cd desktop && npx @biomejs/biome check --write false --no-errors-on-unmatched'
        language: system
        files: 'desktop/.*\.(js|ts|tsx|jsx|json|jsonc)$'
        pass_filenames: false
        description: "Check JavaScript/TypeScript formatting and linting with Biome"

      - id: biome-format
        name: Biome format
        entry: bash -c 'cd desktop && npx @biomejs/biome format --write --no-errors-on-unmatched'
        language: system
        files: 'desktop/.*\.(js|ts|tsx|jsx|json|jsonc)$'
        pass_filenames: false
        stages: [manual]
        description: "Auto-format JavaScript/TypeScript with Biome (manual stage)"

  # Conventional commits validation
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v3.0.0
    hooks:
      - id: conventional-pre-commit
        name: Conventional commit format
        stages: [commit-msg]
        args: [
          "--strict",
          "--scopes=feat,fix,docs,style,refactor,perf,test,chore,build,ci,revert"
        ]
        description: "Enforce conventional commit message format"

  # Secret detection
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        name: Detect secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: .*/tests/.*|.*\.lock$|.*\.sum$|.*yarn\.lock$
        description: "Detect secrets in staged code"

# Global exclusions
exclude: |
  (?x)(
    ^target/.*|
    ^desktop/node_modules/.*|
    ^desktop/dist/.*|
    ^desktop/src-tauri/target/.*|
    ^vendor/.*|
    .*\.rs\.bk$|
    ^\.cargo/.*|
    ^artifact/.*
  )

style: fix clippy warnings and compilation errors
  crates/terraphim_mcp_server/tests/desktop_mcp_integration.rs
  crates/terraphim_mcp_server/tests/integration_test.rs
  crates/terraphim_mcp_server/tests/mcp_autocomplete_e2e_test.rs
  crates/terraphim_mcp_server/tests/mcp_rolegraph_validation_test.rs
  crates/terraphim_mcp_server/tests/test_all_mcp_tools.rs
  crates/terraphim_mcp_server/tests/test_mcp_fixes_validation.rs
  crates/terraphim_mcp_server/tests/test_tools_list.rs
  crates/terraphim_service/logical_operators_test.rs.disabled
  crates/terraphim_tui/src/repl/chat.rs
  crates/terraphim_tui/src/repl/commands.rs
  crates/terraphim_tui/src/repl/handler.rs
  crates/terraphim_tui/src/repl/mcp_tools.rs
  crates/terraphim_tui/tests/integration_test.rs
  crates/terraphim_tui/tests/integration_tests.rs
  crates/terraphim_tui/tests/persistence_tests.rs
  crates/terraphim_tui/tests/server_mode_tests.rs
  desktop/src-tauri/tests/cmd_tests.rs
  desktop/src-tauri/tests/terraphim_engineer_role_functionality_test.rs
  precommit_output.txt
  terraphim_server/dist/assets/index-9ad8b7ea.js
  terraphim_server/dist/assets/vendor-editor-992829d3.js
  terraphim_server/dist/assets/vendor-ui-cd3d2b6a.js
  terraphim_server/dist/index.html
  terraphim_server/dist/splashscreen.html
  terraphim_server/dist/splashscreen.js
  terraphim_server/tests/openrouter_api_test.rs
Due: cargo-fmt, cargo-clippy

feat: add visual AND/OR operator controls to search
  desktop/src/lib/Search/Search.svelte
  desktop/src/lib/Search/Search.test.ts
  desktop/src/lib/Search/searchUtils.ts
Due: biome-check

fix: AND/OR logical operators in search functionality
  @lessons-learned.md
  @memories.md
  @scratchpad.md
  crates/terraphim_service/src/lib.rs
  crates/terraphim_service/tests/logical_operators_fix_validation_test.rs
  crates/terraphim_types/src/lib.rs
  desktop/src/lib/Search/LogicalOperatorsFix.test.ts
  desktop/src/lib/Search/Search.svelte
  terraphim_server/dist/index.html
Due: cargo-fmt, cargo-clippy, biome-check

fix: resolve Novel editor mock autocomplete issue
  desktop/src/lib/Editor/NovelWrapper.svelte
  desktop/src/lib/Search/AutocompleteOperators.test.ts
  desktop/src/lib/Search/searchUtils.ts
  desktop/src/lib/services/novelAutocompleteService.ts
Due: biome-check

feat: add Novel Editor autocomplete with TipTap integration
  TESTING_SCRIPTS_README.md
  desktop/NOVEL_AUTOCOMPLETE_FIXES.md
  desktop/package-lock.json
  desktop/package.json
  desktop/src-tauri/src/cmd.rs
  desktop/src/lib/Editor/NovelWrapper.svelte
  desktop/src/lib/Editor/TerraphimSuggestion.ts
  desktop/src/lib/config/autocomplete.ts
  desktop/src/lib/services/novelAutocompleteService.ts
  desktop/test-novel-autocomplete-integration.js
  desktop/tests/README.md
  desktop/tests/e2e/helpers/autocomplete-helpers.ts
  desktop/tests/e2e/novel-autocomplete.spec.ts
  desktop/tests/fixtures/autocomplete-fixtures.ts
  desktop/tests/global-setup-autocomplete.ts
  desktop/tests/global-teardown-autocomplete.ts
  desktop/tests/playwright-autocomplete.config.ts
  desktop/yarn.lock
  quick-start-autocomplete.sh
  start-autocomplete-test.sh
  stop-autocomplete-test.sh
  terraphim_server/src/api.rs
Due: cargo-fmt, cargo-clippy, biome-check

fix: resolve Novel editor autocomplete returning HTML instead of JSON
  crates/terraphim_mcp_server/Cargo.toml
  crates/terraphim_mcp_server/tests/mcp_autocomplete_e2e_test.rs
  crates/terraphim_mcp_server/tests/mcp_rolegraph_validation_test.rs
  crates/terraphim_middleware/tests/atlassian_ripgrep_integration.rs
  crates/terraphim_middleware/tests/atomic_haystack_config_integration.rs
  crates/terraphim_middleware/tests/atomic_roles_e2e_test.rs
  crates/terraphim_middleware/tests/clickup_config_serialization_test.rs
  crates/terraphim_middleware/tests/clickup_haystack_test.rs
  crates/terraphim_middleware/tests/mcp_haystack_test.rs
  crates/terraphim_middleware/tests/ripgrep.rs
  crates/terraphim_middleware/tests/rolegraph_knowledge_graph_ranking_test.rs
  crates/terraphim_service/crates/terraphim_settings/default/settings.toml
  crates/terraphim_service/src/lib.rs
  crates/terraphim_service/terraphim_server/fixtures/haystack/test-kg-demo.md
  crates/terraphim_service/tests/kg_preprocessing_test.rs
  desktop/src/lib/Editor/NovelWrapper.svelte
  desktop/src/lib/services/novelAutocompleteService.ts
  desktop/tests/e2e/kg-links-visibility.spec.ts
  terraphim_server/dist/assets/index-0ec273a1.css
  terraphim_server/dist/assets/index-0f5733ba.js
  terraphim_server/dist/assets/index-9ad8b7ea.js
  terraphim_server/dist/assets/novel-editor-c665f5c2.js
  terraphim_server/dist/assets/vendor-editor-992829d3.js
  terraphim_server/dist/assets/vendor-ui-cd3d2b6a.js
  terraphim_server/dist/index.html
  terraphim_server/dist/splashscreen.html
  terraphim_server/dist/splashscreen.js
Due: cargo-fmt, cargo-clippy, biome-check

fix: resolve context UI visibility and feedback issues
  crates/terraphim_service/src/context.rs
  crates/terraphim_service/src/context_tests.rs
  desktop/src-tauri/src/cmd.rs
  desktop/src/lib/Chat/Chat.svelte
  desktop/src/lib/Search/ResultItem.svelte
  desktop/tests/e2e/context-management.spec.ts
  desktop/tests/e2e/performance-stress.spec.ts
  desktop/tests/e2e/workflow-integration.spec.ts
  desktop/tests/global-setup-context.ts
  desktop/tests/global-teardown-context.ts
  desktop/tests/helpers/context-helpers.ts
  desktop/tests/playwright-context.config.ts
  desktop/tests/test-runner-config.ts
  terraphim_server/dist/assets/index-2b50622a.js
  terraphim_server/dist/assets/index-d6be09f9.css
  terraphim_server/dist/assets/index-f0ee2ac6.js
  terraphim_server/dist/index.html
  terraphim_server/src/api.rs
  terraphim_server/tests/api_context_tests.rs
  test_operators_debug.rs
Due: cargo-fmt, cargo-clippy, biome-check

fix: resolve all pre-commit issues except minor formatting differences
  desktop/src-tauri/src/cmd.rs
  desktop/src-tauri/tests/tauri_context_tests.rs
  terraphim_server/dist/assets/index-2b50622a.js
Due: cargo-fmt, cargo-clippy

fix: resolve clippy warnings in test files
  crates/terraphim_config/src/lib.rs
  crates/terraphim_middleware/tests/atlassian_ripgrep_integration.rs
  crates/terraphim_middleware/tests/atomic_document_import_test.rs.bak
  crates/terraphim_middleware/tests/atomic_haystack.rs.bak
  crates/terraphim_middleware/tests/atomic_haystack_config_integration.rs.bak
  crates/terraphim_middleware/tests/atomic_roles_e2e_test.rs.bak
  crates/terraphim_middleware/tests/clickup_config_serialization_test.rs
  crates/terraphim_middleware/tests/clickup_haystack_test.rs
  crates/terraphim_middleware/tests/mcp_haystack_test.rs
  crates/terraphim_middleware/tests/ripgrep.rs
  crates/terraphim_middleware/tests/rolegraph_knowledge_graph_ranking_test.rs
  crates/terraphim_service/tests/kg_preprocessing_test.rs
Due: cargo-fmt, cargo-clippy

chore: run formatting and linting checks
  crates/terraphim_service/src/lib.rs
  terraphim_server/dist/assets/index-0f5733ba.js
  terraphim_server/dist/assets/index-edaf7e05.js
  terraphim_server/dist/index.html
Due: cargo-fmt, cargo-clippy

fix: apply comprehensive cargo fmt formatting fixes
  crates/terraphim_service/src/context.rs
  crates/terraphim_service/src/context_tests.rs
Due: cargo-fmt, cargo-clippy

fix: resolve Novel editor autocomplete issues in Tauri mode
  desktop/package.json
  desktop/src/lib/Editor/NovelWrapper.svelte
  desktop/src/lib/Editor/TerraphimSuggestion.ts
  desktop/src/lib/services/novelAutocompleteService.ts
  desktop/yarn.lock
Due: biome-check

fix: exclude JS files and dist folders from whitespace checks
  crates/terraphim_service/src/context_tests.rs
  crates/terraphim_types/src/lib.rs
  terraphim_server/dist/assets/index-2b50622a.js
  terraphim_server/dist/assets/index-ec939c26.js
  terraphim_server/dist/assets/novel-editor-becefd2f.js
  terraphim_server/dist/assets/vendor-editor-992829d3.js
  terraphim_server/dist/assets/vendor-ui-cd3d2b6a.js
  terraphim_server/dist/index.html
  terraphim_server/dist/splashscreen.html
  terraphim_server/dist/splashscreen.js
  terraphim_server/src/api.rs
  terraphim_server/src/lib.rs
  terraphim_server/tests/api_context_tests.rs
Due: cargo-fmt, cargo-clippy
