Repository terraphim/terraphim-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, biome-check

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
# This configuration works with pre-commit, prek, and other compatible tools

repos:
  # General code quality hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        name: Trim trailing whitespace
      - id: end-of-file-fixer
        name: Fix end of files
      - id: check-yaml
        name: Check YAML syntax
      - id: check-toml
        name: Check TOML syntax
      - id: check-json
        name: Check JSON syntax
      - id: check-case-conflict
        name: Check for case conflicts
      - id: check-merge-conflict
        name: Check for merge conflicts
      - id: debug-statements
        name: Check for debug statements
      - id: detect-private-key
        name: Detect private keys
      - id: check-added-large-files
        name: Check for large files
        args: ['--maxkb=1000']

  # Rust-specific hooks
  - repo: local
    hooks:
      - id: cargo-fmt
        name: Cargo format check
        entry: cargo fmt --all -- --check
        language: system
        types: [rust]
        pass_filenames: false
        description: "Check Rust code formatting with cargo fmt"

      - id: cargo-clippy
        name: Cargo clippy
        entry: cargo clippy --workspace --all-targets --all-features -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false
        description: "Run Rust linter with cargo clippy"

      - id: cargo-test
        name: Cargo test
        entry: cargo test --workspace
        language: system
        types: [rust]
        pass_filenames: false
        stages: [manual]
        description: "Run Rust tests (manual stage)"

      - id: cargo-audit
        name: Cargo audit
        entry: cargo audit
        language: system
        pass_filenames: false
        stages: [manual]
        description: "Check for known security vulnerabilities (manual stage)"

  # JavaScript/TypeScript with Biome
  - repo: local
    hooks:
      - id: biome-check
        name: Biome lint and format check
        entry: bash -c 'cd desktop && npx @biomejs/biome check --write false --no-errors-on-unmatched'
        language: system
        files: 'desktop/.*\.(js|ts|tsx|jsx|json|jsonc)$'
        pass_filenames: false
        description: "Check JavaScript/TypeScript formatting and linting with Biome"

      - id: biome-format
        name: Biome format
        entry: bash -c 'cd desktop && npx @biomejs/biome format --write --no-errors-on-unmatched'
        language: system
        files: 'desktop/.*\.(js|ts|tsx|jsx|json|jsonc)$'
        pass_filenames: false
        stages: [manual]
        description: "Auto-format JavaScript/TypeScript with Biome (manual stage)"

  # Conventional commits validation
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v3.0.0
    hooks:
      - id: conventional-pre-commit
        name: Conventional commit format
        stages: [commit-msg]
        args: [
          "--strict",
          "--scopes=feat,fix,docs,style,refactor,perf,test,chore,build,ci,revert"
        ]
        description: "Enforce conventional commit message format"

  # Secret detection
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        name: Detect secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: .*/tests/.*|.*\.lock$|.*\.sum$|.*yarn\.lock$
        description: "Detect secrets in staged code"

# Global exclusions
exclude: |
  (?x)(
    ^target/.*|
    ^desktop/node_modules/.*|
    ^desktop/dist/.*|
    ^desktop/src-tauri/target/.*|
    ^vendor/.*|
    .*\.rs\.bk$|
    ^\.cargo/.*|
    ^artifact/.*
  )

feat: model name displayed correctly
  .env.tauri-release
  1PASSWORD_SETUP.md
  @lessons-learned.md
  @memories.md
  @scratchpad.md
  Cargo.lock
  Cargo.toml
  crates/terraphim_config/src/lib.rs
  crates/terraphim_middleware/src/haystack/mcp.rs
  crates/terraphim_middleware/tests/mcp_haystack_test.rs
  crates/terraphim_tui/tests/extract_functionality_validation.rs
  crates/terraphim_tui/tests/integration_tests.rs
  crates/terraphim_update/Cargo.toml
  desktop/package.json
  desktop/src-tauri/src/cmd.rs
  desktop/src-tauri/tauri.conf.json.template
  desktop/src/lib/Chat/Chat.svelte
  desktop/src/lib/Search/KGContextItem.svelte
  desktop/src/lib/Search/KGSearchModal.svelte
  desktop/src/lib/Search/Search.svelte
  desktop/src/main.ts
  desktop/tests/helpers/context-helpers.ts
  scripts/build-with-signing.sh
  scripts/generate-latest-json.js
  scripts/release-all.sh
  scripts/setup-1password-secrets.sh
  server.log
  terraphim_server/default/ai_engineer_config.json
  terraphim_server/default/ollama_llama_config.json
  terraphim_server/default/terraphim_engineer_config.json
  terraphim_server/dist/assets/index-0e5f385b.js
  terraphim_server/dist/assets/index-133730c4.css
  terraphim_server/dist/assets/novel-editor-72d0a44a.js
  terraphim_server/dist/assets/vendor-atomic-911c42f7.js
  terraphim_server/dist/assets/vendor-editor-f87b2f73.js
  terraphim_server/dist/assets/vendor-ui-65216d17.js
  terraphim_server/dist/assets/vendor-utils-f7aada8e.js
  terraphim_server/dist/index.html
  terraphim_server/src/lib.rs
Due: cargo-fmt, cargo-clippy, biome-check

fix: markdown render in chat
  desktop/src/lib/Chat/Chat.svelte
  desktop/tests/e2e/complete-workflow.spec.ts
  desktop/tests/e2e/context-llm-integration.spec.ts
  desktop/tests/e2e/major-user-journey.spec.ts
  desktop/tests/e2e/search-comprehensive.spec.ts
  desktop/tests/e2e/state-persistence-functional.spec.ts
  desktop/tests/e2e/state-persistence.spec.ts
  desktop/tests/unit/persistence.test.ts
Due: biome-check

major user-journey works
  desktop/src/App.svelte
  desktop/src/lib/BackButton.svelte
  desktop/src/lib/Chat/Chat.svelte
  desktop/src/lib/ConfigJsonEditor.svelte
  desktop/src/lib/ConfigWizard.svelte
  desktop/src/lib/Fetchers/FetchTabs.svelte
  desktop/src/lib/RoleGraphVisualization.svelte
  desktop/src/lib/Search/Search.svelte
Due: none

fix(ui): resolve chat interface issues and improve navigation
  desktop/src/App.svelte
  desktop/src/lib/Chat/Chat.svelte
  desktop/src/lib/Search/KGSearchModal.svelte
Due: none

docs(architecture): update diagrams
  @scratchpad.md
  desktop/tests/e2e/complete-workflow.spec.ts
  desktop/tests/e2e/context-llm-integration.spec.ts
  desktop/tests/e2e/major-user-journey.spec.ts
  desktop/tests/e2e/search-comprehensive.spec.ts
  desktop/tests/e2e/state-persistence-functional.spec.ts
  desktop/tests/e2e/state-persistence.spec.ts
  desktop/tests/unit/persistence.test.ts
  docs/src/Architecture.md
  terraphim_server/dist/index.html
  terraphim_server/dist/splashscreen.html
  terraphim_server/dist/splashscreen.js
Due: biome-check

feat(ui): add debug functionality to chat and fix result item menu
  desktop/src/lib/Chat/Chat.svelte
  desktop/src/lib/Search/ResultItem.svelte
Due: none

feat: Add comprehensive 1Password integration for enterprise secret management
  .github/workflows/ci-1password.yml.template
  @lessons-learned.md
  @memories.md
  @scratchpad.md
  Cargo.lock
  README_1PASSWORD_INTEGRATION.md
  crates/terraphim_onepassword_cli/Cargo.toml
  crates/terraphim_onepassword_cli/src/lib.rs
  crates/terraphim_settings/Cargo.toml
  crates/terraphim_settings/src/lib.rs
  desktop/src-tauri/Cargo.toml
  desktop/src-tauri/src/cmd.rs
  desktop/src-tauri/src/main.rs
  scripts/setup-1password-terraphim.sh
  scripts/validate-1password-integration.sh
  templates/env.terraphim.template
  templates/server_config.json.template
  templates/settings.toml.template
  templates/tauri.conf.json.template
Due: cargo-fmt, cargo-clippy

refactor: Remove experimental terraphim_gen_agent crate and fix compilation issues
  .playwright-mcp/prompt-chaining-initial.png
  .playwright-mcp/workflow-error-state.png
  Cargo.lock
  crates/terraphim_agent_application/Cargo.toml
  crates/terraphim_agent_registry/Cargo.toml
  crates/terraphim_gen_agent/Cargo.toml
  crates/terraphim_gen_agent/README.md
  crates/terraphim_gen_agent/benches/agent_performance.rs
  crates/terraphim_gen_agent/benches/genagent_benchmarks.rs
  crates/terraphim_gen_agent/src/behavior.rs
  crates/terraphim_gen_agent/src/error.rs
  crates/terraphim_gen_agent/src/lib.rs
  crates/terraphim_gen_agent/src/lifecycle.rs
  crates/terraphim_gen_agent/src/runtime.rs
  crates/terraphim_gen_agent/src/state.rs
  crates/terraphim_gen_agent/tests/integration_tests.rs
  crates/terraphim_goal_alignment/Cargo.toml
  crates/terraphim_goal_alignment/src/lib.rs
  crates/terraphim_kg_agents/Cargo.toml
  crates/terraphim_mcp_server/src/lib.rs
  crates/terraphim_multi_agent/Cargo.toml
  crates/terraphim_multi_agent/src/agent.rs
  crates/terraphim_multi_agent/src/genai_llm_client.rs
  examples/agent-workflows/1-prompt-chaining/app.js
  examples/agent-workflows/1-prompt-chaining/index.html
  examples/agent-workflows/2-routing/app.js
  examples/agent-workflows/3-parallelization/app.js
  examples/agent-workflows/4-orchestrator-workers/app.js
  examples/agent-workflows/5-evaluator-optimizer/app.js
  examples/agent-workflows/shared/api-client.js
  examples/agent-workflows/shared/websocket-client.js
  terraphim_server/src/workflows/mod.rs
  terraphim_server/src/workflows/multi_agent_handlers.rs
  terraphim_server/src/workflows/prompt_chain.rs
  terraphim_server/src/workflows/routing.rs
  terraphim_server/src/workflows/websocket.rs
Due: cargo-fmt, cargo-clippy

fix: clean up trailing whitespace and formatting issues
  .github/workflows/ci-1password.yml.template
  scripts/setup-1password-terraphim.sh
  scripts/validate-1password-integration.sh
  templates/settings.toml.template
  terraphim_server/dist/index.html
Due: none

fix: resolve 2-routing workflow JavaScript progression bug
  examples/agent-workflows/2-routing/app.js
  examples/agent-workflows/2-routing/index.html
Due: none

feat: implement KG duplicate processing prevention with HashMap tracking
  @scratchpad.md
  crates/terraphim_service/src/lib.rs
  crates/terraphim_service/tests/kg_duplicate_processing_comprehensive_test.rs
  crates/terraphim_service/tests/kg_duplicate_processing_simple_test.rs
  scripts/test_kg_duplicate_processing.sh
Due: cargo-fmt, cargo-clippy

feat: history of chat
  @memories.md
  @scratchpad.md
  Cargo.lock
  crates/terraphim_persistence/Cargo.toml
  crates/terraphim_persistence/src/error.rs
  crates/terraphim_persistence/src/lib.rs
  crates/terraphim_service/src/lib.rs
  crates/terraphim_service/tests/kg_duplicate_processing_comprehensive_test.rs
  crates/terraphim_service/tests/kg_duplicate_processing_simple_test.rs
  desktop/src-tauri/src/cmd.rs
  desktop/src-tauri/src/main.rs
  desktop/src/lib/Chat/Chat.svelte
  desktop/src/lib/stores.ts
  terraphim_server/dist/index.html
  terraphim_server/src/lib.rs
Due: cargo-fmt, cargo-clippy, biome-check
