Repository terraphim/terraphim-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, biome-check

cargo-fmt:
  name: Cargo format check
  entry: cargo fmt --all -- --check
  language: system
  pass_filenames: false
  description: Check Rust code formatting with cargo fmt

cargo-clippy:
  name: Cargo clippy
  entry: cargo clippy --workspace --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false
  description: Run Rust linter with cargo clippy

biome-check:
  name: Biome lint and format check
  entry: bash -c 'cd desktop && npx @biomejs/biome check --write false --no-errors-on-unmatched'
  language: system
  pass_filenames: false
  description: Check JavaScript/TypeScript formatting and linting with Biome

fix(ci): remove TAURI_KEY_PASSWORD for passwordless signing key
  .github/workflows/publish-tauri.yml
Due: none

fix(desktop): restore original svelte alias config for HMR
  desktop/vite.config.ts
Due: biome-check

Fix remaining compilation issues and clean up test files
  .clippy.toml
  Cargo.lock
  Cargo.toml
  crates/terraphim_persistence/src/conversation.rs
  crates/terraphim_service/tests/chat_with_context_test.rs
  crates/terraphim_service/tests/conversation_service_test.rs
  crates/terraphim_service/tests/ollama_chat_context_live_test.rs
  crates/terraphim_types/src/lib.rs
Due: cargo-fmt, cargo-clippy

Restore workspace configuration to include server and desktop
  Cargo.toml
Due: none

fix: restore frontend build functionality
  .clippy.toml
  desktop/package-lock.json
  desktop/package.json
  desktop/src/lib/Chat/Chat.svelte
  desktop/src/lib/Editor/NovelWrapper.svelte
  desktop/src/lib/Search/ArticleModal.svelte
  desktop/src/lib/Search/ResultItem.svelte
  desktop/vite.config.ts
Due: biome-check

fix: resolve TypeScript errors in Chat.svelte
  desktop/src/lib/Chat/Chat.svelte
Due: none

Fix TypeScript build errors and restore working build
  .clippy.toml
  .github/BIGBOX_RUNNER_SETUP.md
  desktop/src/lib/Chat/ContextEditModal.svelte
  desktop/src/lib/Search/ResultItem.svelte
  desktop/src/lib/ThemeSwitcher.svelte
  desktop/src/lib/generated/types.ts
  scripts/CI-MAINTENANCE.md
  scripts/README-CI-LOCAL.md
  scripts/ci-check-desktop.sh
  scripts/ci-check-format.sh
  scripts/ci-check-frontend.sh
  scripts/ci-check-rust.sh
  scripts/ci-check-tests.sh
  scripts/ci-pr-validation.sh
  scripts/ci-quick-check.sh
  scripts/ci-run-all.sh
  scripts/ci-system-demo.sh
  scripts/ci-usage-guide.md
  scripts/pre-commit-hook.sh
  scripts/setup-pre-commit-hook.sh
  scripts/test-bigbox-runner.sh
  scripts/validate-ci-updates.sh
Due: biome-check

feat: Add progress update emissions to TwoPassDebateWorkflow
  Cargo.toml
  crates/terraphim_truthforge/src/workflows/two_pass_debate.rs
Due: cargo-fmt, cargo-clippy

feat: Add progress update emissions to TwoPassDebateWorkflow
  Cargo.toml
Due: none

feat: Export ProgressUpdate type from terraphim_truthforge
  crates/terraphim_truthforge/src/lib.rs
  crates/terraphim_truthforge/src/workflows/mod.rs
Due: cargo-fmt, cargo-clippy

Modifications from the server
  crates/terraphim_multi_agent/benches/agent_operations.rs
  crates/terraphim_multi_agent/examples/enhanced_atomic_server_example.rs
  crates/terraphim_multi_agent/examples/knowledge_graph_integration.rs
  crates/terraphim_multi_agent/examples/multi_agent_coordination.rs
  crates/terraphim_multi_agent/examples/simple_validation.rs
  crates/terraphim_multi_agent/examples/specialized_agents.rs
  crates/terraphim_multi_agent/examples/workflow_patterns_working.rs
  crates/terraphim_multi_agent/src/agent.rs
  crates/terraphim_multi_agent/src/genai_llm_client.rs
  crates/terraphim_multi_agent/src/lib.rs
  crates/terraphim_multi_agent/src/pool.rs
  crates/terraphim_multi_agent/tests/architecture_proof.rs
  crates/terraphim_multi_agent/tests/integration_proof.rs
  crates/terraphim_multi_agent/tests/rust_execution_tests.rs
Due: cargo-fmt, cargo-clippy

chore: update frontend assets and add Tauri implementation
  crates/terraphim_agent_application/Cargo.lock
  desktop/src-tauri/capabilities/migrated.json
  desktop/src-tauri/gen/schemas/acl-manifests.json
  desktop/src-tauri/gen/schemas/capabilities.json
  desktop/src-tauri/gen/schemas/desktop-schema.json
  desktop/src-tauri/gen/schemas/linux-schema.json
  desktop/src-tauri/src/tray.rs
  terraphim_server/dist/assets/fa-brands-400-34ce05b1.woff2
  terraphim_server/dist/assets/fa-brands-400-bc844b5b.ttf
  terraphim_server/dist/assets/fa-brands-400-c411f119.woff2
  terraphim_server/dist/assets/fa-regular-400-64f9fb62.ttf
  terraphim_server/dist/assets/fa-regular-400-a4b951c0.woff2
  terraphim_server/dist/assets/fa-regular-400-c732f106.woff2
  terraphim_server/dist/assets/fa-solid-900-1f0189e0.woff2
  terraphim_server/dist/assets/fa-solid-900-31f099c1.ttf
  terraphim_server/dist/assets/fa-solid-900-ff6d96ef.woff2
  terraphim_server/dist/assets/fa-v4compatibility-2aca24b3.woff2
  terraphim_server/dist/assets/fa-v4compatibility-a6274a12.ttf
  terraphim_server/dist/assets/index-0ec273a1.css
  terraphim_server/dist/assets/index-a50bbb2b.css
  terraphim_server/dist/assets/index-d1f3cdce.js
  terraphim_server/dist/assets/index-edaf7e05.js
  terraphim_server/dist/assets/novel-editor-17bf1cde.js
  terraphim_server/dist/assets/vendor-atomic-1ea13e29.js
  terraphim_server/dist/assets/vendor-atomic-911c42f7.js
  terraphim_server/dist/assets/vendor-editor-07aac6e4.js
  terraphim_server/dist/assets/vendor-editor-992829d3.js
  terraphim_server/dist/assets/vendor-ui-5061ae11.css
  terraphim_server/dist/assets/vendor-ui-5d806df5.css
  terraphim_server/dist/assets/vendor-ui-b0fcef4c.js
  terraphim_server/dist/assets/vendor-utils-1b347ea1.js
  terraphim_server/dist/assets/vendor-utils-410dcc17.js
  terraphim_server/dist/index.html
Due: cargo-fmt, cargo-clippy, biome-check

feat: Add sub-2 second VM boot optimization system with comprehensive performance management
  terraphim_firecracker/Cargo.toml
  terraphim_firecracker/config.toml
  terraphim_firecracker/configs/test.toml
  terraphim_firecracker/src/config.rs
  terraphim_firecracker/src/error.rs
  terraphim_firecracker/src/main.rs
  terraphim_firecracker/src/manager.rs
  terraphim_firecracker/src/performance/mod.rs
  terraphim_firecracker/src/performance/optimizer.rs
  terraphim_firecracker/src/performance/prewarming.rs
  terraphim_firecracker/src/performance/profiler.rs
  terraphim_firecracker/src/pool/allocation.rs
  terraphim_firecracker/src/pool/maintenance.rs
  terraphim_firecracker/src/pool/mod.rs
  terraphim_firecracker/src/pool/prewarming.rs
  terraphim_firecracker/src/storage/memory.rs
  terraphim_firecracker/src/storage/mod.rs
  terraphim_firecracker/src/vm/config.rs
  terraphim_firecracker/src/vm/firecracker.rs
  terraphim_firecracker/src/vm/mod.rs
  terraphim_firecracker/src/vm/network.rs
Due: cargo-fmt, cargo-clippy

feat: complete TUI command system and comprehensive testing infrastructure
  CI_TESTING_INFRASTRUCTURE_PLAN.md
  COMPREHENSIVE_TEST_REPORT.md
  Cargo.lock
  Cargo.toml
  LLM_PROXY_IMPLEMENTATION_SUMMARY.md
  VM_EXECUTION_API_DESIGN.md
  crates/terraphim_multi_agent/src/genai_llm_client.rs
  crates/terraphim_service/src/lib.rs
  crates/terraphim_service/src/llm_proxy.rs
  crates/terraphim_service/src/openrouter.rs
  crates/terraphim_service/tests/llm_proxy_integration_test.rs
  crates/terraphim_service/tests/openrouter_proxy_test.rs
  crates/terraphim_tui/DEMO_README.md
  crates/terraphim_tui/demo_script.sh
  crates/terraphim_tui/record_demo.sh
  crates/terraphim_tui/src/commands/modes/hybrid.rs
  crates/terraphim_tui/src/commands/tests.rs
  crates/terraphim_tui/src/repl/handler.rs
  demo_terraphim_api.sh
  docs/coding_session_history.txt
  docs/llm-proxy-configuration.md
  docs/src/tui.md
  docs/tui-features.md
  docs/tui-usage.md
  export historys_plan.md
  historys_plan.md
  llm_proxy_updated.txt
  scratchpad.md
  scripts/setup-1password-terraphim.sh
  simple_tui_demo.rs
  templates/env.terraphim.template
  terraphim_firecracker/.gitignore
  terraphim_server/default/terraphim_engineer_config_fixed.json
  test_commands_simple
  test_commands_simple.rs
  test_integration.sh
  tui_implementation_summary.md
  tux_ascii.sh
Due: cargo-fmt, cargo-clippy

Implement comprehensive markdown-based command system with hooks and security
  crates/terraphim_tui/Cargo.toml
  crates/terraphim_tui/commands/README.md
  crates/terraphim_tui/commands/backup.md
  crates/terraphim_tui/commands/deploy.md
  crates/terraphim_tui/commands/hello-world.md
  crates/terraphim_tui/commands/search.md
  crates/terraphim_tui/commands/security-audit.md
  crates/terraphim_tui/commands/test.md
  crates/terraphim_tui/src/client.rs
  crates/terraphim_tui/src/commands/executor.rs
  crates/terraphim_tui/src/commands/hooks.rs
  crates/terraphim_tui/src/commands/markdown_parser.rs
  crates/terraphim_tui/src/commands/mod.rs
  crates/terraphim_tui/src/commands/modes/firecracker.rs
  crates/terraphim_tui/src/commands/modes/hybrid.rs
  crates/terraphim_tui/src/commands/modes/local.rs
  crates/terraphim_tui/src/commands/modes/mod.rs
  crates/terraphim_tui/src/commands/registry.rs
  crates/terraphim_tui/src/commands/tests.rs
  crates/terraphim_tui/src/commands/validator.rs
  crates/terraphim_tui/src/lib.rs
  crates/terraphim_tui/src/repl/commands.rs
  crates/terraphim_tui/src/repl/file_operations.rs
  crates/terraphim_tui/src/repl/handler.rs
  crates/terraphim_tui/src/repl/mod.rs
  crates/terraphim_tui/src/repl/web_operations.rs
  crates/terraphim_tui/tests/command_system_integration_tests.rs
  crates/terraphim_tui/tests/enhanced_search_tests.rs
  crates/terraphim_tui/tests/execution_mode_tests.rs
  crates/terraphim_tui/tests/file_operations_basic_tests.rs
  crates/terraphim_tui/tests/file_operations_command_parsing.rs
  crates/terraphim_tui/tests/hook_system_tests.rs
  crates/terraphim_tui/tests/rolegraph_suggestions_tests.rs
  crates/terraphim_tui/tests/vm_api_tests.rs
  crates/terraphim_tui/tests/vm_functionality_tests.rs
  crates/terraphim_tui/tests/vm_management_tests.rs
  crates/terraphim_tui/tests/web_operations_basic_tests.rs
  crates/terraphim_tui/tests/web_operations_tests.rs
Due: cargo-fmt, cargo-clippy

docs: update project documentation with new features
  DEVELOPMENT_SESSION_SUMMARY.md
  README.md
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$, but not: (?x)(
  ^target/.*|
  ^desktop/node_modules/.*|
  ^desktop/dist/.*|
  ^desktop/src-tauri/target/.*|
  ^vendor/.*|
  .*\.rs\.bk$|
  ^\.cargo/.*|
  ^artifact/.*
)
  cargo-clippy: any of: \.rs$, but not: (?x)(
  ^target/.*|
  ^desktop/node_modules/.*|
  ^desktop/dist/.*|
  ^desktop/src-tauri/target/.*|
  ^vendor/.*|
  .*\.rs\.bk$|
  ^\.cargo/.*|
  ^artifact/.*
)
  biome-check: any of: desktop/.*\.(js|ts|tsx|jsx|json|jsonc)$, but not: (?x)(
  ^target/.*|
  ^desktop/node_modules/.*|
  ^desktop/dist/.*|
  ^desktop/src-tauri/target/.*|
  ^vendor/.*|
  .*\.rs\.bk$|
  ^\.cargo/.*|
  ^artifact/.*
)
