Repository terraphim/terraphim-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, biome-check

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
# This configuration works with pre-commit, prek, and other compatible tools

repos:
  # General code quality hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        name: Trim trailing whitespace
      - id: end-of-file-fixer
        name: Fix end of files
      - id: check-yaml
        name: Check YAML syntax
      - id: check-toml
        name: Check TOML syntax
      - id: check-json
        name: Check JSON syntax
      - id: check-case-conflict
        name: Check for case conflicts
      - id: check-merge-conflict
        name: Check for merge conflicts
      - id: debug-statements
        name: Check for debug statements
      - id: detect-private-key
        name: Detect private keys
      - id: check-added-large-files
        name: Check for large files
        args: ['--maxkb=1000']

  # Rust-specific hooks
  - repo: local
    hooks:
      - id: cargo-fmt
        name: Cargo format check
        entry: cargo fmt --all -- --check
        language: system
        types: [rust]
        pass_filenames: false
        description: "Check Rust code formatting with cargo fmt"

      - id: cargo-clippy
        name: Cargo clippy
        entry: cargo clippy --workspace --all-targets --all-features -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false
        description: "Run Rust linter with cargo clippy"

      - id: cargo-test
        name: Cargo test
        entry: cargo test --workspace
        language: system
        types: [rust]
        pass_filenames: false
        stages: [manual]
        description: "Run Rust tests (manual stage)"

      - id: cargo-audit
        name: Cargo audit
        entry: cargo audit
        language: system
        pass_filenames: false
        stages: [manual]
        description: "Check for known security vulnerabilities (manual stage)"

  # JavaScript/TypeScript with Biome
  - repo: local
    hooks:
      - id: biome-check
        name: Biome lint and format check
        entry: bash -c 'cd desktop && npx @biomejs/biome check --write false --no-errors-on-unmatched'
        language: system
        files: 'desktop/.*\.(js|ts|tsx|jsx|json|jsonc)$'
        pass_filenames: false
        description: "Check JavaScript/TypeScript formatting and linting with Biome"

      - id: biome-format
        name: Biome format
        entry: bash -c 'cd desktop && npx @biomejs/biome format --write --no-errors-on-unmatched'
        language: system
        files: 'desktop/.*\.(js|ts|tsx|jsx|json|jsonc)$'
        pass_filenames: false
        stages: [manual]
        description: "Auto-format JavaScript/TypeScript with Biome (manual stage)"

  # Conventional commits validation
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v3.0.0
    hooks:
      - id: conventional-pre-commit
        name: Conventional commit format
        stages: [commit-msg]
        args: [
          "--strict",
          "--scopes=feat,fix,docs,style,refactor,perf,test,chore,build,ci,revert"
        ]
        description: "Enforce conventional commit message format"

  # Secret detection
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        name: Detect secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: .*/tests/.*|.*\.lock$|.*\.sum$|.*yarn\.lock$
        description: "Detect secrets in staged code"

# Global exclusions
exclude: |
  (?x)(
    ^target/.*|
    ^desktop/node_modules/.*|
    ^desktop/dist/.*|
    ^desktop/src-tauri/target/.*|
    ^vendor/.*|
    .*\.rs\.bk$|
    ^\.cargo/.*|
    ^artifact/.*
  )

Implement comprehensive markdown-based command system with hooks and security
  crates/terraphim_tui/Cargo.toml
  crates/terraphim_tui/commands/README.md
  crates/terraphim_tui/commands/backup.md
  crates/terraphim_tui/commands/deploy.md
  crates/terraphim_tui/commands/hello-world.md
  crates/terraphim_tui/commands/search.md
  crates/terraphim_tui/commands/security-audit.md
  crates/terraphim_tui/commands/test.md
  crates/terraphim_tui/src/client.rs
  crates/terraphim_tui/src/commands/executor.rs
  crates/terraphim_tui/src/commands/hooks.rs
  crates/terraphim_tui/src/commands/markdown_parser.rs
  crates/terraphim_tui/src/commands/mod.rs
  crates/terraphim_tui/src/commands/modes/firecracker.rs
  crates/terraphim_tui/src/commands/modes/hybrid.rs
  crates/terraphim_tui/src/commands/modes/local.rs
  crates/terraphim_tui/src/commands/modes/mod.rs
  crates/terraphim_tui/src/commands/registry.rs
  crates/terraphim_tui/src/commands/tests.rs
  crates/terraphim_tui/src/commands/validator.rs
  crates/terraphim_tui/src/lib.rs
  crates/terraphim_tui/src/repl/commands.rs
  crates/terraphim_tui/src/repl/file_operations.rs
  crates/terraphim_tui/src/repl/handler.rs
  crates/terraphim_tui/src/repl/mod.rs
  crates/terraphim_tui/src/repl/web_operations.rs
  crates/terraphim_tui/tests/command_system_integration_tests.rs
  crates/terraphim_tui/tests/enhanced_search_tests.rs
  crates/terraphim_tui/tests/execution_mode_tests.rs
  crates/terraphim_tui/tests/file_operations_basic_tests.rs
  crates/terraphim_tui/tests/file_operations_command_parsing.rs
  crates/terraphim_tui/tests/hook_system_tests.rs
  crates/terraphim_tui/tests/rolegraph_suggestions_tests.rs
  crates/terraphim_tui/tests/vm_api_tests.rs
  crates/terraphim_tui/tests/vm_functionality_tests.rs
  crates/terraphim_tui/tests/vm_management_tests.rs
  crates/terraphim_tui/tests/web_operations_basic_tests.rs
  crates/terraphim_tui/tests/web_operations_tests.rs
Due: cargo-fmt, cargo-clippy

feat: Add sub-2 second VM boot optimization system with comprehensive performance management
  terraphim_firecracker/Cargo.toml
  terraphim_firecracker/config.toml
  terraphim_firecracker/configs/test.toml
  terraphim_firecracker/src/config.rs
  terraphim_firecracker/src/error.rs
  terraphim_firecracker/src/main.rs
  terraphim_firecracker/src/manager.rs
  terraphim_firecracker/src/performance/mod.rs
  terraphim_firecracker/src/performance/optimizer.rs
  terraphim_firecracker/src/performance/prewarming.rs
  terraphim_firecracker/src/performance/profiler.rs
  terraphim_firecracker/src/pool/allocation.rs
  terraphim_firecracker/src/pool/maintenance.rs
  terraphim_firecracker/src/pool/mod.rs
  terraphim_firecracker/src/pool/prewarming.rs
  terraphim_firecracker/src/storage/memory.rs
  terraphim_firecracker/src/storage/mod.rs
  terraphim_firecracker/src/vm/config.rs
  terraphim_firecracker/src/vm/firecracker.rs
  terraphim_firecracker/src/vm/mod.rs
  terraphim_firecracker/src/vm/network.rs
Due: cargo-fmt, cargo-clippy

docs: update project documentation with new features
  DEVELOPMENT_SESSION_SUMMARY.md
  README.md
Due: none

feat: complete TUI command system and comprehensive testing infrastructure
  CI_TESTING_INFRASTRUCTURE_PLAN.md
  COMPREHENSIVE_TEST_REPORT.md
  Cargo.lock
  Cargo.toml
  LLM_PROXY_IMPLEMENTATION_SUMMARY.md
  VM_EXECUTION_API_DESIGN.md
  crates/terraphim_multi_agent/src/genai_llm_client.rs
  crates/terraphim_service/src/lib.rs
  crates/terraphim_service/src/llm_proxy.rs
  crates/terraphim_service/src/openrouter.rs
  crates/terraphim_service/tests/llm_proxy_integration_test.rs
  crates/terraphim_service/tests/openrouter_proxy_test.rs
  crates/terraphim_tui/DEMO_README.md
  crates/terraphim_tui/demo_script.sh
  crates/terraphim_tui/record_demo.sh
  crates/terraphim_tui/src/commands/modes/hybrid.rs
  crates/terraphim_tui/src/commands/tests.rs
  crates/terraphim_tui/src/repl/handler.rs
  demo_terraphim_api.sh
  docs/coding_session_history.txt
  docs/llm-proxy-configuration.md
  docs/src/tui.md
  docs/tui-features.md
  docs/tui-usage.md
  export historys_plan.md
  historys_plan.md
  llm_proxy_updated.txt
  scratchpad.md
  scripts/setup-1password-terraphim.sh
  simple_tui_demo.rs
  templates/env.terraphim.template
  terraphim_firecracker/.gitignore
  terraphim_server/default/terraphim_engineer_config_fixed.json
  test_commands_simple
  test_commands_simple.rs
  test_integration.sh
  tui_implementation_summary.md
  tux_ascii.sh
Due: cargo-fmt, cargo-clippy

feat(web-components): implement base Web Components infrastructure
  components/base/DELIVERABLES.md
  components/base/IMPLEMENTATION.md
  components/base/README.md
  components/base/__tests__/terraphim-element.test.js
  components/base/__tests__/terraphim-events.test.js
  components/base/__tests__/terraphim-observable.test.js
  components/base/__tests__/test-runner.html
  components/base/example.html
  components/base/index.js
  components/base/terraphim-element.js
  components/base/terraphim-events.js
  components/base/terraphim-observable.js
  components/base/verify.sh
Due: none

feat(web-components): implement vanilla state management system
  components/base/MIGRATION-GUIDE.md
  components/base/README.md
  components/base/STATE-MANAGEMENT.md
  components/base/__tests__/state-helpers.test.js
  components/base/__tests__/state-integration.test.js
  components/base/__tests__/terraphim-state.test.js
  components/base/__tests__/test-runner.html
  components/base/state-helpers.js
  components/base/terraphim-element.js
  components/base/terraphim-state.js
  components/examples/state-role-selector.html
  components/examples/state-search-input.html
  components/examples/state-theme-switcher.html
  components/examples/theme-switcher.html
Due: none

feat(web-components): implement Component Gallery with documentation system
  components/gallery/IMPLEMENTATION.md
  components/gallery/README.md
  components/gallery/data/state-helpers.meta.json
  components/gallery/data/terraphim-element.meta.json
  components/gallery/data/terraphim-state.meta.json
  components/gallery/index.html
  components/gallery/terraphim-code-viewer.js
  components/gallery/terraphim-component-card.js
  components/gallery/terraphim-gallery.js
  components/gallery/terraphim-layout-switcher.js
  components/gallery/terraphim-search.js
  components/gallery/terraphim-sidebar.js
  components/gallery/terraphim-tabs.js
  components/gallery/terraphim-theme-switcher.js
  components/gallery/test-gallery.html
Due: none

chore: add test_commands_simple to gitignore to exclude large binary files
  .gitignore
Due: none

Fix pre-commit issues: resolve Biome linting and secret detection false positives
  .docs/summary-agents_instructions.json
  .docs/summary-build_config.toml
  .docs/summary-crates-terraphim_kg_agents-Cargo.toml
  .docs/summary-desktop-package.json
  .docs/summary-terraphim_server-Cargo.toml
  desktop/biome.json
  desktop/src/App.svelte
  desktop/src/lib/BackButton.svelte
  desktop/src/lib/BackButton.test.ts
  desktop/src/lib/Chat/ContextEditModal.svelte
  desktop/src/lib/Chat/__tests__/ContextManagementHarness.svelte
  desktop/src/lib/Chat/__tests__/contextManagement-harness.test.ts
  desktop/src/lib/ConfigJsonEditor.svelte
  desktop/src/lib/ConfigWizard.svelte
  desktop/src/lib/Editor/NovelWrapper.svelte
  desktop/src/lib/Editor/__tests__/NovelWrapper.test.ts
  desktop/src/lib/Editor/__tests__/TerraphimSuggestion.test.ts
  desktop/src/lib/Fetchers/FetchTabs.svelte
  desktop/src/lib/RoleGraphVisualization.svelte
  desktop/src/lib/Search/ArticleModal.svelte
  desktop/src/lib/Search/AtomicSaveModal.svelte
  desktop/src/lib/Search/KGContextItem.svelte
  desktop/src/lib/Search/KGSearchModal.svelte
  desktop/src/lib/Search/ResultItem.svelte
  desktop/src/lib/Search/Search.svelte
  desktop/src/lib/ThemeSwitcher.svelte
  desktop/src/lib/services/__tests__/novelAutocompleteService.test.ts
  desktop/src/lib/services/chatService.ts
  desktop/src/lib/services/novelAutocompleteService.ts
  desktop/src/main.ts
  desktop/src/scss/utilities/_all.scss
  llm_proxy_updated.txt
  terraphim_firecracker/config.toml
  terraphim_firecracker/configs/test.toml
Due: biome-check

feat(web-components): add gallery, editor, and search infrastructure
  components/base/terraphim-state.js
  components/editor/PHASE1-CHECKLIST.md
  components/editor/PHASE1-SUMMARY.md
  components/editor/QUICK-START.md
  components/editor/README.md
  components/editor/styles/editor-base.css
  components/editor/styles/markdown-syntax.css
  components/editor/terraphim-editor.js
  components/editor/vanilla-markdown-editor.js
  components/gallery/gallery-header.js
  components/gallery/gallery-main.js
  components/gallery/gallery-sidebar.js
  components/gallery/nav-category.js
  components/gallery/nav-item.js
  components/gallery/terraphim-gallery.js
  components/gallery/theme-toggle.js
  components/search/PHASE1_SUMMARY.md
  components/search/README.md
  components/search/index.js
  components/search/search-api.js
  components/search/search-phase1-example.html
  components/search/search-utils.js
  components/search/terraphim-term-chips.js
  docs/gallery/IMPLEMENTATION_SUMMARY.md
  docs/gallery/QUICK_START.md
  docs/gallery/README.md
  docs/gallery/data/components.json
  docs/gallery/data/nav-structure.json
  docs/gallery/index.html
  docs/gallery/scripts/router.js
  docs/gallery/scripts/search.js
  docs/gallery/styles/gallery.css
  docs/gallery/styles/responsive.css
  docs/gallery/styles/theme-dark.css
  docs/gallery/styles/theme-light.css
  docs/gallery/validate.sh
  examples/editor/basic.html
  examples/editor/test-phase1.html
  examples/editor/visual-test.html
  test-web-components.html
Due: none

feat(web-components): complete Phase 2.1 search implementation
  components/search/COMPLETE-SEARCH-DEMO.html
  components/search/PHASE3-IMPLEMENTATION.md
  components/search/README.md
  components/search/index.js
  components/search/search-phase2-example.html
  components/search/search-phase3-example.html
  components/search/search-phase4-example.html
  components/search/terraphim-result-item.js
  components/search/terraphim-search-input.js
  components/search/terraphim-search-results.js
  components/search/terraphim-search.js
Due: none

feat(web-components): add app shell and vanilla router
  components/features/index.js
  components/features/terraphim-chat.js
  components/features/terraphim-config-json.js
  components/features/terraphim-config-wizard.js
  components/features/terraphim-graph.js
  components/features/terraphim-not-found.js
  components/shell/FILE_MANIFEST.txt
  components/shell/IMPLEMENTATION.md
  components/shell/README.md
  components/shell/index.js
  components/shell/router-outlet.js
  components/shell/shell-integration-demo.html
  components/shell/terraphim-app.js
  components/shell/terraphim-nav.js
  components/shell/terraphim-router.js
Due: none

feat(web-components): add JSON configuration editor
  components/config/INTEGRATION.md
  components/config/README.md
  components/config/index.js
  components/config/json-editor-demo.html
  components/config/terraphim-json-editor.js
  components/features/terraphim-config-json.js
Due: none

feat(web-components): add CSS custom properties theme system
  .claude/agents/zestic-frontend-architect/QUICK_START.md
  .claude/agents/zestic-frontend-architect/README.md
  .claude/agents/zestic-frontend-architect/phase-2.4-theme-system-blueprint.md
  components/examples/theme-demo.html
  components/shell/terraphim-theme-switcher.js
  components/styles/README.md
  components/styles/variables.css
Due: none

fix(web-components): update Bulmaswatch CSS paths for demo
  components/examples/theme-demo.html
  components/shell/terraphim-theme-switcher.js
Due: none

Fix TUI compilation and restore REPL functionality
  Cargo.lock
  crates/terraphim_atomic_client/Cargo.toml
  crates/terraphim_atomic_client/src/auth.rs
  crates/terraphim_multi_agent/benches/agent_operations.rs
  crates/terraphim_multi_agent/examples/enhanced_atomic_server_example.rs
  crates/terraphim_multi_agent/examples/knowledge_graph_integration.rs
  crates/terraphim_multi_agent/examples/multi_agent_coordination.rs
  crates/terraphim_multi_agent/examples/simple_validation.rs
  crates/terraphim_multi_agent/examples/specialized_agents.rs
  crates/terraphim_multi_agent/examples/workflow_patterns_working.rs
  crates/terraphim_multi_agent/src/agent.rs
  crates/terraphim_multi_agent/src/genai_llm_client.rs
  crates/terraphim_multi_agent/src/lib.rs
  crates/terraphim_multi_agent/src/pool.rs
  crates/terraphim_multi_agent/tests/architecture_proof.rs
  crates/terraphim_multi_agent/tests/integration_proof.rs
  crates/terraphim_multi_agent/tests/rust_execution_tests.rs
  crates/terraphim_tui/src/commands/hooks.rs
  crates/terraphim_tui/src/commands/markdown_parser.rs
  crates/terraphim_tui/src/commands/modes/firecracker.rs
  crates/terraphim_tui/src/commands/modes/hybrid.rs
  crates/terraphim_tui/src/commands/modes/local.rs
  crates/terraphim_tui/src/commands/registry.rs
  crates/terraphim_tui/src/commands/tests.rs
  crates/terraphim_tui/src/commands/validator.rs
  crates/terraphim_tui/src/lib.rs
  crates/terraphim_tui/src/repl/handler.rs
  crates/terraphim_tui/src/repl/handler.rs.backup
  crates/terraphim_tui/src/repl/mod.rs
  crates/terraphim_tui/tests/command_system_integration_tests.rs
  crates/terraphim_tui/tests/enhanced_search_tests.rs
  crates/terraphim_tui/tests/execution_mode_tests.rs
  crates/terraphim_tui/tests/file_operations_basic_tests.rs
  crates/terraphim_tui/tests/file_operations_command_parsing.rs
  crates/terraphim_tui/tests/hook_system_tests.rs
  crates/terraphim_tui/tests/vm_management_tests.rs
  crates/terraphim_tui/tests/web_operations_basic_tests.rs
  crates/terraphim_tui/tests/web_operations_tests.rs
  history_kg_tui.md
  rust-toolchain.toml
Due: cargo-fmt, cargo-clippy

feat(web-components): add Week 1 chat foundation components
  .claude/agents/zestic-frontend-architect/phase-3.1-chat-component-blueprint.md
  components/chat/chat-api-client.js
  components/chat/terraphim-chat-input.js
  components/chat/terraphim-chat-message.js
  components/chat/terraphim-chat-messages.js
  components/examples/chat-demo.html
Due: none

Fix TUI command search precision with leftmost-longest matching
  crates/terraphim_tui/src/commands/registry.rs
Due: cargo-fmt, cargo-clippy

fix(web-components): correct Boolean attribute handling for empty strings
  .claude/agents/zestic-frontend-architect.md
  .playwright-mcp/.playwright-mcp/after-fix-initial.png
  .playwright-mcp/.playwright-mcp/after-fix-markdown-off.png
  .playwright-mcp/.playwright-mcp/after-force-rerender.png
  .playwright-mcp/.playwright-mcp/after-manual-set-true.png
  .playwright-mcp/.playwright-mcp/after-reload-markdown-on.png
  .playwright-mcp/.playwright-mcp/final-test-markdown-off.png
  .playwright-mcp/.playwright-mcp/markdown-off-with-code-after-fix.png
  .playwright-mcp/.playwright-mcp/markdown-off-with-code.png
  .playwright-mcp/.playwright-mcp/markdown-on-final-test.png
  .playwright-mcp/.playwright-mcp/markdown-on-with-code.png
  .playwright-mcp/.playwright-mcp/new-message-markdown-off.png
  .playwright-mcp/.playwright-mcp/new-message-markdown-on.png
  .playwright-mcp/.playwright-mcp/toggle-markdown-off.png
  .playwright-mcp/.playwright-mcp/toggle-markdown-on.png
  .playwright-mcp/01-theme-light-spacelab.png
  .playwright-mcp/02-theme-dark-darkly.png
  .playwright-mcp/chat-week1-complete.png
  .playwright-mcp/theme-demo-spacelab-light.png
  .playwright-mcp/theme-system-complete-demo.png
  .playwright-mcp/web-components-all-tests-passed.png
  .playwright-mcp/web-components-test-results.png
  components/base/terraphim-element.js
Due: none

TUI fixes
  crates/terraphim_tui/src/client.rs
  crates/terraphim_tui/src/main.rs
  crates/terraphim_tui/tests/integration_tests.rs
  terraphim_server/src/main.rs
Due: cargo-fmt, cargo-clippy

feat(web-components): add unified chat component and header for Week 2
  components/chat/terraphim-chat-header.js
  components/chat/terraphim-chat.js
  components/examples/chat-week2-demo.html
Due: none

Complete feature gate coverage for test files
  crates/terraphim_agent_evolution/src/workflows/parallelization.rs
  crates/terraphim_service/Cargo.toml
  crates/terraphim_service/src/openrouter.rs
  crates/terraphim_service/tests/openrouter_proxy_test.rs
  crates/terraphim_tui/Cargo.toml
  crates/terraphim_tui/tests/command_system_integration_tests.rs
  crates/terraphim_tui/tests/enhanced_search_tests.rs
  crates/terraphim_tui/tests/execution_mode_tests.rs
  crates/terraphim_tui/tests/hook_system_tests.rs
  crates/terraphim_tui/tests/unit_test.rs
  crates/terraphim_tui/tests/vm_management_tests.rs
Due: cargo-fmt, cargo-clippy

Fix remaining compilation issues and feature mismatches
  crates/terraphim_atomic_client/src/auth.rs
  crates/terraphim_middleware/src/haystack/query_rs.rs
  crates/terraphim_service/tests/openrouter_proxy_test.rs
  crates/terraphim_settings/src/lib.rs
  crates/terraphim_tui/src/commands/executor.rs
  crates/terraphim_tui/src/commands/hooks.rs
  crates/terraphim_tui/src/commands/markdown_parser.rs
  crates/terraphim_tui/src/commands/mod.rs
  crates/terraphim_tui/src/commands/modes/firecracker.rs
  crates/terraphim_tui/src/commands/modes/hybrid.rs
  crates/terraphim_tui/src/commands/modes/local.rs
  crates/terraphim_tui/src/commands/validator.rs
  crates/terraphim_tui/src/repl/commands.rs
  crates/terraphim_tui/src/repl/handler.rs
  crates/terraphim_tui/src/repl/web_operations.rs
  crates/terraphim_tui/tests/command_system_integration_tests.rs
  crates/terraphim_tui/tests/execution_mode_tests.rs
  crates/terraphim_tui/tests/web_operations_basic_tests.rs
  crates/terraphim_types/src/lib.rs
Due: cargo-fmt, cargo-clippy

Fix all clippy warnings and pass pre-commit checks
  crates/terraphim_service/tests/llm_proxy_integration_test.rs
  crates/terraphim_tui/tests/rolegraph_suggestions_tests.rs
  crates/terraphim_tui/tests/unit_test.rs
  crates/terraphim_tui/tests/vm_api_tests.rs
  crates/terraphim_tui/tests/vm_functionality_tests.rs
  terraphim_server/src/api.rs
  terraphim_server/src/main.rs
Due: cargo-fmt, cargo-clippy

feat(web-components): add context panel and session manager for Week 3
  components/chat/terraphim-chat-context-panel.js
  components/chat/terraphim-session-manager.js
  components/examples/context-panel-demo.html
Due: none

Add comprehensive agent workflow and user journey testing infrastructure
  .clippy.toml
  .github/workflows/agent-workflow-tests.yml
  desktop/package.json
  desktop/src/lib/Search/KGSearchModal.svelte
  desktop/vite.config.ts
  scripts/test-agent-workflows.sh
  scripts/test-developer-journey.sh
  scripts/test-research-analyst-journey.sh
  test_tui_comprehensive.sh
Due: biome-check

feat(web-components): add Week 4 modal components and Week 3 completion
  components/base/terraphim-modal.js
  components/chat/terraphim-conversation-list.js
  components/examples/chat-week3-demo.html
  components/examples/modals-week4-demo.html
  components/modals/terraphim-article-modal.js
  components/modals/terraphim-atomic-save-modal.js
  components/modals/terraphim-context-edit-modal.js
  components/modals/terraphim-kg-search-modal.js
Due: none

Fix role configuration issues for workflow patterns
  terraphim_server/default/terraphim_engineer_config.json
Due: none
