Repository terraphim/terraphim-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, biome-check

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
# This configuration works with pre-commit, prek, and other compatible tools

repos:
  # General code quality hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        name: Trim trailing whitespace
      - id: end-of-file-fixer
        name: Fix end of files
      - id: check-yaml
        name: Check YAML syntax
      - id: check-toml
        name: Check TOML syntax
      - id: check-json
        name: Check JSON syntax
      - id: check-case-conflict
        name: Check for case conflicts
      - id: check-merge-conflict
        name: Check for merge conflicts
      - id: debug-statements
        name: Check for debug statements
      - id: detect-private-key
        name: Detect private keys
      - id: check-added-large-files
        name: Check for large files
        args: ['--maxkb=1000']

  # Rust-specific hooks
  - repo: local
    hooks:
      - id: cargo-fmt
        name: Cargo format check
        entry: cargo fmt --all -- --check
        language: system
        types: [rust]
        pass_filenames: false
        description: "Check Rust code formatting with cargo fmt"

      - id: cargo-clippy
        name: Cargo clippy
        entry: cargo clippy --workspace --all-targets --all-features -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false
        description: "Run Rust linter with cargo clippy"

      - id: cargo-test
        name: Cargo test
        entry: cargo test --workspace
        language: system
        types: [rust]
        pass_filenames: false
        stages: [manual]
        description: "Run Rust tests (manual stage)"

      - id: cargo-audit
        name: Cargo audit
        entry: cargo audit
        language: system
        pass_filenames: false
        stages: [manual]
        description: "Check for known security vulnerabilities (manual stage)"

  # JavaScript/TypeScript with Biome
  - repo: local
    hooks:
      - id: biome-check
        name: Biome lint and format check
        entry: bash -c 'cd desktop && npx @biomejs/biome check --write false --no-errors-on-unmatched'
        language: system
        files: 'desktop/.*\.(js|ts|tsx|jsx|json|jsonc)$'
        pass_filenames: false
        description: "Check JavaScript/TypeScript formatting and linting with Biome"

      - id: biome-format
        name: Biome format
        entry: bash -c 'cd desktop && npx @biomejs/biome format --write --no-errors-on-unmatched'
        language: system
        files: 'desktop/.*\.(js|ts|tsx|jsx|json|jsonc)$'
        pass_filenames: false
        stages: [manual]
        description: "Auto-format JavaScript/TypeScript with Biome (manual stage)"

  # Conventional commits validation
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v3.0.0
    hooks:
      - id: conventional-pre-commit
        name: Conventional commit format
        stages: [commit-msg]
        args: [
          "--strict",
          "--scopes=feat,fix,docs,style,refactor,perf,test,chore,build,ci,revert"
        ]
        description: "Enforce conventional commit message format"

  # Secret detection
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        name: Detect secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: .*/tests/.*|.*\.lock$|.*\.sum$|.*yarn\.lock$
        description: "Detect secrets in staged code"

# Global exclusions
exclude: |
  (?x)(
    ^target/.*|
    ^desktop/node_modules/.*|
    ^desktop/dist/.*|
    ^desktop/src-tauri/target/.*|
    ^vendor/.*|
    .*\.rs\.bk$|
    ^\.cargo/.*|
    ^artifact/.*
  )

fix: file TermChip.svelte missed
  desktop/src/lib/Search/TermChip.svelte
  terraphim_server/dist/assets/index-fe2a8889.js
Due: none

feat: implement Perplexity AI haystack integration
  .pre-commit-config.yaml
  .secrets.baseline
  @lessons-learned.md
  @memories.md
  @scratchpad.md
  Cargo.lock
  crates/terraphim_config/src/lib.rs
  crates/terraphim_mcp_server/Cargo.toml
  crates/terraphim_mcp_server/tests/mcp_autocomplete_e2e_test.rs
  crates/terraphim_mcp_server/tests/mcp_rolegraph_validation_test.rs
  crates/terraphim_middleware/Cargo.toml
  crates/terraphim_middleware/src/haystack/mod.rs
  crates/terraphim_middleware/src/haystack/perplexity.rs
  crates/terraphim_middleware/src/indexer/mod.rs
  crates/terraphim_middleware/tests/perplexity_haystack_test.rs
  docs/perplexity-integration.md
  examples/perplexity_example.md
  terraphim_server/default/perplexity_researcher_config.json
Due: cargo-fmt, cargo-clippy

fix: security audit
  .gitprivateignore
  SECURITY.md
  scripts/audit-repository.sh
  scripts/configure-git-security.sh
  scripts/validate-push.sh
Due: none

Fixed cargo lock
  Cargo.lock
Due: none

fix: Resolve server panic and fix pulldown-cmark compatibility
  Cargo.lock
  crates/terraphim-markdown-parser/src/main.rs
  terraphim_server/src/lib.rs
Due: cargo-fmt, cargo-clippy

fix: Revert Tauri to stable version 1.x
  desktop/src-tauri/Cargo.toml
Due: none

Matched search terms
  desktop/src/lib/Search/Search.svelte
  desktop/src/lib/Search/searchUtils.ts
  desktop/src/types/svelma.d.ts
  desktop/tests/README.md
  desktop/tests/unit/README.md
  desktop/tests/unit/operator-behavior.test.cjs
  desktop/tests/unit/operator-parsing.test.mjs
  terraphim_server/dist/assets/index-fe2a8889.js
  terraphim_server/dist/assets/vendor-editor-992829d3.js
  terraphim_server/dist/assets/vendor-ui-cd3d2b6a.js
  terraphim_server/dist/index.html
  terraphim_server/dist/splashscreen.html
  terraphim_server/dist/splashscreen.js
Due: biome-check

Matched search terms fixed
  desktop/src/lib/Search/Search.svelte
  desktop/tests/unit/README.md
Due: none

Matched search terms fixed
  desktop/tests/unit/autocomplete-parsing.test.mjs
  terraphim_server/dist/assets/index-cf31c574.js
  test_operators.mjs
Due: none

Search OR/AND operators removed - only inside text
  crates/terraphim_types/src/lib.rs
  desktop/src-tauri/src/cmd.rs
  desktop/src-tauri/tauri.conf.json
  desktop/src/lib/Search/Search.svelte
  desktop/tests/unit/operator-behavior.test.js
  desktop/tests/unit/operator-behavior.test.mjs
  desktop/vitest.config.ts
  docs/action_oriented_ontology_json.json
  terraphim_server/dist/assets/index-02360095.css
  terraphim_server/dist/assets/index-cf31c574.js
  terraphim_server/dist/assets/index-f1549acd.js
  terraphim_server/dist/index.html
  terraphim_server/src/api.rs
  terraphim_server/src/lib.rs
Due: cargo-fmt, cargo-clippy, biome-check

Missing configurations and tests
  crates/terraphim_config/crates/terraphim_settings/default/settings.toml
  crates/terraphim_middleware/Cargo.toml
  crates/terraphim_middleware/tests/atlassian_ripgrep_integration.rs
  crates/terraphim_middleware/tests/atomic_haystack_config_integration.rs
  crates/terraphim_middleware/tests/dual_haystack_validation_test.rs
  crates/terraphim_middleware/tests/haystack_refactor_test.rs
  crates/terraphim_middleware/tests/mcp_haystack_test.rs
  crates/terraphim_middleware/tests/ripgrep.rs
  terraphim_server/Cargo.toml
  terraphim_server/dist/assets/fa-brands-400-bc844b5b.ttf
  terraphim_server/dist/assets/fa-brands-400-c411f119.woff2
  terraphim_server/dist/assets/fa-regular-400-64f9fb62.ttf
  terraphim_server/dist/assets/fa-regular-400-c732f106.woff2
  terraphim_server/dist/assets/fa-solid-900-1f0189e0.woff2
  terraphim_server/dist/assets/fa-solid-900-31f099c1.ttf
  terraphim_server/dist/assets/fa-v4compatibility-2aca24b3.woff2
  terraphim_server/dist/assets/fa-v4compatibility-a6274a12.ttf
  terraphim_server/dist/assets/index-0d64e40a.css
  terraphim_server/dist/assets/index-fe2a8889.js
  terraphim_server/dist/assets/novel-editor-becefd2f.js
  terraphim_server/dist/assets/vendor-atomic-1ea13e29.js
  terraphim_server/dist/assets/vendor-editor-992829d3.js
  terraphim_server/dist/assets/vendor-ui-5d806df5.css
  terraphim_server/dist/assets/vendor-ui-cd3d2b6a.js
  terraphim_server/dist/assets/vendor-utils-740e9743.js
  terraphim_server/dist/index.html
Due: cargo-fmt, cargo-clippy

feat: implement KG search Tauri commands with performance optimization
  @memories.md
  crates/terraphim_service/src/context.rs
  crates/terraphim_service/src/context_tests.rs
  crates/terraphim_types/src/lib.rs
  desktop/src-tauri/src/cmd.rs
  desktop/src-tauri/src/main.rs
  desktop/src/lib/Chat/Chat.svelte
  desktop/src/lib/Search/KGContextItem.svelte
  desktop/src/lib/Search/KGSearchModal.svelte
Due: cargo-fmt, cargo-clippy

feat: implement comprehensive KG search functionality with performance optimizations
  Cargo.lock
  crates/terraphim_service/tests/chat_with_context_test.rs
  crates/terraphim_service/tests/test_utilities/mod.rs
  crates/terraphim_types/src/lib.rs
  desktop/src-tauri/Cargo.toml
  desktop/src-tauri/src/cmd.rs
  desktop/src/lib/Search/KGContextItem.svelte
  desktop/src/lib/Search/KGSearchModal.svelte
  desktop/src/lib/Search/Search.svelte
  desktop/src/lib/Search/searchUtils.ts
  desktop/src/types/svelma.d.ts
  desktop/tests/e2e/kg-search-context.spec.ts
  desktop/tests/unit/autocomplete-parsing.test.mjs
  desktop/tests/unit/operator-behavior.test.cjs
  desktop/tests/unit/operator-behavior.test.js
  desktop/tests/unit/operator-behavior.test.mjs
  desktop/tests/unit/operator-parsing.test.mjs
  docs/action_oriented_ontology_json.json
  terraphim_server/dist/assets/index-8448d8bc.js
  terraphim_server/dist/assets/index-d5c2c197.css
  terraphim_server/dist/assets/index-f1549acd.js
  terraphim_server/dist/index.html
  terraphim_server/src/api.rs
  terraphim_server/tests/api_context_tests.rs
  test_operators.mjs
Due: cargo-fmt, cargo-clippy, biome-check
