Repository terraphim/terraphim-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, biome-check

cargo-fmt:
  name: Cargo format check
  entry: cargo fmt --all -- --check
  language: system
  pass_filenames: false
  description: Check Rust code formatting with cargo fmt

cargo-clippy:
  name: Cargo clippy
  entry: cargo clippy --workspace --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false
  description: Run Rust linter with cargo clippy

biome-check:
  name: Biome lint and format check
  entry: bash -c 'cd desktop && npx @biomejs/biome check --write false --no-errors-on-unmatched'
  language: system
  pass_filenames: false
  description: Check JavaScript/TypeScript formatting and linting with Biome

fix(agent): use contains() instead of iter().any() in tests
  crates/terraphim_agent/tests/rolegraph_suggestions_tests.rs
Due: cargo-fmt, cargo-clippy

fix(server): resolve clippy errors in test files
  terraphim_server/tests/default_role_integration_test.rs
  terraphim_server/tests/relevance_functions_duplicate_test.rs
Due: cargo-fmt, cargo-clippy

fix(ci): fix unclosed if statements in ci-check-frontend.sh
  scripts/ci-check-frontend.sh
Due: none

fix(deps): pin wiremock to 0.6.4 to avoid nightly features
  crates/haystack_discourse/Cargo.toml
Due: none

fix(test): skip thesaurus test when KG files unavailable
  crates/terraphim_cli/tests/service_tests.rs
Due: cargo-fmt, cargo-clippy

Update Tauri CLI version to 1.5.11 in package.json and yarn.lock; add RPM metadata in Cargo.toml for asset management.
  desktop/package.json
  desktop/src-tauri/Cargo.toml
  desktop/yarn.lock
  memories.md
  scratchpad.md
Due: biome-check

fix(test): handle off-hours time restrictions in security validation test
  crates/terraphim_agent/src/commands/tests.rs
Due: cargo-fmt, cargo-clippy

style(test): apply cargo fmt to commands/tests.rs
  crates/terraphim_agent/src/commands/tests.rs
Due: cargo-fmt, cargo-clippy

chore: use stable Rust toolchain instead of pinned version
  crates/terraphim_agent/src/commands/tests.rs
  rust-toolchain.toml
  scripts/ci-check-format.sh
Due: cargo-fmt, cargo-clippy

fix(ci): rename terraphim_tui to terraphim_agent throughout codebase
  .github/workflows/ci-optimized.yml
  .github/workflows/package-release.yml
  .github/workflows/release-comprehensive.yml
  .github/workflows/rust-build.yml
  crates/terraphim_agent/tests/comprehensive_cli_tests.rs
  crates/terraphim_agent/tests/extract_functionality_validation.rs
  crates/terraphim_agent/tests/integration_test.rs
  crates/terraphim_agent/tests/integration_tests.rs
  crates/terraphim_agent/tests/offline_mode_tests.rs
  crates/terraphim_agent/tests/persistence_tests.rs
  crates/terraphim_agent/tests/replace_feature_tests.rs
  crates/terraphim_agent/tests/selected_role_tests.rs
  crates/terraphim_agent/tests/server_mode_tests.rs
Due: cargo-fmt, cargo-clippy

fix(ci): update Earthfile to use terraphim_agent instead of terraphim_tui
  Earthfile
Due: none

fix(ci): use stable Rust instead of pinned version in CI
  .github/docker/builder.Dockerfile
  desktop/src-tauri/Cargo.toml
Due: none

fix(clippy): resolve dead code and lint warnings in claude-log-analyzer
  crates/claude-log-analyzer/src/connectors/codex.rs
  crates/claude-log-analyzer/src/connectors/mod.rs
  crates/claude-log-analyzer/src/connectors/opencode.rs
Due: cargo-fmt, cargo-clippy

fix(clippy): resolve dead code and unused warnings across crates
  crates/terraphim_agent/src/forgiving/mod.rs
  crates/terraphim_agent/src/repl/handler.rs
  crates/terraphim_agent/src/robot/docs.rs
  crates/terraphim_agent/src/robot/mod.rs
  crates/terraphim_cli/tests/cli_command_tests.rs
  crates/terraphim_repl/src/repl/handler.rs
  crates/terraphim_repl/src/repl/mod.rs
  crates/terraphim_repl/src/service.rs
Due: cargo-fmt, cargo-clippy

fix(clippy): restore mut with allow annotation for feature-gated code
  crates/terraphim_agent/src/robot/docs.rs
  crates/terraphim_cli/tests/integration_tests.rs
Due: cargo-fmt, cargo-clippy

Path conditions:
  cargo-fmt: any of: \.rs$, but not: (?x)(
  ^target/.*|
  ^desktop/node_modules/.*|
  ^desktop/dist/.*|
  ^desktop/src-tauri/target/.*|
  ^vendor/.*|
  .*\.rs\.bk$|
  ^\.cargo/.*|
  ^artifact/.*
)
  cargo-clippy: any of: \.rs$, but not: (?x)(
  ^target/.*|
  ^desktop/node_modules/.*|
  ^desktop/dist/.*|
  ^desktop/src-tauri/target/.*|
  ^vendor/.*|
  .*\.rs\.bk$|
  ^\.cargo/.*|
  ^artifact/.*
)
  biome-check: any of: desktop/.*\.(js|ts|tsx|jsx|json|jsonc)$, but not: (?x)(
  ^target/.*|
  ^desktop/node_modules/.*|
  ^desktop/dist/.*|
  ^desktop/src-tauri/target/.*|
  ^vendor/.*|
  .*\.rs\.bk$|
  ^\.cargo/.*|
  ^artifact/.*
)
