Repository terraphim/terraphim-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, biome-check

cargo-fmt:
  name: Cargo format check
  entry: cargo fmt --all -- --check
  language: system
  pass_filenames: false
  description: Check Rust code formatting with cargo fmt

cargo-clippy:
  name: Cargo clippy
  entry: cargo clippy --workspace --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false
  description: Run Rust linter with cargo clippy

biome-check:
  name: Biome lint and format check
  entry: bash -c 'cd desktop && npx @biomejs/biome check --write false --no-errors-on-unmatched'
  language: system
  pass_filenames: false
  description: Check JavaScript/TypeScript formatting and linting with Biome

fix: make command integration test more resilient to search results
  crates/terraphim_agent/tests/command_system_integration_tests.rs
Due: cargo-fmt, cargo-clippy

Fix remaining conflict marker in Cargo.toml
  Cargo.toml
Due: none

fix: resolve 3 failing integration tests in terraphim_agent
  crates/terraphim_agent/src/commands/mod.rs
  crates/terraphim_agent/src/commands/tests.rs
  crates/terraphim_agent/src/commands/validator.rs
  crates/terraphim_agent/tests/command_system_integration_tests.rs
  crates/terraphim_agent/tests/execution_mode_tests.rs
Due: cargo-fmt, cargo-clippy

Fix test failures and YAML syntax issues
  .env.example
  .github/workflows/publish-bun.yml
  .github/workflows/publish-crates.yml
  .github/workflows/publish-npm.yml
  .github/workflows/publish-pypi.yml
  PLAN.md
  RELEASE_NOTES_v1.0.0.md
  RELEASE_PLAN_v1.0.0.md
  crates/terraphim_agent/src/commands/tests.rs
  crates/terraphim_mcp_server/src/lib.rs
  crates/terraphim_multi_agent/src/pool.rs
  crates/terraphim_rolegraph/SERIALIZATION.md
  crates/terraphim_rolegraph/serialization_example.rs
  docs/autoupdate.md
  docs/github-secrets-setup.md
  scripts/setup-crates-token.sh
  scripts/validate-github-token.sh
  terraphim_ai_nodejs/.github/workflows/build-wasm.yml
  terraphim_ai_nodejs/.github/workflows/publish-bun.yml
  terraphim_ai_nodejs/.github/workflows/publish-npm.yml
  terraphim_ai_nodejs/NPM_PUBLISHING.md
  terraphim_ai_nodejs/PUBLISHING.md
  terraphim_ai_nodejs/README.md
  terraphim_ai_nodejs/debug_exports.js
  terraphim_ai_nodejs/index.js
  terraphim_ai_nodejs/test_autocomplete.js
  terraphim_ai_nodejs/test_knowledge_graph.js
  terraphim_server/dist/index.html
Due: cargo-fmt, cargo-clippy

fix: resolve clippy warnings across multiple crates
  crates/terraphim_middleware/src/haystack/grep_app.rs
  crates/terraphim_middleware/src/haystack/mod.rs
  crates/terraphim_middleware/src/indexer/mod.rs
  crates/terraphim_middleware/src/lib.rs
  crates/terraphim_multi_agent/src/pool.rs
  desktop/src-tauri/src/cmd.rs
Due: cargo-fmt, cargo-clippy

fix: resolve clippy and YAML warnings (fixes #7, #6, #8, #1, #2)
  .github/workflows/publish-npm.yml
  .github/workflows/publish-pypi.yml
  crates/terraphim_agent/src/commands/modes/firecracker.rs
  crates/terraphim_agent/src/commands/tests.rs
  crates/terraphim_agent/tests/comprehensive_cli_tests.rs
  crates/terraphim_agent/tests/extract_feature_tests.rs
  crates/terraphim_agent/tests/hook_system_tests.rs
  crates/terraphim_agent/tests/offline_mode_tests.rs
  crates/terraphim_agent/tests/replace_feature_tests.rs
  crates/terraphim_agent/tests/selected_role_tests.rs
  crates/terraphim_agent/tests/server_mode_tests.rs
  crates/terraphim_agent/tests/vm_api_tests.rs
  crates/terraphim_agent/tests/vm_functionality_tests.rs
  terraphim_server/tests/relevance_functions_duplicate_test.rs
Due: cargo-fmt, cargo-clippy

fix: resolve remaining bool comparison clippy warning
  crates/terraphim_agent/src/commands/tests.rs
  crates/terraphim_agent/tests/enhanced_search_tests.rs
Due: cargo-fmt, cargo-clippy

refactor: fix module organization and test structure (fixes #3, #4)
  crates/terraphim_agent/src/commands/markdown_parser.rs
  crates/terraphim_agent/src/commands/modes/firecracker.rs
  crates/terraphim_agent/src/commands/tests.rs
Due: cargo-fmt, cargo-clippy

fix: resolve vm_functionality_tests compilation error
  crates/terraphim_agent/tests/vm_functionality_tests.rs
Due: cargo-fmt, cargo-clippy

fix: quote YAML glob patterns to prevent alias interpretation
  .github/workflows/publish-bun.yml
  .github/workflows/publish-npm.yml
  crates/terraphim_agent/src/commands/tests.rs
  terraphim_ai_nodejs/.github/workflows/publish-bun.yml
  terraphim_ai_nodejs/.github/workflows/publish-npm.yml
Due: cargo-fmt, cargo-clippy

fix: update Svelte 5 testing library compatibility
  desktop/package.json
  desktop/src/lib/BackButton.integration.test.ts
  desktop/src/lib/BackButton.test.ts
  desktop/src/lib/Chat/__tests__/ContextEditModal.test.ts
  desktop/src/lib/Chat/__tests__/contextManagement.test.ts
  desktop/src/lib/Search/Search.test.ts
  desktop/src/lib/ThemeSwitcher.test.ts
  desktop/tests/e2e/summarization.spec.ts
  desktop/tests/global-teardown-autocomplete.ts
Due: biome-check

fix: resolve pre-commit formatting issues
  crates/terraphim_agent/tests/command_system_integration_tests.rs.backup
  docs/atomic-feature-flag.md
Due: none

fix: resolve final frontend linting issues
  crates/terraphim_rolegraph/src/lib.rs
  desktop/tests/webdriver/setup.ts
  desktop/yarn.lock
Due: cargo-fmt, cargo-clippy, biome-check

Path conditions:
  cargo-fmt: any of: \.rs$, but not: (?x)(
  ^target/.*|
  ^desktop/node_modules/.*|
  ^desktop/dist/.*|
  ^desktop/src-tauri/target/.*|
  ^vendor/.*|
  .*\.rs\.bk$|
  ^\.cargo/.*|
  ^artifact/.*
)
  cargo-clippy: any of: \.rs$, but not: (?x)(
  ^target/.*|
  ^desktop/node_modules/.*|
  ^desktop/dist/.*|
  ^desktop/src-tauri/target/.*|
  ^vendor/.*|
  .*\.rs\.bk$|
  ^\.cargo/.*|
  ^artifact/.*
)
  biome-check: any of: desktop/.*\.(js|ts|tsx|jsx|json|jsonc)$, but not: (?x)(
  ^target/.*|
  ^desktop/node_modules/.*|
  ^desktop/dist/.*|
  ^desktop/src-tauri/target/.*|
  ^vendor/.*|
  .*\.rs\.bk$|
  ^\.cargo/.*|
  ^artifact/.*
)
