Repository terraphim/terraphim-ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, biome-check

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
# This configuration works with pre-commit, prek, and other compatible tools

repos:
  # General code quality hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        name: Trim trailing whitespace
      - id: end-of-file-fixer
        name: Fix end of files
      - id: check-yaml
        name: Check YAML syntax
      - id: check-toml
        name: Check TOML syntax
      - id: check-json
        name: Check JSON syntax
      - id: check-case-conflict
        name: Check for case conflicts
      - id: check-merge-conflict
        name: Check for merge conflicts
      - id: debug-statements
        name: Check for debug statements
      - id: detect-private-key
        name: Detect private keys
      - id: check-added-large-files
        name: Check for large files
        args: ['--maxkb=1000']

  # Rust-specific hooks
  - repo: local
    hooks:
      - id: cargo-fmt
        name: Cargo format check
        entry: cargo fmt --all -- --check
        language: system
        types: [rust]
        pass_filenames: false
        description: "Check Rust code formatting with cargo fmt"

      - id: cargo-clippy
        name: Cargo clippy
        entry: cargo clippy --workspace --all-targets --all-features -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false
        description: "Run Rust linter with cargo clippy"

      - id: cargo-test
        name: Cargo test
        entry: cargo test --workspace
        language: system
        types: [rust]
        pass_filenames: false
        stages: [manual]
        description: "Run Rust tests (manual stage)"

      - id: cargo-audit
        name: Cargo audit
        entry: cargo audit
        language: system
        pass_filenames: false
        stages: [manual]
        description: "Check for known security vulnerabilities (manual stage)"

  # JavaScript/TypeScript with Biome
  - repo: local
    hooks:
      - id: biome-check
        name: Biome lint and format check
        entry: bash -c 'cd desktop && npx @biomejs/biome check --write false --no-errors-on-unmatched'
        language: system
        files: 'desktop/.*\.(js|ts|tsx|jsx|json|jsonc)$'
        pass_filenames: false
        description: "Check JavaScript/TypeScript formatting and linting with Biome"

      - id: biome-format
        name: Biome format
        entry: bash -c 'cd desktop && npx @biomejs/biome format --write --no-errors-on-unmatched'
        language: system
        files: 'desktop/.*\.(js|ts|tsx|jsx|json|jsonc)$'
        pass_filenames: false
        stages: [manual]
        description: "Auto-format JavaScript/TypeScript with Biome (manual stage)"

  # Conventional commits validation
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v3.0.0
    hooks:
      - id: conventional-pre-commit
        name: Conventional commit format
        stages: [commit-msg]
        args: [
          "--strict",
          "--scopes=feat,fix,docs,style,refactor,perf,test,chore,build,ci,revert"
        ]
        description: "Enforce conventional commit message format"

  # Secret detection
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        name: Detect secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: .*/tests/.*|.*\.lock$|.*\.sum$|.*yarn\.lock$
        description: "Detect secrets in staged code"

# Global exclusions
exclude: |
  (?x)(
    ^target/.*|
    ^desktop/node_modules/.*|
    ^desktop/dist/.*|
    ^desktop/src-tauri/target/.*|
    ^vendor/.*|
    .*\.rs\.bk$|
    ^\.cargo/.*|
    ^artifact/.*
  )

fix(tests): add CI-awareness to persistence_tests.rs
  crates/terraphim_agent/tests/persistence_tests.rs
Due: cargo-fmt, cargo-clippy

fix(tests): add CI-awareness to replace_feature_tests
  crates/terraphim_agent/tests/replace_feature_tests.rs
Due: cargo-fmt, cargo-clippy

fix(tests): add IO error detection to CI-awareness
  crates/terraphim_agent/tests/replace_feature_tests.rs
Due: cargo-fmt, cargo-clippy

Docs: compare turbopuffer ContainsAnyToken with Terraphim search/rolegraph
  docs/designs/turbopuffer-query-parity.md
Due: none

fix(tests): add CI-awareness to selected_role_tests
  crates/terraphim_agent/tests/selected_role_tests.rs
Due: cargo-fmt, cargo-clippy

fix: remove unused is_ci_environment function from selected_role_tests
  crates/terraphim_agent/tests/selected_role_tests.rs
Due: cargo-fmt, cargo-clippy

test(agent): add integration tests and verification reports for onboarding wizard
  .docs/validation-cli-onboarding-wizard.md
  .docs/verification-cli-onboarding-wizard.md
  crates/terraphim_agent/src/lib.rs
  crates/terraphim_agent/tests/onboarding_integration.rs
Due: cargo-fmt, cargo-clippy

feat(middleware): add Quickwit haystack integration with hybrid index discovery
  crates/terraphim_middleware/src/haystack/quickwit.rs
Due: cargo-fmt, cargo-clippy

feat(quickwit): add integration tests, example configs, and documentation
  CLAUDE.md
  crates/terraphim_settings/test_settings/settings.toml
  docs/quickwit-integration.md
Due: none

docs: add validation framework research and plan approvals
  .docs/design-validation-framework.md
  .docs/research-validation-framework.md
Due: none

chore(settings): reorder test settings profiles
  crates/terraphim_settings/test_settings/settings.toml
Due: none

Clean up merge artifacts and broken tests
  Cargo.lock
  crates/terraphim_validation/tests/desktop_ui_integration_tests.rs.bak
  crates/terraphim_validation/tests/integration_tests.rs.bak
  crates/terraphim_validation/tests/server_api_basic_test.rs.bak
  crates/terraphim_validation/tests/server_api_integration_tests.rs.bak
Due: none

chore(validation): remove backup test files
  crates/terraphim_validation/tests/desktop_ui_integration_tests.rs.bak
  crates/terraphim_validation/tests/integration_tests.rs.bak
  crates/terraphim_validation/tests/server_api_basic_test.rs.bak
  crates/terraphim_validation/tests/server_api_integration_tests.rs.bak
Due: none

chore(settings): align test settings ordering
  crates/terraphim_settings/test_settings/settings.toml
Due: none

Add Tauri signing setup and improved build scripts
  TAURI_SETUP_INSTRUCTIONS.md
  packaging/scripts/build-all-formats.sh
  scripts/generate-tauri-keys.sh
  scripts/setup-tauri-signing.sh
Due: none

Update Cargo.lock and build artifacts after merge
  crates/terraphim_automata/Cargo.toml
  desktop/test-config.json
Due: biome-check

chore(settings): normalize test settings ordering
  crates/terraphim_settings/test_settings/settings.toml
Due: none

fix(packaging): complete build-all-formats.sh with all format scripts
  Cargo.lock
  crates/terraphim_automata/Cargo.toml
  packaging/scripts/build-all-formats.sh
  packaging/scripts/build-appimage.sh
  packaging/scripts/build-arch.sh
  packaging/scripts/build-deb.sh
  packaging/scripts/build-flatpak.sh
  packaging/scripts/build-rpm.sh
  packaging/scripts/build-snap.sh
Due: none

chore(deps): update Cargo.lock
  Cargo.lock
Due: none

test(validation): restore integration tests behind feature flags
  crates/terraphim_validation/tests/desktop_ui_integration_tests.rs
  crates/terraphim_validation/tests/integration_tests.rs
  crates/terraphim_validation/tests/server_api_basic_test.rs
  crates/terraphim_validation/tests/server_api_integration_tests.rs
Due: cargo-fmt, cargo-clippy

fix(tests): skip server mode tests in CI when server fails to start
  crates/terraphim_agent/tests/server_mode_tests.rs
Due: cargo-fmt, cargo-clippy

fix(tests): update unit_test.rs to use valid ConfigId enum value
  crates/terraphim_agent/tests/unit_test.rs
Due: cargo-fmt, cargo-clippy

style: fix formatting in terraphim_automata and terraphim_service
  crates/terraphim_automata/src/lib.rs
  crates/terraphim_service/src/lib.rs
Due: cargo-fmt, cargo-clippy

fix(tests): skip update tests when binary unavailable in CI
  crates/terraphim_agent/tests/update_functionality_tests.rs
Due: cargo-fmt, cargo-clippy
